[2019-12-01 02:51] karllessard opened #1 "TensorFlow support in DJL and NDArrays"
Hi,

This is not really a feature request but I thought it would be easy to reach out to the DJL community here, so please close this issue whenever you wish.

I represent the official group responsible of maintaining and enhancing the support of TensorFlow on the JVM. We have just heard of your initiative and we are very excited about it. We would like to know if there is anything we can do to he

[2019-12-01 03:44] frankfliu commented on #1
@karllessard
Thank you very much for reaching to us. I think we share the same vision that NDArray need to be standardized. We are eager to get comments and opinions. We are not satisfied with our current NDArray interface, we need more voice from java community to guide us how to make it better.

Hope to talk to you soon.

[2019-12-01 05:00] agibsonccc commented on #1
@frankfliu Hi Frank. The dl4j team is working within sig-jvm already.

 We already did a lot of this work within our tensor framework including proper numpy interop. We have a parallel "engine" with our own garbage collection, implementations of various operations in c/c++ and are happy to share our work with the community.
We expect there to be different opinions on how things should be done. We'

[2019-12-01 06:04] wmeddie opened #2 "Add a ND4J backend"
## Description
ND4J, the accelerated linear algebra backend that powers Eclipse DeepLearning4J, should have all the necessary features to become a proper backend for DJL.

### Will this change the current api? How?
No API changes should be necessary for the basics.  If ND4J provides any opportunity an API enhancement we can discuss those as a separate issue.

### Who will benefit from this feature

[2019-12-01 15:01] lanking520 commented on #2
Wow, that's great! Thanks for your interest in DJL. Hope to see your contribution soon :).

Recommendation:
1. Please work carefully on the NDManager because that is the most effective layer to collect memory.
2. The NDArray behavior may change through time since we are actively adding more ops into DJL.

[2019-12-01 15:15] shilan commented on #2
Does this mean that it will also work in windows? I became really disappointed when I tried to build examples on my windows machine and I realized that it is impossible. And then probably I cannot use the entire library on my windows pc :( is there a way to go around this?

[2019-12-01 15:18] lanking520 commented on #2
Currently, Windows is WIP. We will try to get there once we have MXNet 1.6 for Windows (MXNet Engine). For now, you can use docker to host it on Windows.

[2019-12-01 15:25] wmeddie commented on #2
I also used WSL to build which works fine for CPU at least.

ND4J does work (and pretty much has always worked) on Windows so given that enough of the operations are added it could in theory be used.  MXNet 1.6 might come out sooner though not sure on the timeline of that.

[2019-12-01 19:43] shilan commented on #2
great idea! never thought about that. However, I have never worked WSL before, hopefully it is straight forward to use :)

[2019-12-02 15:29] karllessard commented on #1
I think we all agree that DJL's GitHub is probably not the best channel for starting our discussion on NDArrays standardization, so I've created this public and informal Google Group where all parties can share their ideas on what this specification should look like and how it can be standardized:

https://groups.google.com/forum/#!forum/java-ndarray-standardization

Please also share with anyone

[2019-12-03 00:34] agibsonccc commented on #1
@karllessard thanks. I'm ok with this for now.

[2019-12-07 19:53] tribbloid opened #4 "Cannot build without testing"
## Description
To quickly compile the artifact sometimes I want to skip tests while building, but this is prohibited in by the gradle task ':integration:jacocoTestReport'.

### Expected Behavior
The project should be able to compile without any test

### Error Message
[code]

## How to Reproduce?
just running `./gradlew build -x test` under project

### Steps to reproduce
(Paste the commands you r

[2019-12-07 22:31] frankfliu commented on #4
@tribbloid
Thanks for reporting this issue. I created a commit to address this issue: https://github.com/awslabs/djl/commit/20cb68dea7511bfaf080048b774ce63ecfa35f2b

Feel free to reopen this issue if you still see it.

[2019-12-07 22:31] #4 closed

[2019-12-07 22:34] tribbloid commented on #4
roger that, thanks a lot!

[2019-12-13 22:01] jSaso opened #10 "Multi array label Softmax Cross Entropy loss function"
## Description
We want to have multi array labels/prediction. Currently API can handle only one label (first element in NDArray). Obvious examples are **Multi digit number recognition**, where we can predict multiple digits from provided input. Example of this: https://github.com/eclipse/deeplearning4j-examples/blob/master/dl4j-examples/src/main/java/org/deeplearning4j/examples/convolution/captcha

[2019-12-14 05:28] frankfliu commented on #10
@jSaso
Thanks very much for reaching out to us.

Our currently API already support multiple input/multiple label/multiple output use case.
I agree it's not obvious by just looking at the API. And we don't have examples to show case this usage. We will add examples/document to make it clear.

Here is some quick pointer:
1. [Batch](https://javadoc.djl.ai/api/0.2.0/index.html) API use NDList type for

[2019-12-14 05:51] frankfliu commented on #2
@shilan
You can try latest code now, it should work on Windows for both CPU/GPU now. Please notes windows support is still WIP, and only support limited cuda arch (sm_37, sm_70).

[2019-12-14 09:24] jSaso commented on #10
Thanks @frankfliu
I saw that API uses NDList. Thats why I thoot that multi array labels - multi class are supported. This is not the case in current API.
It would be nice to to have this supported - implement softmax loss function which support not just single label array, but multiple labels array.

[2019-12-15 11:46] OElesin opened #11 "ModelNotFound Exception while loading SSD Model"
## Description
I am attempting to reproduce this ObjectDetection [example](https://github.com/awslabs/djl/blob/master/examples/docs/object_detection.md) in Scala. However, when I specify the model criteria as illustrated in the example code, I get an error that the model is not found.

### Expected Behavior
Model should be loaded and objects in image should be detected as in example

### Error Mes

[2019-12-15 18:15] frankfliu commented on #11
@OElesin
Thanks for reporting this issue.

Currently we have two model zoo, one is imperative model zoo (Engine agnostic) and other one is MXNet symbolic model zoo.

The criteria you provided only exists in MxModelZoo.
In your case, you need:
1. include: ai.djl.mxnet:mxnet-model-zoo:0.2.0 in your project
2. use: val model = MxModelZoo.SSD.loadModel(criteria) to load the model

By the way, you use:

[2019-12-15 19:59] OElesin commented on #11
@frankfliu,
I followed the steps you described and got the following:
[code]

[2019-12-15 22:29] frankfliu commented on #11
@OElesin
Can you run following command in djl example project and collect logs:
[code]

And also please collect debug logs for your project, to turn on debug log add -Dai.djl.logging.level=debug.

It looks like you are using an incompatible version of MXNet, seems it comes from your pip mxnet package.
1. did you set MXNET_LIBRARY_PATH environment variable?
2. Did you include "ai.djl.mxnet:mxnet-na

[2019-12-19 03:40] frankfliu commented on #1
@karllessard
Sorry for the delay due to holidays.
We are more than happy to accept support from you guys. Would you mind to schedule a call to sync up? I really looking forward to talk to you guys and share our vision and goal. And we can discuss how can we collaborate on NDArrays standardization as well.

[2019-12-20 19:06] karllessard commented on #1
Hi @frankfliu, sounds good, the SIG has a monthly community call which could be a nice opportunity to sync up. This month though might be special though as it occurs during the holidays (December 27th) and I don't know how many people will be able to attend to it, including in your team.

So if that doesn't work on your side, we can setup a special meeting early January and send an invite to the S

[2019-12-20 19:24] frankfliu commented on #1
@karllessard
I'm afraid most of our members are out on December 27th. It would be nice if we can schedule something early January. We can jump on next meeting on Jan 24th if that doesn't work.

[2019-12-23 21:41] zachgk commented on #10
@jSaso Could you use the [`CompositeLoss`](https://github.com/awslabs/djl/blob/master/api/src/main/java/ai/djl/training/loss/CompositeLoss.java) to combine multiple `SoftmaxCrossEntropyLoss`es together?

[2020-01-04 21:08] karllessard commented on #1
Ok @frankfliu , let's do this then on our Jan 24th meeting, that will give you also an opportunity to know better how those sessions work if your team wants to assist on a regular basis.

[2020-01-05 10:48] lazystone opened #14 "Add CUDA 10.2 support"
## Description
I tried to run [this demo](https://github.com/aws-samples/djl-demo) to get familiar with djl, but could not run training on GPU because I have CUDA 10.2 installed:

[code]

CUDA 10.2 seems to be mainstream at the moment and it's easier to find installation instructions for this version.

Rolling back to CUDA 10.1 might be troublesome and will repel some users from using this library

[2020-01-06 20:08] frankfliu commented on #14
@lazystone Thanks for reaching to us. We are working on 10.2 support. Will add 10.2 support soon.

For the time being, you can build mxnet with cuda102 from source, and export MXNET_LIBRARY_PATH to point to your libmxnet.so file. DJL can pick up libmxnet.so from there.

[2020-01-07 16:06] lazystone commented on #14
I'll wait until CUDA 10.2 works out of the box :)

[2020-01-12 20:05] waooog opened #15 "Potential ArrayIndexOutOfBoundsException"
## Description
There is a potential `ArrayIndexOutOfBoundsException` in the method `latestMetric` in class `ai.djl.metric.Metrics`.
In the following code snippet, if `list` is empty (not `null`), the `return list.get(list.size() - 1);` statement will has an `ArrayIndexOutOfBoundsException`.

`    public Metric latestMetric(String name) {`
      `  List<Metric> list = metrics.get(name);`
    `   if

[2020-01-12 21:03] frankfliu commented on #15
@waooog
Thanks for reporting this issue.

In current code, NPE should never happen since we never put empty list into metrics.
But I agree we should guard empty list case for custom metrics. And your suggestion is a good improvement.

Would you mind submit a PR to address this issue?

[2020-01-13 03:51] digantamisra98 opened #16 "Feature Request: Add Mish Activation"
Mish is a novel activation function proposed in this [paper](https://arxiv.org/abs/1908.08681).
It has shown promising results so far and has been adopted in several packages including:

|     |     |  |
| :---: | :---: |  :---: |
|[TensorFlow-Addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/activations)|[SpaCy (Tok2Vec Layer)](https://github.com/explosion/spaCy)|[Thinc -

[2020-01-13 19:53] salamanders opened #17 "TrainWithOptimizers throws TrainingDivergedException"
## Description
TrainWithOptimizers throws TrainingDivergedException
Possibly caused by `Metric name not found: epoch`

### Expected Behavior
Run most things in ai.djl.examples.training.* out of the box.

### Error Message

[code]

## How to Reproduce?
git clone from repository, then start running examples.

### Steps to reproduce

1. `./gradlew run -Dmain=ai.djl.examples.training.TrainWithOptimize

[2020-01-13 21:25] ddavydenko commented on #11
@OElesin , if you could respond to @frankfliu's question - please do so and reopen this issue.

[2020-01-13 21:25] #11 closed

[2020-01-14 00:59] keerthanvasist commented on #17
@salamanders Thank you for reporting this issue. I will look into it in the next couple of days.

[2020-01-14 01:00] keerthanvasist commented on #16
Thank you for the feature request @digantamisra98. We will implement the Mish activation function soon.

[2020-01-14 03:00] frankfliu commented on #17
@salamanders,
This issue is a regression in recently change, we are working on it. For the time being, please try stable vesion: v0.2.1

[2020-01-14 04:35] sujitbiswas opened #18 "LSTM example with training and inference"
## Description
can you provide an LSTM example code with training and inference, preferably with time series data

### Will this change the current api? How?
no

### Who will benefit from this feature?
any one who wants to build an LSTM model using the api

## References
- list reference and related literature
- list known implementations

[2020-01-14 04:41] digantamisra98 commented on #16
@keerthanvasist Thank you for considering the request.

[2020-01-15 17:30] salamanders commented on #17
I'd like to, but I ran into issues.  Is there a standalone example using maven?  When I tried to include the 0.2.1 libs, it complained that the version was not found.

[2020-01-16 06:13] frankfliu commented on #17
@salamanders
TrainingDivergedException should have been resolved in latest code in master branch.

It looks like there is an issue with sonatype, we are working with sonatype to resolve 0.2.1 release artifact issue.

[2020-01-16 20:01] frankfliu commented on #17
@salamanders
sonatype purge CDN cache. Now you should be able to use 0.2.1 artifacts.

[2020-01-16 22:43] salamanders opened #19 "Running the examples in their own project (maven)"
## Description
Unclear which dependencies are required to run the examples, because the examples are hosted in the same module.

### Expected Behavior
Example pom.xml that allows an example to run.

### Error Message
[code]

## How to Reproduce?
[code]

### Steps to reproduce
pom.xml with

[code]

## What have you tried to solve it?
It ran successfully from the checkout of this project.  I'm tryin

[2020-01-17 00:22] salamanders commented on #19
Self-contained example in https://github.com/salamanders/superdeep

[2020-01-17 00:23] frankfliu commented on #19
@salamanders
osx doesn't have GPU support the classifier should be: <classifier>osx-x86_64</classifier>

[2020-01-17 00:27] salamanders commented on #19
Whohoo, that did it, thank you!

For any future readers, my pom.xml had:

[code]

[2020-01-17 00:27] #19 closed

[2020-01-17 00:29] salamanders commented on #19
... so should I (ever) include mxnet-native-cu101mkl or mxnet-native-cu92mkl?

[2020-01-17 00:45] zachgk commented on #19
You might. Each of the `mxnet-native-*` dependencies represent a different way of building the MXNet engine. For OSX, we only distribute the build with Intel MKL Library enabled (`-mkl`). For linux, we have more builds including builds with GPU support (this is your `-cu101mkl` and `-cu92mkl`). You can look at https://github.com/awslabs/djl/blob/master/mxnet/mxnet-engine/README.md for a list of th

[2020-01-17 03:11] frankfliu commented on #19
@salamanders
macOS is official os name since 10.12, OSX is legacy name.

[2020-01-17 03:12] #17 closed

[2020-01-17 04:03] salamanders commented on #19
Sure!  I'm happy with either.
I meant more that it says "following two options" but there is only one option.

[2020-01-17 05:36] frankfliu commented on #19
@salamanders
Thanks for clarify, I will submit a fix to address this.

[2020-01-17 21:09] salamanders opened #20 "Possibly unintentional inclusion of logging framework"
I'm newish to maven, but I don't think this is normally what is done:
from mvn dependency:tree

[code]

Because it gives off warnings like

[code]

All the other `ai.djl:*` dependencies look ok.

[2020-01-17 23:04] frankfliu commented on #20
@salamanders
I'm not able to reproduce your error message with following command:
[code]
And your maven dependency tree didn't show you have slf4j-simple included as well.

For the examples module, we only include log4j binding, I'm not sure how your slf4j-simple was added. Can you share your pom.xml file?

[2020-01-18 04:56] digantamisra98 commented on #16
Noticed, that Mish has been recently committed to DJL - https://github.com/awslabs/djl/commit/b06feb110e5100db2f839c80a8aca03ba0ecbdcf
Closing this issue then. Thanks for adding Mish.

[2020-01-18 04:56] #16 closed

[2020-01-21 10:47] ffazil opened #21 "Steps for creating a custom dataset"
Am trying out `djl` and really excited to finally try out object detection in Java. What are the steps to label images for object detection?

I see that images needs to be separated in to train and test directories and also see `index.file` containing the coordinates of annotated objects. What tool can be used to annotate images to generate `index.file`?

[2020-01-21 17:53] frankfliu commented on #21
@ffazil
You can try AWS SageMaker ground truth: https://aws.amazon.com/sagemaker/groundtruth/

[2020-01-21 17:54] lanking520 commented on #21
Hi @ffazil, in order to train a basic classification or object detection model, you need to label each images.

About custom dataset, you can try some tools to generate labels for you. As an example:
 [SageMaker Ground Truth](https://aws.amazon.com/sagemaker/groundtruth/?nc1=h_ls) or [Mechanical turk](https://www.mturk.com/).

[2020-01-21 19:49] zachgk commented on #21
@ffazil Also, you are not required to follow the same formats as `PikachuDetection` dataset. You can just create your own dataset class extending `RandomAccessDataset` and then format your data in whatever way works best for you.

[2020-01-21 19:56] stu1130 commented on #21
You can follow the instruction here if you want to extend `PikachuDetection` dataset
https://github.com/awslabs/djl/blob/master/docs/development/how_to_use_dataset.md#how-to-create-your-own-dataset

[2020-01-23 00:36] ntbdusty opened #22 "Build failed cause mxnet.dll is not a valid Win32 application"
Hello, guys. Could you help me?
When I tried to build app I've got an error
"Unable to load library 'C:\Users\Default\.mxnet\cache\1.6.0-b-SNAPSHOT-20200120mkl-win-x86_64\mxnet.dll':
2020-01-23T03:20:04.060+0300 [ERROR] [system.err] %1 is not a valid Win32 application."

Command for build is "./gradlew run -Dmain=ai.djl.examples.training.TrainMnist"

It's strange, because I have the environment sh

[2020-01-23 03:42] frankfliu commented on #22
@ntbdusty
"Unable to load library 'C:\Users\Default.mxnet\cache\1.6.0-b-SNAPSHOT-20200120mkl-win-x86_64\mxnet.dll'
This message looks suspicious. Somehow java think you are running as user "Default", that's strange.

Would you please run following command and collect the output:
[code]

[2020-01-23 07:29] ntbdusty commented on #22
Ouch, I have to explain, do not pay attention to it. I just replaced manually real user name.
It should looks like "" 'C:\Users\UserName\.mxnet\cache\1.6.0-b-SNAPSHOT-20200120mkl-win-x86_64\mxnet.dll'
Also, see logs in attach:
[build.log](https://github.com/awslabs/djl/files/4101789/build.log)
[debugEnv.log](https://github.com/awslabs/djl/files/4101790/debugEnv.log)

[2020-01-23 15:32] frankfliu commented on #22
@ntbdusty
I guess this is caused by you running gradle in MingW64 shell. Please try to run gradle in command prompt.

[2020-01-23 16:11] ntbdusty commented on #22
@frankfliu
Unfortunately, the same result in command prompt. =(

[2020-01-23 18:21] frankfliu commented on #22
@ntbdusty
This is really strange, mxnet.dll is a 64-bit DLL, and your java and windows are both 64-bit. Somehow your system trying to load mxnet.dll in 32-bit mode and failed.

Can you try one more thing: delete C:\Users\UserName\.mxnet folder and try it again?

[2020-01-23 19:14] frankfliu commented on #20
@salamanders
Feel free to reopen this issue if you can reproduce it with our examples.

[2020-01-23 19:14] #20 closed

[2020-01-24 08:27] ntbdusty commented on #22
@frankfliu
Many thanks, reinstalling vs2015 solved the problem.
I should have read Troubleshooting more accurate.

[2020-01-24 08:27] #22 closed

[2020-01-27 19:32] belenot opened #23 "Load libmxnet.so from jar"
## Description
Can you please allow loading native library from jar? I didn't find a way to do it. But you could you NativeUtils for loading libraries from jar. And e.g. expose some system variable for specifying path in jar.

### Will this change the current api? How?
No

### Who will benefit from this feature?
End users

[2020-01-27 21:20] zachgk commented on #23
We should support loading a native MXNet library that is stored in a jar. There is a required format for how to construct the jars. You can find examples of such jars [here](https://search.maven.org/search?q=g:ai.djl.mxnet%20AND%20a:mxnet-native-*). For reference, we use the [mxnet-native](https://github.com/awslabs/djl/tree/master/mxnet/native) module to construct the jars and the jars are picked

[2020-01-28 03:26] belenot commented on #23
Please, can you point me where I am wrong?
I built jar with such content

[code]
And here is my dependencies list
[code]
Than I got that Exception:
[code]
If I remove 30 line in dependencies, than I got exception:
[code]
Builts are done with gradle
I don't understand what I should to do

[2020-01-28 07:34] frankfliu commented on #23
@belenot
I'm really confused about what are you trying to achieve.

First of all you dependency was not specified correctly:
[code]
It should be:
[code]
See: https://github.com/awslabs/djl/tree/master/mxnet/mxnet-engine#linux

The error message indicate that you didn't specify classifier: <b>linux-x86_64</b>

DJL already provided pre-built mxnet native library: ai.djl.mxnet:mxnet-native-cu92mkl:1.

[2020-01-28 14:14] ffazil commented on #21
Thank you all.

[2020-01-28 14:14] #21 closed

[2020-01-29 03:57] belenot commented on #23
Thank you! I got build.gradle from examples, and copied script that computes needed library, but really it wasn't obvious for me :)
I am average java junior developer, and never faced with jypiter and native libraries. I think, maybe it worth to explain differences between cu92 cu101 mkl, or point reader's attention on it in readme?
Maybe I missed something while was reading that?

[2020-01-29 16:24] frankfliu commented on #23
@belenot
MXNet native library is platform specific, you must select the matching library for your machine.
In our example project gradle file, we trying to detect the platform and select one for you.

We use <b>classifier</b> for operating system selection, current available choice are (may expend to arm in future):
- osx-x86_64
- win-x86_64
- linux-x86_64

mxnet-native-mkl is optimized for Intel

[2020-01-29 18:24] belenot commented on #23
Yes, it works now. At free time I'll be playing with it, so if I find possibility for improvement, I'll make pr.
In thit case, I think it was just mine misunderstanding.
It seems that question is answered, so I close it, thank you again :)

[2020-01-29 18:24] #23 closed

[2020-01-29 21:38] frankfliu commented on #15
Fix has be merged: https://github.com/awslabs/djl/commit/f264cf82c8ef1465dd85ebc4eb873c753ee069a5

[2020-01-29 21:38] #15 closed

[2020-01-29 21:39] frankfliu commented on #14
@lazystone
Now DJL support CUDA 10.2 in master branch. 0.3.0 release will officially support CUDA 10.2

[2020-01-29 21:39] #14 closed

[2020-01-31 17:28] salamanders opened #24 "Clarity on what the parameters do for MxModelZoo.BERT_QA"
## Description
The "BBC Japan" example is great, but doesn't quite give enough info for the user to start experimenting on their own.

1. How much text can go into the `paragraph` variable?
2. Are there other datasets available beyond "book_corpus_wiki_en_uncased"?
3. (most importantly) What is the magic "384" number in `QAInput(question, paragraph, 384)` - should it be adjusted up or down, and wh

[2020-01-31 18:39] lanking520 commented on #24
384 is the maximum sequence length, or your total input word length. The model has been trained under this number, if the total words is no more than 384, padding will be added.

[2020-01-31 18:43] zachgk commented on #24
@lanking520 Can we add this information to the example itself for future readers with the same question?

[2020-01-31 20:29] salamanders commented on #24
So if I'm understanding: total word count (source paragraph plus question) must be <= 384 for any interaction that uses book_corpus_wiki_en_uncased?

Oh!   There goes my hopes of querying a large FAQ or an entire Wikipedia page.

[2020-01-31 23:01] zachgk commented on #10
I created an example showing how to implement a multi array label softmax cross entropy loss function at https://github.com/awslabs/djl/blob/master/examples/src/main/java/ai/djl/examples/training/TrainCaptcha.java. Please take a look and let me know if there are any further problems or suggestions.

[2020-01-31 23:01] #10 closed

[2020-02-06 20:59] shapirov103 opened #26 "Add direct API support to override arguments when loading zoo models"
## Description
Feature to allow passing argument overrides when loading models. Such argument overrides may, for example, allow changing default threshold for translators or adjust other parameters.

### Will this change the current api? How?

Yes, the API will change, specifically, load methods.

For example at present the method signature is:

    ai.djl.repository.zoo.ModelLoader#loadModel(Map<

[2020-02-11 12:19] gabe2001 opened #29 "trailing space in directory name 'pytorch/native/src '"

[2020-02-11 17:05] frankfliu commented on #29
@gabe2001

Thanks for reporting this issue. will work on a fix.

[2020-02-11 17:47] #29 closed

[2020-02-19 18:43] zachgk commented on #26
We just created a global load model method with signature `ModelZoo.loadModel(Criteria<I, O> criteria)`. You can pass override arguments as part of the `Criteria` by using

[code]

[2020-02-19 18:43] #26 closed

[2020-02-20 07:15] masud-technope opened #30 "Gradle build of examples fails"
## Description
**DJL** main project compiles with Gradle using the test option disabled (*-x test*). Unfortunately, I cannot build the **examples** folder with Gradle tool. It is showing some annoying compile errors. Based on my investigation, some class files from DJL are not visible from the example repository.

### Expected Behavior
Example repository should compile.

### Error Message
[code]

[2020-02-20 18:35] frankfliu commented on #30
@masud-technope Thanks for reporting this issue.

This is caused by an earlier nightly build failure, and snapshot version has not been published properly. We are working on the fix.

For the time being, you can use following command:
[code]

[2020-02-20 20:21] frankfliu commented on #30
snapshot build is updated. It should work now.

Please refresh your dependency to make sure get latest snapshot:
[code]

[2020-02-21 03:45] masud-technope commented on #30
Hi @frankfliu, thanks for the update. I pulled the latest version, but still getting similar errors.
[code]
The main repository compiles fine, but cannot run the examples.
Please advise the next steps.

[2020-02-21 03:52] masud-technope commented on #30
Does it have any issue with JDK 12? I am using JDK 12 and Gradle 6.2.

[2020-02-21 05:36] frankfliu commented on #30
Can you clean your mxnet cache folder: C:\Users\MasudRahman\.mxnet\cache
[code]
This might caused by corrupted cache files.

[2020-02-21 05:45] frankfliu commented on #30
@masud-technope
There is code issue may cause cache corruption. I'm working on a fix. But the fix can only prevent future corruption. You still need manually clean cache.

[2020-02-24 18:09] #30 closed

[2020-02-24 19:07] masud-technope commented on #30
Thanks @frankfliu.  I was able to compile and run the BertQaInference!

[2020-02-25 15:18] lazystone opened #33 "Build mxnet-native-cu102mkl for ppc64le architecture"
## Description
Right now there are builds of mxnet-native* for osx-x86_64 and linux-x86_64.

It would benefit DJL a lot if there will be a possibility of running it on IBM's Power servers(ppc64le).

### Will this change the current api? How?
No API changes.

### Who will benefit from this feature?
All who's using IBM's Power servers

## References
- https://www.ibm.com/downloads/cas/KDQRVQRR

[2020-02-25 17:25] frankfliu commented on #33
@lazystone
Thanks for filing this issue.

Currently MXNet doesn't officially support power PC (https://github.com/apache/incubator-mxnet/issues/15553). However you should be able to build mxnet from source: https://mxnet.apache.org/get_started/ubuntu_setup

Once you build your libmxnet.so file, you can use DJL to load your version of libmxnet.so for ppc: https://github.com/awslabs/djl/blob/master/

[2020-02-25 19:44] lazystone commented on #33
Yeah, I see.

I'd like to contribute, but my knowledge about ML is very limited. We use python-based approach and for me that was a nightmare - solving python dependency hell is horrible, so I started to play with DJL to try to understand if we can build some parts using java.

Saying all this - we do have some power servers and that would be possible to discuss with the management to use those fo

[2020-03-09 20:29] zachgk commented on #33
We plan to wait until MXNet officially supports ppc64le before we add support for it in our DJL MXNet Engine. Please reopen this issue if MXNet begins to support it.

[2020-03-09 20:29] #33 closed

[2020-03-09 20:32] zachgk commented on #18
We created an example on the LSTM branch at https://github.com/awslabs/djl/blob/lstm/examples/src/main/java/ai/djl/examples/training/TrainMnistWithLSTM.java. It currently depends on a different Engine version, so we will wait to close this issue until the Engine issue is resolved and the branch is merged

[2020-03-11 00:15] zachgk opened #34 "Training Visualization"
## Description
DJL should include a NN web or GUI visualization tool like [DL4J](https://deeplearning4j.org/docs/latest/deeplearning4j-nn-visualization) to help optimize NN parameters and NN layers.

### Will this change the current api? How?
This will be a new API.

### Who will benefit from this feature?
Users who want to monitor training jobs and help determine why their model is not training s

[2020-03-11 02:39] stu1130 opened #35 "Instance Segmentation"
## Description
 Is there any guide on how to train an instance segmentation model for DJL

### Will this change the current api? How?

### Who will benefit from this feature?

## References
- list reference and related literature
- list known implementations

[2020-03-19 20:54] jSaso opened #36 "Good visualization"
## Description
Visual representation of neural network, model score, parameter ratios, learning parameter,...
All aspect of neural network parameter that can be visualized in timely manner (iteration).

### Will this change the current api? How?
Present already provided parameters from network, **visually**.

### Who will benefit from this feature?
Everybody, with visualization you can quickly see

[2020-03-19 21:14] jSaso opened #37 "Dynamic learning parameter - time period"
## Description
Dynamically modified learning parameter over time. We want learning parameter to change dynamically when network is learning:
- constant learning parameter at the start then **cycle** mode. We want to start with constant learning parameter, then after N epoch start **cycle** - like saw, from min. to max. definition of learning parameter (up and down)
- it should be configurable - we

[2020-03-19 21:33] jSaso opened #38 "Early stopping configuration"
## Description
Early stopping configuration: Specifies the various configuration options for running training with early stopping.
- early stopping model saver - only use last best model: How model will be saved (to disk, to memory, etc)
- Termination conditions:
      1. Iteration termination conditions: how many epoch till termination.
      2. score improvement termination condition - terminate

[2020-03-19 21:53] jSaso opened #39 "Training as listener"
## Description
Implement training as listener, so we can subscribe to training listener. We need more information to each of the provided listeners:
- normalize/de-normalize class (separate feature request)
- train data set
- test data set
- last best model
- last best model score

In this way we can do whatever we want:
- calculate prediction from best model data set with our test data set,
- de-

[2020-03-19 21:57] jSaso opened #40 "Weight decay regularization"
## Description
Weight decay regularization besides, l1 and l2 regularization.

### Will this change the current api? How?
Another implementation of regularization.

### Who will benefit from this feature?
Everybody, learning will be faster.

## References
https://www.fast.ai/2018/07/02/adam-weight-decay/

[2020-03-19 22:27] jSaso opened #41 "Data normalization/de-normalization"
## Description
Create normalize class which has two method:
- normalize - to normalize number to fit network model (range: 0 to 1, range: -1 to 1)
- de-normalize number - de-normalize number when network training is finished (onEpoch or onComplete listeners)

Normalize object must also have parameter - min, max (what is the minimum and maximum number of our number range) and interval (interval: 0

[2020-03-20 17:36] keerthanvasist commented on #41
Thank you for creating this issue @jSaso. I think it is a place for anyone looking to make their first contribution.

[2020-03-20 17:51] keerthanvasist commented on #39
Thank you for creating this issue @jSaso.

[2020-03-20 17:52] keerthanvasist commented on #36
Thank you for creating this issue @jSaso. We already have one more issue tracking visualization [here``](https://github.com/awslabs/djl/issues/34). I will close this issue.

[2020-03-20 17:52] #36 closed

[2020-03-23 20:48] zachgk commented on #37
The cycle learning rate(s) can be added by extending the [LearningRateTracker](https://github.com/awslabs/djl/blob/master/api/src/main/java/ai/djl/training/optimizer/learningrate/LearningRateTracker.java), either for DJL or your own work. This would also be a good first issue for community contributors.

[2020-03-23 20:52] zachgk commented on #39
@jSaso We have a [TrainingListener](https://github.com/awslabs/djl/blob/master/api/src/main/java/ai/djl/training/listener/TrainingListener.java) class that was added in 0.3.0. Does this look like it will work or do you see any issues with it?

[2020-03-23 20:57] zachgk commented on #40
I think we have weight decay regularization. You can set it using `Optimizer.Builder.optWeightDecays(float weightDecays)` (see [javadoc](https://javadoc.djl.ai/api/0.3.0/ai/djl/training/optimizer/Optimizer.OptimizerBuilder.html#optWeightDecays-float-) or [source](https://github.com/awslabs/djl/blob/master/api/src/main/java/ai/djl/training/optimizer/Optimizer.java#L158)). I'll close it for now, but

[2020-03-23 20:57] #40 closed

[2020-03-23 22:07] zachgk commented on #41
@jSaso Can you help explain some of your thoughts behind this? Is your goal more to be able to view the input of the model and the output of the model denormalized, or more to see intermediate values denormalized?

[2020-03-31 01:25] HerbJiang opened #42 "BERT Inference Demo using pytorch"
## Description
Could you provide an jupyter notebook sample for BERT inference demo using pytorch?
Just like current [BERT inference demo using mxnet](https://github.com/awslabs/djl/blob/master/jupyter/BERTQA.ipynb)

### Who will benefit from this feature?
People already pretrained / fine-tuned their own model using pytorch can easily migrate into this project.

Thanks.

[2020-03-31 18:11] lanking520 commented on #42
Currently, we can only do PyTorch Traced model. There are a few examples that may allow us import in DJL:

[TorchHub example](https://pytorch.org/hub/pytorch_fairseq_roberta/)

[thirdparty popular BERT pretrained model](https://github.com/huggingface/transformers/blob/master/docs/source/torchscript.rst)

If you are interested, please feel free to search for a BERT pretrained model. You can tested

[2020-04-01 01:54] frankfliu commented on #18
LSTM example has been merged into master branch now:
https://github.com/awslabs/djl/blob/master/examples/src/main/java/ai/djl/examples/training/TrainMnistWithLSTM.java

[2020-04-01 01:54] #18 closed

[2020-04-06 21:32] mgubaidullin commented on #34
I would like to propose this prototype for DJL Training visualization https://github.com/mgubaidullin/djl/tree/djl-ui-prototype/ui

[2020-04-08 21:48] zachgk opened #44 "Improve Documentation"
The documentation in DJL was originally written with the expectation that users are reasonably familiar with deep learning. So, it does not go out of the way to define and explain some of the key concepts. To help users who are newer to deep learning, we created a [documentation convention](https://github.com/awslabs/djl/blob/master/docs/development/development_guideline.md#documentation-conventio

[2020-04-08 21:54] zachgk opened #45 "WikiText 2 Dataset"
## Description
Add the WikiText2 dataset to the basic datasets.

## References
- https://arxiv.org/abs/1609.07843

[2020-04-08 21:55] zachgk opened #46 "Part of Speech Tagging Dataset"
## Description
This is a task to add at least one part of speech tagging dataset. These datasets help provide an example of an NLP token classification task, as well as having some use for training multi-purpose NLP models. A good example might be one from [Universal Dependencies](https://universaldependencies.org).

[2020-04-08 21:56] zachgk opened #47 "Stanford Question Answering Dataset"
## Description
Add the dataset to the basic datasets.

## References
- https://rajpurkar.github.io/SQuAD-explorer/

[2020-04-08 21:59] zachgk opened #48 "Yolo Model"
## Description
Implement a YOLO model and add it to the DJL model zoo

## References
- https://arxiv.org/abs/1506.02640

[2020-04-09 00:29] chenkelmann opened #49 "Mx Net Engine truncates float values to integers on systems with a German locale"
## Description
Operations on `MxNDArray` that take a single `Number` argument truncate the arguments decimal places which leads to erroneous calculation results. This seems to be due to a German Locale setting of the host.

E.g.:
`System.out.println(NDManager.newBaseManager().create(1.3).add(0.7));`
prints:
    ND: () gpu(0) float64
    1.3

This seems to affect all math operations with a single `

[2020-04-09 01:03] frankfliu commented on #49
@chenkelmann thank you for report this issue.
Excellent job on your thorough investigation and finding of the root cause.
We will find a proper way to resolve this issue.

[2020-04-09 01:12] stu1130 commented on #49
I will take a look at this

[2020-04-09 06:02] ricky3dec commented on #47
Hi @zachgk , can you please assign this to me? I am interested in taking this up.

[2020-04-10 00:48] stu1130 commented on #42
Hey @HerbJiang,
I have uploaded the HuggingFace Bert Question Answering Model. You can try it out with
[code]
The code is [here].(https://github.com/awslabs/djl/blob/master/examples/src/main/java/ai/djl/examples/inference/BertQaInference.java)
I am working on the jupyter notebook, stay tuned

[2020-04-10 20:56] ricky3dec commented on #47
Hi @zachgk , I am working on adding this dataset and understanding the general framework. I have one basic question about the dataset artifact's metadata.json. I see that the artifacts's uris are pinting to djl mlrepo ,so how are the artifacts added to this repo? Also, please also share some resources that I can refer to, if any. Thanks!

[2020-04-10 21:47] frankfliu commented on #47
@ghost, once you have files ready, we can help you upload to s3 bucket. @lanking520 can provide more detail regarding format of metadata.json.
Maybe use our slack channel is a better way to work with you.

[2020-04-11 10:08] codelessricky commented on #47
Thanks @frankfliu ! Will post any other clarifications on Slack! :-)

[2020-04-15 00:43] lanking520 commented on #47
@codelessricky I just started a quick implementation to bring your own uploader: You can make a start from this branch: https://github.com/awslabs/djl/tree/model-upload/model-uploader to try it out. Please just be aware this is WIP and feel free to raise PR if you find anywhere wrong and add more feature.

[2020-04-15 21:33] stu1130 commented on #42
@HerbJiang
I completed the pytorch BERT QA [jupyter notebook](https://github.com/awslabs/djl/blob/master/jupyter/pytorch/load_your_own_pytorch_bert.ipynb).
You can use it with your pretrained BERT along with vocabulary from HuggingFace.
Remember to convert your model to TorchScript.
If you need any help, please let us know.

[2020-04-16 00:03] stu1130 commented on #42
feel free to open the issue, if you have any question

[2020-04-16 00:03] #42 closed

[2020-04-16 00:06] stu1130 commented on #24
@salamanders we have PyTorch BERT QA that doesn't have this max length limitation.
Here is the [example](https://github.com/awslabs/djl/blob/master/jupyter/BERTQA.ipynb) and how you can [load your own bert](https://github.com/awslabs/djl/blob/master/jupyter/pytorch/load_your_own_pytorch_bert.ipynb).

[2020-04-17 21:38] stu1130 commented on #49
Hey @chenkelmann the workaround for locale issue has been merged.
Once MXNet fix is merged, we will revert the workaround
see https://github.com/apache/incubator-mxnet/pull/17177

[2020-04-17 21:38] #49 closed

[2020-04-17 21:39] stu1130 commented on #24
@salamanders I have updated the documents.
Feel free to reopen the issue or provide the feedback with PyTorch BERT

[2020-04-17 21:39] #24 closed

[2020-04-18 02:00] jonathan016 commented on #44
Hi @zachgk , as we've discussed on Slack, I'd like to help on improving documentation on the following javadocs:
- [ ] Convolution (and Conv1D, Conv2D, Conv3D)
- [ ] BatchNorm
- [ ] Dropout

The next steps would be forking the project and improving the documentation in accordance with the [documentation convention](https://github.com/awslabs/djl/blob/master/docs/development/development_guideline.m

[2020-04-18 03:39] zachgk commented on #44
Thanks @jonathan016. I've added you up above. You'll just want to fork, update to the convention you linked, and then open a PR with your improvement.

[2020-04-20 08:56] chenkelmann commented on #49
Cool, thank you very much!

[2020-04-25 00:59] roywei opened #57 "Bug when trying to load multiple engines in DJL"
There are a few bugs in DJL right now when you try to use multiple engines.

For example if we use MXNet and TensorFlow engine together. If I set -Dai.djl.default_engine=MXNet, and call a TfEngine or TfModelZoo method, MxEngine and MxModelZoo is actually returned.

1) `TfEngine.getInstance()` will return Default Engine instead of TfEngine.

2) `TfModelZoo.RESNET.loadModel()` will return MxModel.RE

[2020-04-25 01:00] roywei commented on #57
cc @jonathan016 @frankfliu

[2020-04-27 16:52] roywei commented on #57
@JonTanS

[2020-05-04 22:47] zachgk opened #63 "Rename Block to LearnedFunction"
This issue is my proposal to rename the `Block` class (https://github.com/awslabs/djl/blob/master/api/src/main/java/ai/djl/nn/Block.java) to `LearnedFunction`. I am hoping to collect feedback and have a discussion with the community about it.

Right now, we use Block as the main class for representing a neural network. We chose Block because it conveyed the idea of composability: that the various

[2020-05-06 16:08] roywei commented on #63
IMO, LearnedFunction is too abstract and generic. Although everyone who programs understand what function is, but it will be very confusing as it's a very broad concept and does not help to relate to deep learning. I assume learned function what to describe a function with parameters that can be learned in training. However, it will be confusing for functions that does not have trainable weights,

[2020-05-08 18:45] zachgk commented on #63
Let me try and explain the reasoning behind how Function relates to DL because it isn't terribly clear. Think about the mathematical function for a minute which has a set of objects in the domain, a set of objects in the codomain, and a map from each element of the domain to an element of the codomain. A normal function in programming is a procedure to go from each domain item to the corresponding

[2020-05-11 14:49] murphye opened #66 "Find saved model in subdirectory of downloaded .zip"
## Description
When I specify a model contained in a `.zip` such as:
[code]

This is out output of the extraction:
[code]

Notice a subdirectory of `saved_model` is present. This is where the model files reside.

[code]

Here is the output when running the model from this `.zip`:

[code]

This results in an error because it's looking in the parent directory, and not the `saved_model` directory. Se

[2020-05-11 23:48] murphye opened #67 "TensorFlow library not loading with GraalVM Native Image"
## Description

I am working on an implementation of the covid19-detection example code, but using Quarkus to serve the model and also support GraalVM Native Image.

The project is located here:
https://github.com/murphye/djl-demo/tree/master/covid19-detection-quarkus

The application runs fine on the JVM, but when running in native mode, the TensorFlow libraries are not being loaded (i.e. `System

[2020-05-12 10:39] chenkelmann commented on #63
For what its worth, here are my 2¢ about the renaming:

The suggestion is an improvement:
- The current trend is away from “neural networks” and “layers” towards “differentiable computing”. Hence your naming suggestion makes more sense as it conveys more the way modern architectures and the elements that make them up work.

The suggestion is a detriment:
- The name is much longer, hence new Implem

[2020-05-12 20:55] frankfliu commented on #66
@murphye Thanks for reporting this issue.
I will take a look and see how can we improve this.

[2020-05-12 21:45] stu1130 commented on #67
Thanks for reporting the issue @murphye
We don't explicitly call System.loadLibrary() as we load the TensorFlow native library via JavaCpp.
I am able to reproduce the error shown above, will take a look.

[2020-05-13 00:10] frankfliu commented on #1
DJL 0.5.0 release implemented tensorflow engine which support TF 2.1.0 version.

[2020-05-13 00:10] #1 closed

[2020-05-13 00:12] saudet commented on #1
@frankfliu Great! How are you performing the builds?

[2020-05-13 01:48] frankfliu commented on #1
@saudet we decide not to support windows in 0.5.0.

[2020-05-13 01:54] saudet commented on #1
Ah, so you're still relying on TensorFlow SIG JVM to perform the builds.
@karllessard @joanafilipa @ananthr We really need to get this fixed.

[2020-05-13 19:25] frankfliu commented on #67
@murphye
We are using javacpp to load TF native library, you can find more detail here: https://github.com/tensorflow/java

I noticed static initialization block is not executed in GraalVM Native Image. Both DJL and JavaCPP rely on static initialization code.

I'm not familiar with GraalVM, would you please help on:
1. How can I add --initialize-at-run-time flag to GraalVM?
2. How can I add system

[2020-05-13 21:53] stu1130 commented on #67
I tried to add `--initialize-at-run-time` in `quarkus.native.additional-build-args` and also in application.properties. It ends up showing the following error
[code]

[2020-05-14 14:12] murphye commented on #66
@frankfliu In looking at the underlying code, there seems to be some code that looks for a `.pb` but maybe its not recursing into subdirectories. Sorry I lost the reference.

[2020-05-14 14:17] murphye commented on #67
@frankfliu What classes (with packages) contain the static initialization block(s)? Can we offer alternative that doesn't do this?

`--initialize-at-run-time` is sort of a workaround, in my opinion. That is a reason why I created my own TensorFlow loader because TF had static initialization as well. This doesn't require `--initialize-at-run-time`
https://github.com/murphye/quarkus-tensorflow-incep

[2020-05-14 14:21] murphye commented on #67
@stu1130 Can you turn on debug output to get additional error output? Whatever the equivalent is for Maven `-X`. I am not versed with Gradle.

[2020-05-14 14:35] murphye commented on #67
@frankfliu

1. See https://github.com/murphye/djl-demo/blob/master/covid19-detection-quarkus/src/main/resources/application.properties#L5 to where to add `--initialize-at-run-time`

2. You can add System properties as shown here `build/covid19-detection-quarkus-1.0-SNAPSHOT-runner -Dai.djl.repository.zoo.location=models/saved_model1`

3. I will find out from Quarkus team if there is support for na

[2020-05-14 15:09] murphye commented on #67
In searching through JavaCPP repo, here are static initialization blocks. For my error message, it stems from `BytePointer`

https://github.com/bytedeco/javacpp/blob/40560d7a3ddae99a805268ffb39e5e00b1a17f5c/src/main/java/org/bytedeco/javacpp/Loader.java#L90

https://github.com/bytedeco/javacpp/blob/734e30e8a2ae15539bb4af5a00aa649804ca0296/src/main/java/org/bytedeco/javacpp/indexer/Raw.java#L32

ht

[2020-05-14 16:46] stu1130 commented on #67
@MarkAtwood I add `-S` to show full stack trace
[code]
and `-d`
[output.log](https://github.com/awslabs/djl/files/4629759/output.log)

[2020-05-14 16:59] murphye commented on #67
@stu1130 Unfortunately your error message isn't very helpful. I opened a GitHub issue on that matter as it may be related to the Quarkus Gradle plugin: https://github.com/quarkusio/quarkus/issues/9306

Can you put your current version of the code/config in GitHub so I can link to the exact commit version? That would be helpful.

[2020-05-14 17:02] murphye commented on #67
@stu1130 @frankfliu I believe I have enough information to play around with `--initialize-at-runtime` by including all of the classes above that have the static initialization block. Theoretically that should overcome the issue, even though it's not ideal.

I believe the end goal should be to create a Quarkus extension for DJL that would provide a preconfigured DJL config for the developer.

[2020-05-14 17:20] frankfliu commented on #67
Here is one more class using static initializer, it comes from TF-java dependencies:
org.tensorflow.EagerSession

[2020-05-14 17:41] murphye commented on #67
@stu1130 @frankfliu

Here is the format you need to follow:

[code]

[2020-05-14 19:12] keerthanvasist opened #68 "Inference in multi-gpu instances fail"
## Description
When I try to run inference on pre-trained embeddings while training NLP models, I see NullPointerException as Predictor is not designed to work with multiple devices.

### Error Message
[code]

[2020-05-14 20:11] stu1130 commented on #67
@murphye Let us know if you encounter other issues when using `--initialize-at-run-time`

[2020-05-15 16:38] #67 closed

[2020-05-16 18:26] waicool20 opened #69 "Add support for Ellipsis notation"
## Description

DJL currently has `:` notation support for ndarray access using `NDIndex` but no `...` notation which is typically used to signify unspecified dimensions.

### Who will benefit from this feature?

Existing `:` based index can be simplified eg. `:, :, :, 2` => `..., 2`
It should also make it easier to port python examples to DJL that use such notation.

## References
https://python-

[2020-05-17 05:18] cowwoc opened #70 "Ability to load modules from TensorFlow Hub"
## Description
Please add the ability to load modules from TensorFlow Hub. For example, I'd want to be able to download, save and use their universal-sentence-encoder model.

[2020-05-18 07:29] beHappy666 opened #71 "Load my own pytorch or tensorflow model(Not the standard model in model zoo)"
Can i use my own pre-trained model for inferencing?

[2020-05-18 18:23] stu1130 commented on #71
Sure @beHappy666 you can take a look at [load_your_mxnet_model](https://github.com/awslabs/djl/blob/master/jupyter/load_mxnet_model.ipynb) and [load_your_pytorch_model](https://github.com/awslabs/djl/blob/master/jupyter/load_pytorch_model.ipynb)

[2020-05-18 18:30] frankfliu commented on #71
@beHappy666 you can use ModelZoo API load your own model from local file system, http server or even [S3 bucket](https://github.com/awslabs/djl/tree/master/3rdparty/aws-ai#load-model-from-aws-s3-bucket).

And you can also create your own model zoo by implementing: [ZooProvider](https://github.com/awslabs/djl/blob/master/api/src/main/java/ai/djl/repository/zoo/ZooProvider.java) interface

[2020-05-18 18:45] frankfliu commented on #70
@cowwoc DJL can load a model from a http url already:
[code]

We will add a document to describe how to do it a bit later

[2020-05-19 15:16] cowwoc commented on #70
@frankfliu General feedback, I dislike the use of `System.setProperty` for input parameters as it is not thread-safe. I assume you plan to add a separate thread-safe API method to input the URL?

[2020-05-19 17:51] frankfliu commented on #70
The system property is a model zoo repository search path, you can specify multiple path with a comma delimited string.
It's not meant to be used in runtime. We can consider add a TfHubModelZoo module that handles url indexing to make it easy to access tf-hub models.

[2020-05-21 10:51] beHappy666 commented on #71
@stu1130 @frankfliu  thanks

[2020-05-22 01:14] frankfliu commented on #70
@cowwoc I added a Criteria.optModelUrls() API, so you don't need to rely on system property any more. See: https://github.com/awslabs/djl/blob/master/docs/load_model.md#load-model-from-a-url

[2020-05-22 01:15] frankfliu commented on #71
@beHappy666 I added a document regarding how to load model from local file system and URL: https://github.com/awslabs/djl/blob/master/docs/load_model.md

[2020-05-22 01:15] #71 closed

[2020-05-22 10:52] cowwoc opened #73 "Rename ModelZoo, ZooModel"
I suggest renaming ModelZoo, ZooModel classes because:

1) It's not intuitive when you should use one versus the other (the name doesn't make it obvious).
2) If this is meant to model a collection of models, please just call it a ModelCollection. The use of the word "Zoo" doesn't add any useful meaning to first-time readers and in my case just caused confusion.

Just my 2 cents :)

[2020-05-22 11:55] cowwoc opened #74 "Remove no-op {@inheritDoc}"
I noticed multiple instances where the code contains the following Javadoc: `/** {@inheritDoc} */`

This behavior is already the default. Try removing the Javadoc and regenerating the documentation and you will notice that nothing has changed.

The only time you need to use `{@inheritDoc}` is if you plan to augment the inherited Javadoc, which in the above case you do not.

I suggest removing such

[2020-05-22 16:21] frankfliu commented on #73
@cowwoc thanks for your suggestion. Here is my thought:
1. ZooModel is indeed not intuitive. But I just could not find a good name. We are open to suggest a better class name
2. ModelZoo may be confusion for user who not familiar with DL. But actually it's widely used in DL world, TF/PT/MXNet/Keras all has Model Zoo concept. I think it's OK to introduce new concept to new Java user. ModelZoo is me

[2020-05-22 17:09] frankfliu commented on #74
@cowwoc there is slightly difference between using *Automatically inherit comment* vs *Explicitly inherit*.

Using *inheritDoc* explicitly can suppress annoying: "Description copied from interface:" in javadoc. And it gave you a bit more control,
see: https://docs.oracle.com/javase/7/docs/technotes/tools/solaris/javadoc.html#inheritingcomments

[2020-05-22 19:02] frankfliu commented on #66
@murphye I fixed this bug in [this commit](https://github.com/awslabs/djl/commit/30c578ef1027f9ff24a691ca1e58a9cf0622f0e8)

Please see documentation regarding customize model directory in url: https://github.com/awslabs/djl/blob/master/docs/load_model.md#load-model-from-a-url

[2020-05-22 19:02] #66 closed

[2020-05-22 19:02] #70 closed

[2020-05-22 19:50] cowwoc commented on #74
I personally don't mind "Description copied from [interface/class]: X" but understand that you might feel differently. It's odd/unfortunate that we can't configure this behavior once (from command-line?) instead of repeating this preference for every method. You might want to file a RFE with Oracle.

[2020-05-22 19:51] #74 closed

[2020-05-23 02:58] cowwoc commented on #73
This sounds like terminology specific to the NN space. Coming from a Java perspective, I don't find `ModelCollection` to be too generic. You could also try `ModelBundle`, `ModelModule` (similar to Tensorflow Module), `Models` or even `Bundle`, `Module` without the model name in it.

Another question is whether you even need an interface. Maybe all you need is a concrete implementation that users c

[2020-05-25 17:10] keerthanvasist opened #75 "Multi-GPU training fails with CUDA illegal memory access for some examples"
When running training examples in multi-GPU, I came across CUDA illegal memory access for examples with LSTM operators

### Error Message
[code]

## How to Reproduce?
We can reproduce by running the TrainSeq2Seq example on a machine with more than 1 GPU.

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. ./gradlew :examples:run -Dmain=ai.djl.examples.training.TrainSe

[2020-05-27 18:57] roywei opened #76 "NDIndex does not support -1"
There is a bug when trying to get "-1" from NDIndex, can be reproduced by change the following test:

[code]

**Work around:
use `get(":-1")` works**

strack trace:

[code]

[2020-05-28 20:29] JonTanS commented on #57
Fixed and merged, reference commit id: a8c4bfc885a3cb39d333d3487a4f64e4fd2ac898

[2020-05-28 20:29] #57 closed

[2020-05-30 10:09] danhlephuoc opened #78 "YOLO Models trained with Coco and Darknet53 return Cuda Memory error (MxNet engine)"
## Description

ObjectDetection example with the pre-trained Yolo models (dataset=coco, backbone=darknet53) return error:

"MXNet engine call failed: CUDA: Check failed: e == cudaSuccess: an illegal memory access was encountered"

### Expected Behavior

Object Detection example should work on different pre-trained Yolo models. Note, Yolo models trained with Pascal VOC work just fine.

### Error Me

[2020-05-30 16:42] lanking520 commented on #78
Thanks for report the issue? Could you please try out:

Add snapshot repository: "https://oss.sonatype.org/content/repositories/snapshots/" in maven repository.

And use 0.6.0-SNAPSHOT version.

recently we fixed an issue related to this. It might be caused by the NDArray is no CPU and not on GPU, and GPU cannot find the pointer caused the crash.

[2020-05-30 17:12] danhlephuoc commented on #78
I changed to 0.6.0-SNAPSHOT version, I got the same error. Btw, I tested with my MacPro without GPU, the Yolo models with Darknet53 and Coco work fine on CPU

[2020-05-30 17:20] frankfliu commented on #78
@danhlephuoc is that possible you can share your repo?
Are you using multiple GPU for the training? Can you try to limit use only one GPU?

The commit lanking520 mentioned is here:
https://github.com/awslabs/djl/commit/0ca79f4f5b4784d5e84a9732cec3091fa2a5f51f

It's an error checking to identify where the mismatch device happens. You still need fix the ndarray creation.

[2020-05-30 17:55] danhlephuoc commented on #78
@frankfliu  : I've forked and reproduce the code for the error at https://github.com/danhlephuoc/djl.git , you just clone and run

mvn exec:java -Dexec.mainClass="ai.djl.examples.inference.ObjectDetection"

I already limited to 1 GPU via CUDA_VISIBLE_DEVICES, but the error still stays

[2020-05-30 18:12] stu1130 commented on #78
I can reproduce the issue with single GPU
When I use `export MXNET_ENGINE_TYPE=NaiveEngine`, I saw
[code]
So it could be a problem with our symbolic model.

[2020-05-30 18:46] frankfliu commented on #75
It seems the root cause is related to NDManager.create(..., Device dev) APIs, In many places (e.g. MXNDArrayEx), the temporary NDArray is created like: array.getNDManager.create(data), it doesn't explicitly passing device to the function, it will inherit from NDManager rather then the array. In multi GPU cause, NDArray operation across difference device will cause exception.

A proper fix would be

[2020-05-31 06:07] danhlephuoc opened #79 "CocoDetection creates a wrong directory structure for Coco data"
## Description
Coco Detection creates and download Coco data into a wrong directory structure:

/root/.djl.ai/cache/repo/dataset/cv/ai/djl/basicdataset/coco/1.0/
-- annotations
---- annotations
-- train2017
----train2017
--val2017
-----val2017
and

/root/.djl.ai/cache/repo/dataset/cv/ai/djl/basicdataset/coco/1.0/annotations/
--annotations
    ---- captions_train2017.json
   ---- captions_val2017.j

[2020-05-31 10:02] waicool20 opened #80 "Reshape exception during NDArray.set()"
## Description
DJL seems to complain when trying to set multiple elements via function when using NDIndex slicing.
I was expecting the example below to apply sigmoid function to elements 2-3 in each array
Setting just a number works though:
[code]

### Error Message
[code]

### Steps to reproduce
[code]

[2020-05-31 17:10] frankfliu commented on #79
@danhlephuoc Thanks for report this issue. I can reproduce it. Will have a fix soon.

[2020-05-31 17:29] lanking520 commented on #80
I can reproduce your issue. https://github.com/awslabs/djl/blob/master/api/src/main/java/ai/djl/ndarray/index/NDIndex.java#L324. This is the pain point, I will make some fix there.

[2020-05-31 19:17] frankfliu commented on #79
@danhlephuoc I fixed the issue in this commit: https://github.com/awslabs/djl/commit/565e096b4e102eeb96a0ca3fc252432179213005

You need to remove your local metadata.json to let this change take affect.

By the way, you may need to add the following dependency to your project to use COCO dataset:
[code]

See: https://github.com/awslabs/djl/tree/master/basicdataset#installation

[2020-05-31 19:17] #79 closed

[2020-06-02 00:57] lanking520 commented on #80
@waicool20 Just fix with https://github.com/awslabs/djl/commit/23926642ceb60865f1b2a70335608fecb4797103.
Please checkout with snapshot build of API and verify

[2020-06-02 14:09] waicool20 commented on #80
Hmm I can confirm the test snippet above works on my side now, still doesn't work in my yolo model for some reason:
[code]

![image](https://user-images.githubusercontent.com/5538666/83529876-87406380-a51d-11ea-8afb-5927fba1bb74.png)

[2020-06-02 14:22] waicool20 commented on #80
I've deleted the gradle cache and let gradle redownload the dependencies and restarted IDEA and it works now. It's odd since the snippet above is in the same project so the dependencies should be the same... but at least it works now :+1:

[2020-06-02 14:22] #80 closed

[2020-06-02 17:56] stu1130 commented on #69
@waicool20 ellipsis is supported by https://github.com/awslabs/djl/commit/7ed0b145519f67f601413937e7c88a1899b565dc

[2020-06-02 19:11] zachgk commented on #76
Fixed in https://github.com/awslabs/djl/commit/637f24afe9b68a6aa33179e3ebc758398383b098

[2020-06-02 19:11] #76 closed

[2020-06-03 13:02] waicool20 commented on #69
Thanks, works great!

[2020-06-03 13:02] #69 closed

[2020-06-05 21:01] stu1130 commented on #75
I verified the crash no longer shows up. closed the issue.

[2020-06-05 21:01] #75 closed

[2020-06-08 13:09] chenkelmann opened #84 "Multiple GPUs are used sequentially, not parallel"
## Description
When using more than one GPU for training, the GPUs are used one *after* the other, not both at the same time.

### Expected Behavior
Both GPUs work under full capacity the whole time.

### Error Message
N/A

## How to Reproduce?
 If a model is very memory intensive, it needs to clean up used memory, e.g. after processing a transformer layer. The way to do this is to create a sub ma

[2020-06-10 01:44] yanchaoguo opened #87 "如何使用djl提取图片特征 [How to use DJL to extrac image feature]"
提取图片特征返回特征数组，用来进行图片搜索

------

How to extract image feature to get feature matrix to use for image search

[2020-06-10 01:46] yanchaoguo opened #88 "How to extract features of image using djl model"
我期望的是模型在中间某层layer的特征输出，通过这些特征我可以计算与其它图片的相似度

[2020-06-10 01:54] lanking520 commented on #88
你好，你可以使用DJL的Image API来把image转换成 NDArray，可以试试看如下的api
[code]
For more information, you can find [here](https://github.com/awslabs/djl/blob/master/api/src/main/java/ai/djl/modality/cv/Image.java).

[code]
可以直接复制粘贴代码到 https://djl.ai/website/demo.html Block Runner 直接跑，跑完之后download template在本地运行。

[2020-06-10 01:55] lanking520 commented on #87
Close due to the dup of : https://github.com/awslabs/djl/issues/88

[2020-06-10 01:55] #87 closed

[2020-06-10 02:22] yanchaoguo commented on #88
不是简单的转ndarray 需要用vgg16或者其它深度学习模型去做特征提取 ，提取的特征将应用在后续的图片搜索服务

[2020-06-10 02:39] frankfliu commented on #88
What you need is the predict result. What can do following:

[2020-06-10 02:56] lanking520 commented on #88
About feature extraction. There are a couple of ways.

If you have a pretrained model, say vgg16 in MXNet or Torchvision. After loading the weight, you can extract these layers and [convert them into TorchScript(PyTorch)](https://github.com/awslabs/djl/blob/master/docs/pytorch/how_to_convert_your_model_to_torchscript.md). After that, you can load the model in DJL and run inference to extract featu

[2020-06-10 03:12] yanchaoguo commented on #88
有没有例子 使用什么方式抽取layers and 抽取 feature

[2020-06-10 03:31] yanchaoguo commented on #88
private NDList predict(NDList ndList)  这是一个私有方法

[2020-06-10 04:49] frankfliu commented on #88
You can use following code to get the result:
[code]
`NoopTranslator` will do preprocess/postprocess and simply pass NDList to the model and return raw NDList as output.

Generic predict() API is a public method:
https://github.com/awslabs/djl/blob/master/api/src/main/java/ai/djl/inference/Predictor.java#L111

[2020-06-10 06:11] yanchaoguo commented on #88
NoopTranslator     中的 processOutput方法返回的
NDList包含图片特征信息吗，不应该是probabilities = list.singletonOrThrow().softmax(0)

[2020-06-10 06:48] frankfliu commented on #88
Here is object detection example:
https://github.com/awslabs/djl/blob/master/examples/src/main/java/ai/djl/examples/inference/ObjectDetection.java#L55-L69

You can achieve image classification in a similar way using DJL pretrained model.

You can want to use your own model, you can find image classification example here:
https://github.com/awslabs/djl/blob/master/examples/src/main/java/ai/djl/exam

[2020-06-10 10:08] yanchaoguo commented on #88
这里我再次描述一下我的问题，我打算通过vgg或则resnet模型提取图片特征，并将深度模型提取的特征进行索引以供检索；目前没有发现djl有合适的方法可以帮组我有效的提取图片的特征向量(数组)
您提供的上述方式(NDList result =  predictor.predict(input);) 这里的result 并不含有图片特征信息 而是预测的分类结果

[2020-06-10 15:16] yanchaoguo opened #89 "How to print model's topology and each block's input/output information (如何打印model 的网络结构)"
或者获取每层网络的类型和大小 、输入和输出维度相关信息

[2020-06-11 00:04] yanchaoguo opened #91 "如何裁剪model的网络"
1，从model网络中根据block名称获取特定的block或者从输入层截取到某一层（如 获取vgg16的fc2）
2，block提供了删除最后一层的实现，但仅仅能删除最后一层 有没有办法继续删除

[2020-06-11 00:14] yanchaoguo commented on #88
I don't need model's parameters  ,but want to get vectors of image that model feed forward ,for example fc2 of vgg16

[2020-06-11 05:39] #91 closed

[2020-06-11 06:09] heartzeus opened #92 "maybe the DJL_VERSION in the build.gradle & pom.xml of examples should be updated"
## Description
(A clear and concise description of what the bug is.)

### Expected Behavior
(what's the expected behavior?)

### Error Message
(Paste the complete error message, including stack trace.)

## How to Reproduce?
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
(Paste the comman

[2020-06-11 07:16] yanchaoguo commented on #88
According to your prompt, I got the result simply; as follows：

`
        ConcurrentHashMap<String, String> criteriaFilter = new ConcurrentHashMap<>();
        criteriaFilter.put("layers", "50");
        criteriaFilter.put("flavor", "v1");

        Model model = MxModelZoo.RESNET.loadModel(criteriaFilter, new ProgressBar());
        SequentialBlock newBlock = new SequentialBlock();
        SymbolB

[2020-06-11 10:56] yanchaoguo opened #93 "wishing that you can add a image vector extraction using djl model to examples"
## Description
(A clear and concise description of what the feature is.)

### Will this change the current api? How?

### Who will benefit from this feature?

## References
- list reference and related literature
- list known implementations

[2020-06-11 15:57] la-cruche opened #94 "Support for ONNX models"
## Description
It would be nice for DJL to be able to run inference on ONNX-formatted model.

### Will this change the current api? How?

### Who will benefit from this feature?
ONNX is popular for DL developers as an intermediary artifact representation between DL training frameworks and DL inference engines. ONNX users looking for a java inference front-end will benefit from this. For example th

[2020-06-11 16:09] keerthanvasist commented on #94
Thank you for your suggestion @la-cruche. We are actively considering adding ONNX runtime support in DJL.

[2020-06-11 17:59] lanking520 commented on #88
That's awesome, we will try to improve this feature further. At least not calling removeLastBlock for a lot of times

[2020-06-11 18:39] zachgk commented on #94
Another option you can do now is to try importing your onnx model into another framework such as mxnet (https://mxnet.apache.org/api/python/docs/api/contrib/onnx/index.html?highlight=onnx) or keras/tensorflow (https://github.com/nerox8664/onnx2keras) and then converting your model into their model format

[2020-06-11 23:53] yanchaoguo commented on #88
But it didn't work very well，do you have a easier method to make it more rational

[2020-06-12 02:12] yanchaoguo commented on #88
有个问题想请教一下 resnet50最后的全连接层输出的shape是2048 怎么降维到1024 ？

[2020-06-12 05:10] yanchaoguo opened #95 "error scheme exception when loading img dataset in window environment"
Repository.newInstance(type, “d:/data/cars”)
If I set it like this,  will get this error ,must remove "d:/"

Probably because URI creation is not allowed

[2020-06-12 06:19] lanking520 commented on #88
You can add another fully-connected layer and train for a few epochs. Also there are [a few techniques](kdnuggets.com/2015/05/7-methods-data-dimensionality-reduction.html) you can try on. Presonally I used PCA before, and it helped to keep 85% feature while dimension reduced to 1/3 of the original size. Hope this help

[2020-06-12 06:21] lanking520 commented on #95
If this is Windows, should it be `d:\`?

[2020-06-12 07:08] heartzeus opened #96 "Demo for using personal dataset"
the demo in this blog [Deep Java Library(DJL) — a Deep Learning Toolkit for Java Developers](https://towardsdatascience.com/deep-java-library-djl-a-deep-learning-toolkit-for-java-developers-55d5a45bca7e) is not up2date. can you provide latest demo?

[2020-06-12 07:11] yanchaoguo commented on #95
Repository.newInstance(type, “d:\\data\\cars”)
If I set it like this, will also get this error ,must remove "d:\\"

[2020-06-12 08:14] yanchaoguo opened #97 "not found Symbol.json after save model"
使用transfer_learning将训练好的model进行保存，生成的文件不包含Symbol 和 synset 那么load时会报Symbol file not found in:

[2020-06-12 12:02] yanchaoguo commented on #97
@frankfliu can you help me

[2020-06-12 17:01] frankfliu commented on #97
Transfer learning example saved models is DJL model format. Since you changed the Blocks, it's consider as an imperative model. it doesn't require symbol file.

When you load the model, you have to call setBlock() to set the modified block first.
Here is example how to load an imperative mode: https://github.com/awslabs/djl/blob/master/model-zoo/src/main/java/ai/djl/basicmodelzoo/cv/classification

[2020-06-12 17:04] frankfliu commented on #96
@heartzeus Will consider add this into our demo repo

[2020-06-12 17:10] zachgk commented on #39
Since we have this feature and there is no response, I will close the issue for now. Please feel free to reopen or open a new issue

[2020-06-12 17:10] #39 closed

[2020-06-12 23:59] yanchaoguo commented on #97
thank you for my help I will try it

[2020-06-13 00:56] yanchaoguo opened #99 "add predict method to transfer_learning example"
Lack of prediction method. This is an incomplete case

[2020-06-13 04:50] frankfliu commented on #95
@yanchaoguo 2nd parameter is a URI, D:\\ or D:// is not a valid URI, you should pass: "file:///d:/data/cars"

It's not intuitive for Windows user. If we support d:\\data format, should we also support UNC (//shareddrive/data ?

I think we made it clear it's a uri not a file path.

[2020-06-13 04:54] #97 closed

[2020-06-13 14:38] frankfliu commented on #95
@yanchaoguo A possible enhancement could be add a overload:
Repoistory.newInstance(String name, Path path)

[2020-06-13 15:36] #95 closed

[2020-06-13 16:01] frankfliu commented on #92
DJL_VERSION  is updated to 0.6.0-SNAPSHOT:
https://github.com/awslabs/djl/blob/master/examples/build.gradle#L13

[2020-06-13 16:01] #92 closed

[2020-06-14 05:59] yanchaoguo opened #100 "TrainResnetWithCifar10例子中存在一个错误"
我按照例子在自己的10分类数据集上进行测试 发现存储的模型无法得到正确的输出 抛出数组越界的错误，经排查： newBlock.add(x -> new NDList(x.singletonOrThrow().squeeze()));这段代码会导致预测时网络出错
应改为newBlock.add(Blocks.batchFlattenBlock());

参考：
https://github.com/awslabs/djl/blob/468ba99815d57e17ae349d072da36be1cc31cdbd/model-zoo/src/main/java/ai/djl/basicmodelzoo/cv/classification/ResNetV1.java

[2020-06-14 15:39] frankfliu commented on #100
@yanchaoguo I'm working on a fix and adding inference in example.
The last block should be: newBlock.add(Blocks.batchFlattenBlock(10));

[2020-06-14 16:05] yanchaoguo commented on #100
When will it be submitted? Besides, can you provide an example about image feature extraction to examples

[2020-06-15 08:41] yanchaoguo opened #101 "Error reporting of building mxnet model in Windows Environment"
当我使用Model model = Model.newInstance(Device.gpu(),"MXNet");语句在我的windows GPU环境操作mxnet模型时报错了
如下：
No matching cuda flavor for win found: cu100mkl/sm_61.
  [16:34:33] C:\source\mxnet-distro\mxnet-build\src\nnvm\legacy_json_util.cc:209: Loading symbol saved by previous version v1.5.0. Attempting to upgrade...
[16:34:33] C:\source\mxnet-distro\mxnet-build\src\nnvm\legacy_json_util.cc:217: Symbol successf

[2020-06-15 10:52] yanchaoguo commented on #101
看了下源码 目前貌似仅仅支持cuda 92 10.1 10.2

[2020-06-15 15:42] frankfliu commented on #101
@yanchaoguo We only provide CUDA 9.2 10.1 and 10.2 pre-built binary, see:
https://github.com/awslabs/djl/tree/master/mxnet/mxnet-engine#windows

You can install a custom MXNet for cuda 10.0 with DJL, see: https://github.com/awslabs/djl/blob/master/docs/development/troubleshooting.md#4-how-to-run-djl-using-other-versions-of-mxnet

[2020-06-15 15:42] #101 closed

[2020-06-15 21:26] frankfliu commented on #99
@yanchaoguo Added predict example with this commit: https://github.com/awslabs/djl/commit/1775305152a3611876b0bd3487d9d202761d22ea

[2020-06-15 21:26] #99 closed

[2020-06-15 21:31] frankfliu commented on #100
Fixed with commit: https://github.com/awslabs/djl/commit/1775305152a3611876b0bd3487d9d202761d22ea

@yanchaoguo for the image feature extraction, the solution you proposed is specific to MXNet. We didn't find a generic and elegant way to implement such an API. Use can implement such a solution as you described themselves. We will keep to explore a solution in future.

[2020-06-15 21:33] frankfliu commented on #88
Fill free to reopen this issue if you have further questions.

[2020-06-15 21:33] #88 closed

[2020-06-16 07:44] yanchaoguo opened #102 "how to train instance segmentation using my dataset or load mature model such as unet of pytorch"
Python's UNET model works very well. How can I load it into djl

[2020-06-16 09:19] yanchaoguo commented on #102
打算通过图片语义分隔的方式进行背景移除（抠图）,目前demo中使用的模型准度不满足要求 ，边缘处理不够和谐

[2020-06-16 17:16] lanking520 commented on #102
As long as the model is [tracable](https://pytorch.org/docs/master/generated/torch.jit.trace.html) you can import in DJL and start using it. You may need to create your own translator. For the pretrained model DJL provided, it use the [GluonCV](https://gluon-cv.mxnet.io/build/examples_segmentation/demo_fcn.html) model which ideally should work well. The reason you saw the saw-tooth like segmentati

[2020-06-17 01:36] yanchaoguo commented on #100
@frankfliu 迁移学习例子中如果将 newBlock.add(x -> new NDList(x.singletonOrThrow().squeeze()));这段代码替换为newBlock.add(Blocks.batchFlattenBlock()); 在我的10分类数据集上进行相同epoch模型训练，会得到更好的准确率

[2020-06-17 02:31] yanchaoguo commented on #102
I don't quite understand how I should optimize to improve the sawtooth problem

[2020-06-17 05:37] murphye opened #103 "EngineException when running in GraalVM Native Image"
## Description
Please see this updated project: https://github.com/murphye/djl-demo/blob/master/pneumonia-detection-quarkus/README.md

I have two endpoints:

`/detect` will attempt to run the model, and will fail with the following error:
[code]

`/check` will print out information showing that the TensorFlow Engine has been loaded properly.

[code]

**There is a contradiction of information here

[2020-06-17 16:35] chenkelmann commented on #84
The class ParallelTrain in PR #105 contains a sketch on how to fix this issue.

[2020-06-17 17:35] berry120 opened #106 "Mnist - memory issue"
## Description
While trying to run the `Mnist` sample, I get to around 80% through and then hit a `ai.djl.engine.EngineException: MXNet engine call failed: MXNetError: can't alloc`. The same behaviour occurs if I run the minimal tutorial sample below.

I'm on Windows, using `mxnet-native-auto:1.7.0-a` and `0.5.0` of the various `djl` libraries.

This *may not* be a bug at all - I only have 8GB RAM

[2020-06-17 20:34] frankfliu commented on #106
@berry120 This is not a bug.

Comment out batch.close() won't have direct impact on the memory. That's because we close previous batch in the DataIterator when fetching next one. See: https://github.com/awslabs/djl/blob/master/api/src/main/java/ai/djl/training/dataset/DataIterable.java#L127-L129

[2020-06-17 20:48] berry120 commented on #106
@frankfliu Thanks for the prompt reply. Looks like I'll just need to invest in some more RAM in that case :-)

[2020-06-17 20:48] #106 closed

[2020-06-17 21:03] lanking520 commented on #102
This is the [code to draw the mask](https://github.com/awslabs/djl/blob/master/api/src/main/java/ai/djl/modality/cv/BufferedImageFactory.java#L260). Essentially when we do instance segmentation, we obtained a Detected Object as well as a mask. Mask is a matrix contains distribution of region. We draw the result based on the region. There are advanced algorithm developed in Python to draw the mask

[2020-06-17 23:07] frankfliu commented on #103
@murphye
I added debug to troublshoot engine load and model zoo loading:
https://github.com/awslabs/djl/commit/0af494ab721b76a7db1924526e68c4f1222261ab
https://github.com/awslabs/djl/commit/b4d31d91a1e6187f848c40009e5152919ceb0636

Engine exception might be a bug in 0.5.0, I'm trying to debug with 0.6.0-SNAPSHOT, I made some changes to your code, will post update a bit later.

[2020-06-18 04:50] frankfliu commented on #103
@murphye I made some changes in my branch: https://github.com/frankfliu/djl-demo/tree/quarkus/covid19-detection-quarkus

Now EngineException is gone. But I'm still facing java.lang.UnsatisfiedLinkError.

This was the same static initialization issue. I tried to add --initialize-at-run-time and --initialize-at-build-time, doesn't seem work.

All the static initializer are not executed at all. I'm n

[2020-06-18 16:27] murphye commented on #103
@frankfliu Did you push your changes to your branch? Can you add link to your commit?

Now that we have overcome this issue, I can try again with my original `--initialize-at-run-time` changes. You can see those here in the old project:

https://github.com/murphye/djl-demo/blob/master/covid19-detection-quarkus/src/main/resources/application.properties#L4

That being said it would be good to know h

[2020-06-18 16:32] frankfliu commented on #103
Here is my commit: https://github.com/frankfliu/djl-demo/commit/1f3ef470261d3f4730e11d6ca8694b328ca54620
And the PR I created to your repo: https://github.com/murphye/djl-demo/pull/3

[2020-06-18 23:24] roywei commented on #100
Hi @yanchaoguo 经讨论我们会改成用batchFlatten()，不过我们觉得并不会影响训练准确度。因为不管是squeeze还是batch flatten都只是改变形状，并不会多学习到一些feature。
请问在你的数据集上准确率能提升多少？跑相同的epoch，准确率的差别会不会是由于初始化的不同导致的？假设给与足够多的epoch数，不管用哪个，理论上应该都能到达相同的准确率。

[2020-06-19 00:02] yanchaoguo commented on #100
这是我做的实验  十个类汽车数据集 每个类大学有500张图片  都是训练了50次，结果是batchFlatten()这种方式得到的模型 效果要远远好于另一种，你们也可以测试一下
链接: https://pan.baidu.com/s/1C6YFzERknzsYFaVzm5mjug 提取码: qx8g  源码工程

[2020-06-19 22:49] stu1130 commented on #100
@yanchaoguo in our transfer learning example, we use MXNet model which doesn't flatten right before the Linear block (fullyconnected) as MXNet [fullyconnected](https://beta.mxnet.io/api/ndarray/_autogen/mxnet.ndarray.FullyConnected.html) can do the flatten operation for you. As a result, you need to explicitly add batchFlatten() here. It is pretty common in TensorFlow and PyTorch model as well.

[2020-06-19 22:51] stu1130 commented on #100
I will go ahead to close the issue, please feel free to reopen the issue.

[2020-06-19 22:51] #100 closed

[2020-06-21 06:01] frankfliu commented on #103
@murphye I made some progress.
1. I created a project only use graalvm: https://github.com/frankfliu/djl-demo/tree/graalvm/graalvm
    1. With a lot of manual configurations, I'm able to load TF engine, and make it partially working.
    2. Then I hit an issue with BufferedImage: https://github.com/oracle/graal/issues/1163, It looks like we have to find an alternative image processing library.

[2020-06-22 17:52] murphye commented on #103
I made some progress as well. but on a different path. I am able to compile and run in Native, but the TensorFlow libs are not being loaded correctly.

[code]

I am trying to bundle with the executable after copying to the target directory:

[code]

[2020-06-22 17:53] murphye commented on #103
@frankfliu Per your issue, try adding this to `application.properties`

[code]

[2020-06-22 18:01] murphye commented on #103
Per https://github.com/oracle/graal/issues/1163, I have read that PNG works, but JPG does not. I have used Apache Commons Image in my other project, but it has serious limitations if the JPG is compressed too much, it cannot read the file.

https://github.com/murphye/quarkus-tensorflow-inception/blob/master/src/main/java/io/quarkus/tensorflow/ObjectDetectionService.java#L71

[2020-06-22 18:10] frankfliu commented on #103
@murphye I made some changes to workaround image problem. Using apache commons imaging seems work. commons images doesn't support save JPG file and some of JPG file cannot load properly. But it works in general. See my PR: https://github.com/aws-samples/djl-demo/pull/55

I will try quarkus.ssl.native=true for quarkus project

[2020-06-22 19:34] frankfliu commented on #103
@murphye I tried quarkus.ssl.native=true, it doesn't work, still got java.lang.ClassNotFoundException: io.netty.internal.tcnative.SSLPrivateKeyMethod,

I even tried add this to resource-config.json and jni-config.json, no luck.

[2020-06-22 20:27] lanking520 commented on #94
Currently we have an experimental support with ONNX Rutime: https://github.com/awslabs/djl/tree/master/onnxruntime/onnxruntime-engine
Please let us know if you are facing any difficulties trying out. There will be more tutorials coming out soon.

[2020-06-22 20:27] #94 closed

[2020-06-22 20:48] murphye commented on #103
@frankfliu I will research. Cannot find any relevant GitHub issues. Possibly a conflict with JNI config for TensorFlow & Netty?

I have concerns that there is too much configuration in the solution. It may be good to find other example of using JavaCPP with Native Image (without DJL) as a baseline.

[2020-06-23 17:03] murphye commented on #103
@frankfliu There is something called `javacpp-shadowed.jar` included with GraalVM 20.1.0 that should augment SubstrateVM to work with JavaCPP.

In other words, all of the extra config shouldn't be necessary. That is all I know for now, based on some quick research.

[2020-06-24 04:29] frankfliu commented on #103
@murphye I made some changes to make DJL GraalVM friendly: https://github.com/frankfliu/djl/tree/graalvm, with this change you don't need adding configuration. You can see this demo project, it's working by default now: https://github.com/frankfliu/djl-demo/tree/graalvm/graalvm

It seems quarkus did something strange and changed default build behavior. With the same dependency, I got following err

[2020-06-24 21:23] murphye commented on #103
@frankfliu

1) I believe you did the correct thing by adding GraalVM support to DJL directly. The path that we were on before was not the right path because of too much configuration, etc.

2) Quarkus doesn't *officially* support GraalVM 20.1.0 yet, but it should still work OK. *I would recommend opening an issue in GitHub for Quarkus project*, as this may be some 20.1.0 incompatibility with the c

[2020-06-26 16:12] murphye commented on #103
@frankfliu Do you have all your latest code committed to DJL and demo project? I will take another look at this next week.

[2020-06-27 01:20] frankfliu commented on #103
@murphye I'm done on my side:
1. I made some more changes in my private DJL branch: https://github.com/frankfliu/djl/tree/graalvm, I removed static initializer in djl code base. You can build to your local .m2 by:
[code]
2. I pushed quarkus-pt branch in my demo repo: https://github.com/frankfliu/djl-demo/tree/quarkus-pt/pneumonia-detection-quarkus. I'm using pytorch engine, it can generate native-

[2020-06-29 15:29] murphye commented on #103
@frankfliu Thanks I will try to look in next couple of days. Seems like we are getting closer however. I am optimistic considering I had previous TensorFlow demo working in Quarkus.

[2020-06-30 16:34] jmracek opened #114 "SentencePiece functionality for DJL"
## Description
I am requesting the addition of SentencePiece functionality to DJL.  SentencePiece is an algorithm/[library](https://github.com/google/sentencepiece) for unsupervised text tokenization.  It is commonly applied in many natural language applications; for example, the original BERT paper tokenized text using SentencePiece.  Furthermore, SentencePiece is extremely useful for CJK languag

[2020-07-01 10:58] yanchaoguo opened #115 "how to process model using keras api"
## Question
Keras作为一种标准，不知道我们这边是否打算支持

[2020-07-01 16:44] frankfliu commented on #115
@yanchaoguo We can load Keras model: https://github.com/awslabs/djl/blob/master/docs/tensorflow/how_to_import_keras_models_in_DJL.md

Keras is a Python API, it's not following Java developer's convention. DJL's API is prioritize Java developer's user experience. If you train the model in DJL, the model can be loaded on different engines. And our goal is to make DJL even simpler than Keras for Java

[2020-07-01 17:27] lanking520 commented on #115
@yanchaoguo Since Keras now is a part of TF 2.0 API, we are supporting the full inference to it through TF Engine. The API design varies in between different DL Framework. Our plan is to go with a path that similar to Numpy and designed to be simple.

[2020-07-02 08:51] AmrRahmy opened #117 "Tensor flow error when including tensorflow maven dependencies"
## Description
I am getting a fatal error detected by jvm, when running the program with tensorflow dependencies in the project, even tho I am using a different engine in the criteria.

tensorflow dependencies used,

ai.djl.tensorflow:tensorflow-api:0.6.0
ai.djl.tensorflow:tensorflow-engine:0.6.0
ai.djl.tensorflow:tensorflow-model-zoo:0.6.0
ai.djl.tensorflow:tensorflow-native-auto:2.2.0

I think O

[2020-07-02 15:53] frankfliu commented on #117
@AmrRahmy Thanks for reporting this issue.

I noticed you are loading both libmxnet.so, libtorch.so and libtensorflow.so into the memory. Are you intend to use both of the engine?

I suggest you only add one dependency if you don't need them, DJL will load all engines as long as they are in classpath:
- It will use more memory to load both engine, the engine itself is not small
- most of DL engine

[2020-07-02 16:10] AmrRahmy commented on #117
I did notice the gpu memory usage increase when I added mxnet and tensor
flow but it is only 1.8GB for inference.

I intend on using object detection, face detection, face recognition and
pose estimation.

I noticed that pytorch only had the zoo model for resnet50. Mxnet had more
options.

I am new to djl, if you can guide me to how to download and use the
pretrained models, I would stick to one e

[2020-07-02 16:51] stu1130 commented on #117
@AmrRahmy you can use the following command to get the list of the models on the model zoo.
[code]

[2020-07-02 17:24] AmrRahmy commented on #117
Not using gradle, I personally just want to use intellij idea projects with
maven dependencies, but there is a list models function i used,

Map<Application, List<Artifact>> applicationListMap = ModelZoo.listModels();
for (Application application : applicationListMap.keySet()) {
System.out.println(application.getPath());
List<Artifact> artifacts = applicationListMap.get(application);
for (Artifact

[2020-07-06 03:35] LJWxyz opened #118 "Where is package ai.djl.mxnet.zoo.MxModelZoo;?"
I had no idea where to find the package.
I had v0.6.0 snapshot.jar &docs on my hand.
However to follow the detailed guide at
https://towardsdatascience.com/introducing-deep-java-library-djl-9de98de8c6ca
It seems that the script had that additional package not in the core.
Where to obtain?Thanks

[2020-07-06 03:48] LJWxyz commented on #118
i think i found the package inside,just need to manual compile and package i assume?
...\djl-0.6.0\mxnet\mxnet-model-zoo\src\main\java\ai\djl\mxnet\zoo
So yeah,hope in the future can get official support to have a neat jar package that can add to classpath as needed.^_^

[2020-07-06 04:05] LJWxyz commented on #118
Additional suggestion>list all the possible extra packages that are not included in the core into the readme.
Eg:if mxmodel package is not included in the snapshot.jar.That 's not a core"/basic package
List of additional package:
ai.djl.Mxmodel>(if have easy way of obtaining it.else just leave it blank...and hope..reader can find the jar or package it theirself from release or git..which is...)
ai

[2020-07-06 04:10] LJWxyz commented on #118
PS,having extensive functionality is fine,but not having an easy way of obtaining an detailed,reliable&fast workable package is also a minus.
Kinda like why some IDE that takes forever to load & the IDE itself needs to be manually cmake is not preferred,unless for security reason.and most text editor bind to the filetype,and can execute at specific OS smoothly after installation.^^

[2020-07-06 04:42] LJWxyz commented on #118
Finished compiling and packaging as jar.
The process is smooth as hell.Very impressed.
probably just needed jdk and the core djl lib
(if not wrong(Very neat and clean i personaly don't mind extra high perf collection lib,but newbie may be confused and give up)
I used zulu openjdk,and djl v060snapshot.jar
compile done
remove all java file with batch script
take it to a neat place package it.
Done.

[2020-07-06 15:36] frankfliu commented on #118
We publish multiple maven packages other than core djl libs: https://djl.ai/website/javadoc.html

For MxModelZoo, you need add this dependency: https://github.com/awslabs/djl/tree/master/mxnet/mxnet-model-zoo#installation

[2020-07-06 20:54] lanking520 commented on #118
I like this UI more: https://search.maven.org/search?q=g:ai.djl.mxnet . You can find corresponding config from the webpage.

[2020-07-07 06:05] LJWxyz commented on #118
awesome!would it be possible to put this few links at somewhere more obvious for newcomers?
like readme or wiki(or anywhere convinient to let new user know where to find those modules)?
Plus i believe all of us will benefit from having easy access to the link.^^
PS,sorry I am rather new to how github works.So,the experienced one gotta implement that to prevent conflicts
After that's done I think t

[2020-07-07 09:15] LJWxyz commented on #118
Just as a side question as I am trying the code in the tutorial>when compiling

 **incompatible types: ZooModel<Image,ai.djl.modality.cv.output.DetectedObjects> cannot be converted to ZooModel<BufferedImage,ai.djl.modality.cv.DetectedObjects>
                MxModelZoo.SSD.loadModel(new ProgressBar());**

Any idea to fix.Currently i uses both 0.21api &0.60 api&of course the mxmodels.
It may have b

[2020-07-07 12:02] LJWxyz commented on #118
welp decided to screw the tutorial and follow the most current api that have close coupleling with the library.Plus it doesn't seem to have a decent support for bufferedimage too.. so...The api for ai.djl.modality.cv.Image better not change.If changed,all newer code will once again get depreciated*.

[2020-07-07 13:04] LJWxyz commented on #118
Side problem solved,total version needed =33.Not quite bad huh?compared to manually us training AI....Well anyway The library architecture is quite good.From my experience the internal core api is decently build.It's currently not too bloated or too huge to find relevant stuff.The nested packages names make sense.The class naming is fine,the method naming is quite verbal and concise.
Had known thi

[2020-07-07 16:30] LJWxyz opened #122 "mxnet zoo module is failing very hard because of dependecies (unsure which api ver)"
Dependencies hell by>MxModelZoo or ai.djl.repository.RepositoryFactoryImpl

**D:\Coding\JavaSourceCode\user\plugin>java SimplelocalSSDeg
D:/Coding/JavaSourceCode/user/plugin/djlssdin\in.png
Exception in thread "main" java.lang.NoClassDefFoundError: org/slf4j/LoggerFactory
        at ai.djl.repository.RepositoryFactoryImpl.<clinit>(RepositoryFactoryImpl.java:32)
        at ai.djl.repository.Reposit

[2020-07-07 16:50] frankfliu commented on #122
This exception is not caused by DJL.

DJL doesn't directly depends on log4j, DJL depends on slf4j-api: https://mvnrepository.com/artifact/org.slf4j/slf4j-api/1.7.30

It's developer's responsibility to choose which log binding to use.
The popular choice are:
- logback: https://mvnrepository.com/artifact/ch.qos.logback/logback-core/1.2.3
- log4j2: https://mvnrepository.com/artifact/org.apache.loggin

[2020-07-07 17:01] frankfliu commented on #118
@LJWxyz thanks for pointing out the issue.

We changed from BufferedImage to out own Image because:
- depends on java.awt package is not a good idea, not all java system support awt (e.g Android, and some headless java distribution)
- User might use different image processing library other than imageIO (openCV, apache-commons-imaging, etc)

We missing some documentation that still referring to Buf

[2020-07-07 17:29] frankfliu commented on #118
We try our best to minimize the dependencies, DJL actually only has 4 external dependencies:
- sl4fj-api
- Gson
- JNA
- commons-compress

Although DJL itself has many packages, but in a real production environment, the minimal dependencies can be:
- ai.djl:api
- one of the engine package (e.g. ai.djl.pytorch:pytorch-engine)
- one of the native engine library (e.g. ai.djl.pytorch:pytorch-native-aut

[2020-07-07 23:02] aksrajvanshi opened #123 "Block creation null pointer exception"
## Description
Null pointer exception when the block is created and built but isn't initialized with any sort of initializer. (Normal/Xavier)

### Expected Behavior
I expect that the block would print the details of how the shape would change if passed with an NDArray.

### Error Message
Null pointer exception. Attaching the error snips.

Expected output

![Screen Shot 2020-07-07 at 6 57 26 PM](ht

[2020-07-08 02:18] LJWxyz commented on #122
Thanks for the helpful reply.It helped me to get it progress!oh yeah.
so this issue can now mainly be a reminder to update documentation to guide newcomer about the extra required dependencies.
In my folder now have>common compress-1.2,gson-2.8.6,slf4j-api-1.7.30.
Up until now i had never used any logging tools.ahha .I only uses exception.I do however see the point of using logging now.but i perso

[2020-07-08 02:33] LJWxyz commented on #123
Extra note:problem probably started at Arrays.asList

[2020-07-08 02:50] LJWxyz commented on #118
Awesome,thanks for the detailed guide and analysis.
I think the shift to custom Image is ok with those reasons.
For the dependencies,yes I think it's actually acceptable now since mxnet also probably relies on them,etc..
I can see those dependencies flying around,but at least the core is actually kinda independent so I am relieved.

[2020-07-08 03:08] LJWxyz opened #124 "Nullpointerexception at loadingmodel"
### Expected Behavior
just load the model and do stuff

### Error Message,Ps from start execute
D:\Coding\JavaSourceCode\user\plugin>java SimplelocalSSDeg
D:/Coding/JavaSourceCode/user/plugin/djlssdin\in.png
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for

[2020-07-08 05:02] murphye commented on #103
I took some time off, and have also been sick. Will return to this as soon as possible.

[2020-07-08 08:41] hackedbyxx opened #125 "SpringBoot java.lang.UnsatisfiedLinkError: C:\Users\*\.pytorch\cache\1.4.0-20200327cpu-win-x86_64\fbgemm.dll: Can't find dependent libraries"
## Description
I use pytorch as engine,the version is 0.5,firtsly 1.4.0/fbgemm.dll is not exist,i download 1.5.0 manually,and install Visual C++ Redistributable Packages still not working

### Error Message
java.lang.UnsatisfiedLinkError: C:\Users\sn78083\.pytorch\cache\1.4.0-20200327cpu-win-x86_64\fbgemm.dll: Can't find dependent libraries

### POM:

        <dependency>
            <groupId>ai.d

[2020-07-08 12:16] eusebioaguilera opened #126 "Problem loading Pytorch model"
## Question
Hi everyone. I am trying to use this library in order to serve deep neural network models for a web service. I'm trying to load a custom pytorch model for landmark detection. I have follow the method to convert the model (https://github.com/awslabs/djl/blob/master/docs/pytorch/how_to_convert_your_model_to_torchscript.md), then I've used the example code to load a model from a local fil

[2020-07-08 16:33] stu1130 commented on #126
Thanks for reporting the issue.
Does it work if add "-Dai.djl.default_engine=PyTorch"

[2020-07-08 16:40] stu1130 commented on #123
@aksrajvanshi Could you give me the script to reproduce the issue?
The initialization is required to create the parameters in each block.
We are planning to improve the user experience by having a default initializer

[2020-07-08 16:56] aksrajvanshi commented on #123
@stu1130 in https://github.com/awslabs/djl/blob/master/jupyter/d2l-java/chapter_convolutional-neural-networks/lenet.ipynb, the cell where we create the SequentialBlock, try removing the code starting from `float lr = 0.9f` until the end of the cell. And then run the cell. You will face the same errors as mentioned above.

[2020-07-08 17:32] lanking520 commented on #126
In here you can add 0.6.0 to replace the `djl.version`.

[2020-07-08 22:27] frankfliu commented on #124
Did you include one of mxnet native library jar in your classpath?
You need include one of the dependency if you choose MXNet engine, we recommend to use: mxnet-native-auto, see:
https://github.com/awslabs/djl/tree/master/mxnet/mxnet-engine#automatic-recommended

You need turn on debug log to show detail engine initialization issue. Here is one of simple way to configure logging:
Add following dep

[2020-07-08 22:36] frankfliu commented on #126
@eusebioaguilera
Would you please share the full stacktrace?
And can you enable logging and change log level to debug?
Since you are using maven, can should also print out the project dependency tree:
[code]

[2020-07-08 23:51] lanking520 commented on #125
Could you please check if fbgemm is there. If not, could you please try to install a visual studio 2017 to get the most up-to-date vc compiler? I will take some time to investigate the issue you have.

[2020-07-09 00:49] frankfliu commented on #125
@hackedbyxx
Your dependency looks fine, most likely still related to VC++ redistributable package version.
Would you please try the sample application: https://github.com/awslabs/djl-spring-boot-starter/tree/master/djl-spring-boot-console-sample

I just tried on a fresh Windows (with VC++ 2019 pack), and changed dependency to pytorch, it works fine for me.

[2020-07-09 02:08] hackedbyxx commented on #125
I've tried to install VC++2019 and reboot,it does not work,i think the problem is i cant't download dll of pytorch, it seems the remote websites doesnt have  1.4.0-20200327cpu-win-x86_64\fbgemm.dll matched.I just find and download 1.5

[2020-07-09 02:49] hackedbyxx commented on #125
i've install VC++ 2019 pack,I've tried mxnet,it works ok,but pytorch not work well

[2020-07-09 02:50] hackedbyxx commented on #125
i've install VC++ 2019 pack,I've tried mxnet,it works ok,but pytorch not work well

[2020-07-09 06:40] eusebioaguilera commented on #126
No, the same error appears using this property.

[2020-07-09 06:51] eusebioaguilera commented on #126
Hi, I have used the version 0.6.0 instead of the djl.version defined, and there is no difference.
1. The main content of the pom.xml file is:

    <properties>
        <endorsed.dir>${project.build.directory}/endorsed</endorsed.dir>
        <djl.version>0.6.0</djl.version>
        <ai.djl.default_engine>PyTorch</ai.djl.default_engine>
    </properties>

    <dependencies>
        <dependency>

[2020-07-09 07:31] eusebioaguilera commented on #126
The full stacktrace is:

jul. 09, 2020 9:26:06 A. M. com.example.machinelearning.service.utils.BaseImageDJLProcessor process
INFO: D:/example/java/JavaProjects/WebProjects/MachineLearningService/target/test-classes/com/example/machinelearning/service/processors/facialLandmarks/model
jul. 09, 2020 9:26:06 A. M. com.example.machinelearning.service.utils.BaseImageDJLProcessor process
INFO: Looking fo

[2020-07-09 09:35] LJWxyz commented on #124
D:\Coding\JavaSourceCode\user\plugin>java -Dorg.slf4j.simpleLogger.defaultLogLevel=debug SimplelocalSSDeg
D:/Coding/JavaSourceCode/user/plugin/djlssdin\in.png
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
Loading:     100% |████████████

[2020-07-09 09:40] LJWxyz commented on #124
solved the SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder"..but...where is the log?ww.new to logging system here.
Was hoping to have a nice log to show what's wrong instead of NPL that ponts to Engine.java ,line 50.ww

[2020-07-09 18:13] stu1130 commented on #123
Fixed by https://github.com/awslabs/djl/commit/23364c407f560ceb46b37d2be46ca47636fd3702

[2020-07-09 18:13] #123 closed

[2020-07-09 19:02] frankfliu commented on #125
@hackedbyxx
Would you please try to clean your pytorch cache directory: C:\Users\*\.pytorch\cache\1.4.0-20200327cpu-win-x86_64\
and try to run our examples project from DJL repo:

[code]

It should print out more debug informations about loading pytorch engine

If that doesn't work
[code]
above command can print more information about your system configuration.

[2020-07-09 19:15] frankfliu commented on #124
@LJWxyz
I really suggest you use maven or gradle to organize your project. they can take care dependencies for you easily.

Here is some issue I can see in your plugin directory:
1. api-0.2.1.jar - Please use api-0.6.0.jar, it doesn't match with other jars
2. examples-0.6.0.jar, you don't need this jar, this is just a demo project
3. DJL-0.6.0-SSHOT, what is this jar? is this your own jar?
4. I di

[2020-07-10 03:58] LJWxyz commented on #124
D:\Coding\JavaRuntimeAsset\djl-0.6.0\examples>gradlew run -Dai.djl.logging.level=debug
Found D:\Coding\JavaRuntimeAsset\djl-0.6.0\examples\\gradle\wrapper\gradle-wrapper.jar
Downloading https://services.gradle.org/distributions/gradle-6.0.1-bin.zip
.........10%.........20%.........30%.........40%.........50%.........60%.........70%.........80%.........90%.........100%

Welcome to Gradle 6.0.1!

He

[2020-07-10 06:26] lanking520 commented on #126
Will take a look and back to you tomorrow

[2020-07-10 16:15] frankfliu commented on #124
Are you using JDK 14?
We don't support JDK 14. yet. I think you hit a gradle issue: https://github.com/gradle/gradle/issues/10248
We can upgrade to gradle 6.5 when it's out.

[2020-07-10 18:31] frankfliu commented on #122
I created a README about log4j issue: https://github.com/awslabs/djl/blob/master/docs/development/configure_logging.md#log4j-version-clash

Feel free to reopen this issue if it's not clear to you.

[2020-07-10 18:31] #122 closed

[2020-07-10 18:34] frankfliu commented on #126
@eusebioaguilera
Would you please enable debug log of your project, see: https://github.com/awslabs/djl/blob/master/docs/development/configure_logging.md#djl-logging-configuration

With debug log, we can see more engine initialization logs.

[2020-07-11 02:56] LJWxyz commented on #124
ah yes I am using zulu openjdk14.How did you found out the issues?Would you like to share the experience or ways to deduce it?

[2020-07-11 16:57] frankfliu commented on #124
@LJWxyz
I tried adoptopenjdk14 on windows, it actually works for me.
[code]

I noticed your repo is a few days behind, your gradle is 6.0.1. Please get latest DJL code, we upgraded to 6.4.1 already. It seems working fine with JDK 14.

[2020-07-11 17:08] LJWxyz opened #130 "What is the right terms for linking blocks"
I am unsure of the naming structure some neural network structure used in DJL,and how to fully utilize some interfaces provided.
From my experience,
1)Block seems to most similar to a neuron or simply a cell.However it's a interface which is very useful.It allows us human to label(Neuron system) and generalize or even abstract.The implemented classes is very good.Except one thing it's kinda distri

[2020-07-11 17:44] frankfliu commented on #130
@LJWxyz
The analogy we are trying to use is Lego Block. The Block can small can be big or combined.
You can blocks together to form a neuron network.

You can use container Blocks (SequentialBlack, ParallelBlock) to connect each blocks. And you can use nested structure to build your block topology.

The weight and bias is internal property of a Block.

We are working a book for Java user that you

[2020-07-11 18:30] stu1130 commented on #130
The connection[] you are talking is actually the weight and bias. The formula of the linear block is as simple as the following formula
[code]
Assume the shape of x is (32, 100) and you expect the shape of y is (32, 10). The shape of the w, b would be (10, 100) and (10) respectively. By using our Linear Block, we construct and manage weight and bias for you. We need the expected output shape and w

[2020-07-12 00:05] frankfliu commented on #118
@LJWxyz I added a document about DJL's dependencies: https://github.com/awslabs/djl/blob/master/docs/development/dependency_management.md

[2020-07-12 00:05] #118 closed

[2020-07-12 00:35] LJWxyz commented on #130
Thanks for all the comments it helped me cleared some of the clouds and I can understand how the framework works now.^^

[2020-07-12 00:40] LJWxyz commented on #130
I think I understood how the analog and cleared my misconceptions.So I will close this issue.^^

[2020-07-12 00:40] #130 closed

[2020-07-13 05:50] eusebioaguilera commented on #126
Hi, I have enabled debug log and the problem seems to be that the native pytorch library is not loaded.

[main] DEBUG ai.djl.repository.zoo.ModelZoo - Searching model in zoo provider: ai.djl.repository.zoo.DefaultZooProvider
[main] DEBUG ai.djl.repository.zoo.DefaultModelZoo - Scanning models in repo: class ai.djl.repository.RemoteRepository, D:/example/java/JavaProjects/WebProjects/MachineLearnin

[2020-07-13 05:55] lanking520 commented on #126
Currently pytorch support CUDA 9.2 10.1 and 10.2 only. 10 will not work due to the missing matched binary. You can try to install a different CUDA version to solve this issue

[2020-07-13 14:53] SofoklisKat opened #131 "Do you support GPU inference in pytorch-android ?"
## Question

[2020-07-13 15:17] lanking520 commented on #131
We do support PyTorch Android: https://github.com/aws-samples/djl-demo/tree/master/android. But for Android GPU, could you explain more which kind of GPU accelerator you are looking for?

[2020-07-13 15:22] SofoklisKat commented on #131
@lanking520 Thank you for your quick response.
For example tflite provides multiple options regarding the mobile implementation (CPU, GPU, NNAPI). For more info https://www.tensorflow.org/lite/performance/gpu_advanced .
PyTorch in it's current version does not provide such options in the mobile if I am correct. I think it only has CPU implementation. My question is if DJL have extend this function

[2020-07-13 15:34] frankfliu commented on #131
@SofoklisKat
1. We don't support Android on GPU out of box. The limitation is only the libtorch.so file. You should be able to build your libtorch.so file use Android NDK for your target system (e.g. Jetson tx2). We'd like to see community can contribute this type of effort.
2. DJL can also add TF-lite support. It's on our roadmap.

[2020-07-13 15:39] frankfliu commented on #126
@lanking520 @eusebioaguilera This seems a bug. We will look into it.
If you use pytorch-native-auto, it should fallback on CPU if cuda version is not supported.

[2020-07-13 15:49] #131 closed

[2020-07-14 05:33] eusebioaguilera commented on #126
Yes, if I install cuda 10.2, then the library starts downloading a set of dll and fails for another reason. The question is, Do I need a suitable version of cuda installed on my system to use the library? In my case I want to use the model for inference using the pytorch-native-cpu artifact.

[2020-07-14 06:14] frankfliu commented on #115
Feel free to reopen this issue if you have further questions.

[2020-07-14 06:14] #115 closed

[2020-07-14 06:15] frankfliu commented on #96
@heartzeus
I added the footwear classification project in our demo github repo.
You can find a REAME about how to use ImageFolder to load footwear dataset: https://github.com/aws-samples/djl-demo/tree/master/footwear_classification#preparing-the-footwear-dataset

[2020-07-14 06:15] #96 closed

[2020-07-14 06:24] lanking520 commented on #126
Currently it seemed to be a bug that didn’t fall back to use CPU. As an alternative, try to replace auto by using this:
http://docs.djl.ai/pytorch/pytorch-engine/index.html#windows-cpu

[2020-07-14 06:26] frankfliu commented on #126
@eusebioaguilera
You don't have to install matching CUDA. DJL should automatically switch to cpu if no matching cuda version is installed.

However, it seems something is wrong in your system. The downloaded .jar file seems corrupted. Would you please clear your gradle cache folder and rerun the example.

What's the error message when you using CUDA 10.2?

[2020-07-14 10:55] eusebioaguilera commented on #126
I have uninstalled cuda 10.2 and try to use the artifact for the cpu version (pytorch-native-cpu) and I get the same error "No deep learning engine found". This error disappear when cuda 10.2 is installed.

[2020-07-14 11:01] eusebioaguilera commented on #126
AsIa

I have clear my maven cache dir and try to use the cpu version of the djl for pytorch (pytorch-native-cpu). However the same error came out. This problem disappear if cuda 10.2 is reinstalled.

The next is not about the djl model loading but the model input/output. When I can load the pytorch engine and try use the model by providing the input image I get the error "No matching model with sp

[2020-07-14 18:24] frankfliu commented on #126
@eusebioaguilera
ModelNotFoundException usually is the criteria doesn't match the model.
You can use following command to list models:

[code]

[2020-07-14 18:33] aksrajvanshi opened #132 "BatchNorm beta diminishing parameter values."
@stu1130

I am running the BatchNorm section, and I made gamma and beta as the two parameters in the section. Although the results turn out to be fine, the beta is turning out with really low values.

This is the book's result:

![Screen Shot 2020-07-14 at 2 27 25 PM](https://user-images.githubusercontent.com/16722550/87462931-af23ec00-c5de-11ea-8484-c49fd52d2849.png)

And this is mine:

![Screen

[2020-07-14 21:05] frankfliu commented on #124
We upgraded to gradle 6.5.1, JDK 14 on windows issue has been fixed.

Feel free to re-open this issue if still have problem.

[2020-07-14 21:05] #124 closed

[2020-07-15 04:06] murphye commented on #103
OK... getting the latest code so I can test. I noticed there is aa PMD error causing build to fail.

[code]
https://pmd.github.io/latest/pmd_rules_java_multithreading.html#nonthreadsafesingleton

`initEngine` needs to be `synchronized`

[2020-07-15 05:12] murphye commented on #103
Ok, I was able to replicate the error related to `io.netty.internal.tcnative.SSLPrivateKeyMethod`

This is actually related to an error that I had previously on my prior TensorFlow demo, where I for some reason needed to add dependency to get TensorFlow working:
https://github.com/murphye/quarkus-tensorflow-inception/commit/93eb435e84ba8be1624843a204ace046a99c2b81#diff-600376dffeb79835ede4a0b28507

[2020-07-15 05:16] murphye commented on #103
Ok, so this is what I get when I run the executable and hit the `/detect` endpoint:

[code]

I then get a pop up window from Mac OS asking me to install Java! Weird, right?

[2020-07-15 06:03] murphye commented on #103
As an alternative, I ran the Docker-based build using these commands:
[code]
Unfortunately I get errors:

[code]

[2020-07-15 06:07] frankfliu commented on #103
@murphye My college get the same 'No Java runtime present, requesting install." error on mac.
I can try your solution and take a look model loading issue.

[2020-07-15 06:10] eusebioaguilera commented on #126
Hi, I have executed the command and seems that the library does not recognize it because the output is:

[INFO ] - CV.IMAGE_CLASSIFICATION ai.djl.zoo:resnet:0.0.1 {"layers":"50","flavor":"v1","dataset":"cifar10"}
[INFO ] - CV.IMAGE_CLASSIFICATION ai.djl.zoo:mlp:0.0.2 {"dataset":"mnist"}
[INFO ] - CV.IMAGE_CLASSIFICATION ai.djl.pytorch:resnet:0.0.1 {"layers":"50","dataset":"imagenet"}
[INFO ] - CV.

[2020-07-15 14:49] murphye opened #133 "TensorFlow Library is causing prompt to install Java on Mac OS"
There seems to be an issue with how the TensorFlow library from DJL is linked to the JRE that is causing a prompt to install JRE Version 6. This link seems to provide further info on the problem: https://github.com/imagej/pyimagej/issues/10

`another workaround is to link to libjli instead of libjvm`

Reference info from another issue:

--------------

Ok, so this is what I get when I run the exec

[2020-07-16 01:10] frankfliu commented on #126
@eusebioaguilera
listmodels shows that you point your local repo to a folder named **model**, you should be able to load this model using following code:

[code]

Or you can use built-in ImageTranslator:
[code]

[2020-07-16 03:05] frankfliu commented on #133
I don't have this problem on my Mac, I'm using a fresh Mojave. However, my coworker has the same issue as you. He's mac was upgraded to Mojave from older version.

[2020-07-16 06:09] eusebioaguilera commented on #126
Hi, finally I have managed to load the model. I have changed the 'optArtifactId("ai.djl.localmodelzoo:file_model_name")' for the 'optModelName("file_model_name")' in the criteria and then the model was loaded without any problem. Moreover, I have written a translator based on the SimplePoseTranslator and works like a charm. Thank you all of you for the advices and the help provided. Do you need an

[2020-07-16 14:49] murphye commented on #133
I am using Catalina (10.15.5) that has been upgraded a few times.

[2020-07-17 04:31] frankfliu commented on #126
@eusebioaguilera I don't have Windows 10 with me. I only have Windows 2019 server, I'm waiting for my Windows 10 to try it out. I will ping you once I get the environment setup.

[2020-07-17 07:22] eusebioaguilera commented on #126
Ok.

[2020-07-17 17:42] stu1130 commented on #132
I can reproduce the issue and found both PyTorch and MXNet have the same problem. This could be caused by gradient vanishing. Only the first batchNorm have the issue. need to dive deeper

[2020-07-17 17:59] frankfliu commented on #103
After I added netty dependency and made some configuration change, I'm able to build native image. See my branch: https://github.com/frankfliu/djl-demo/blob/quarkus/pneumonia-detection-quarkus/src/main/resources/application.properties#L4-L9

However, it crash at runtime. The tensorflow share library is loaded successfully, DJL TfEngine is also loaded properly. But it hit segfault in javacpp.

[2020-07-17 19:05] murphye commented on #103
Here are my last settings... give a try and see:

[code]

[2020-07-18 12:42] develooper1994 opened #137 "custom components(trainer, loss, label, augmentation...)"
## Question
I should say, i am impressed. i was thinking about like that for C++ and Python. You guys getting me start to java-language :].
How can i make a custom components? I have some custom layers in my model that process audio.

[2020-07-18 17:41] frankfliu commented on #137
@develooper1994
Thank you for looking into DJL. We don't have documentation about how to implement a custom Layer yet. Here is a brief idea:
- DJL use Block (Layer in Keras) to build a neuron network. You can extends[ AbstractBlock](https://javadoc.io/doc/ai.djl/api/latest/ai/djl/nn/AbstractBlock.html) to create your own Block
- You can find some built-in Block implementation: https://github.com/a

[2020-07-18 21:06] develooper1994 commented on #137
I don't know java language (yet). But read your documentation and understand some ideas but **djl documentation has to be extended.**
If Pytorch is at the document, tutorials level, it becomes popular.

[2020-07-18 21:08] #137 closed

[2020-07-21 04:46] frankfliu commented on #103
@murphye I'm able to make PyTorch Engine work. See: https://github.com/aws-samples/djl-demo/pull/84

TensorFlow Engine is still crash at JNI level. I think it related to reflection at JNI code.

[2020-07-21 18:01] murphye commented on #103
@frankfliu

1. What other details can you provide on the error?
2. How can I test on my end to resolve the error from https://github.com/awslabs/djl/issues/103#issuecomment-658564164?
3. Is there anything in this code that could be helpful?
https://github.com/murphye/quarkus-tensorflow-inception/blob/master/src/main/java/io/quarkus/tensorflow/LoadTensorFlow.java

[2020-07-21 22:56] humzaiqbal opened #139 "Tensorflow Engine not found (failed to load from TFEngineProvider)"
## Description
(A clear and concise description of what the bug is.)
When trying to load a Tensorflow hub model into djl I get an engine not found exception. I'm running in Intelij and made sure to add the following to my `pom.xml` so that the tensorflow dependencies are there.

[code]

Interestingly, I don't have this problem when I use PyTorch, I am able to load and run PyTorch models just fine

[2020-07-21 23:16] stu1130 commented on #89
I think I can improve this when I refactor the initializer

[2020-07-21 23:34] humzaiqbal commented on #139
Update: After debugging some more I got to a point where I got this error
[code]
Does this mean that the org.tensorflow library is required in order to use tensorflow in djl? My understanding was that as long as I include the pom dependencies I should be able to run it just fine (this was the case when I ran djl with PyTorch)

[2020-07-22 21:18] roywei commented on #139
Hi @humzaiqbal, thanks for raising the issue!
There are a few things to try:

1. Add `"ai.djl.tensorflow:tensorflow-api:0.6.0"` as well, although it should be automatically included as `tensorflow-engine ` depends on it.

2. If you are using IDE, sometimes the service provider class is not recognized, try `rebuild` or `recompile` the provider class. See https://docs.djl.ai/docs/development/trouble

[2020-07-22 21:22] roywei commented on #139
Mean time I can run your sample code and get back to you. Thanks!

[2020-07-23 15:32] humzaiqbal commented on #139
Thanks much for your help @roywei I followed some of your advice and added the extra dependency to my pom file and I added the directory to my VM options `~/.tensorflow/cache/2.2.0-SNAPSHOT-cpu-osx-x86_64/`. When I looked at the directory I saw that the following files were present

[code]

I notice there is no `libtensorflow.so` file, and now when I debug I get an `UnsatisfiedLinkError` when tryi

[2020-07-23 18:32] frankfliu commented on #139
@humzaiqbal
Would you please try to clean the cache folder, and run following command:
[code]

It should print debug information regard tensorflow engine loading.

[2020-07-23 19:10] roywei commented on #139
Hi @humzaiqbal , did you try out my uploaded files in the previous comments? It works out of the box even without setting dependency and the `java.library.path`, try remove `~/.tensorflow` and `~/.djl.ai` to avoid corrupted files.

Also the model you provides seems to be a TF1 model, you need to specify `.optOption("Tags", new String[]{})` during loading.

You can try this TF2 sentence encoder: ht

[2020-07-24 17:48] humzaiqbal commented on #139
Thanks much for your suggestions.

@frankfliu unfortunately I'm not using gradle so that won't work for me.

@roywei I tried removing my directory and restarting but that didn't work. either. Also I can't use the TF2 option because I need USE LITE specifically for my application. If a String Tensor is required then perhaps I might be better off going to the Google Java binding for Tensorflow. I am

[2020-07-24 18:32] frankfliu commented on #139
@humzaiqbal
You don't need install anything to use gradle. the gradle command work out of box in our git repo.

[2020-07-24 19:28] humzaiqbal commented on #139
Ah I wasn't using the git repo for djl I just installed the maven dependencies and didn't realize you had the gradle bash script so thats why I figured I had to have something else installed

[2020-07-26 23:36] tribbloid opened #140 "create a custom operator [In MXNet, CustomOp] that supports autograd in Java or C++"
## Description

This feature should be similar to the following 2 examples achieved using only Pythonn API [1][2]

The feature will introduce the capability of defining new differentiable operators for scalar and NDArrays in Java or C++. Many operators cannot be synthesised using existing NDArray API (e.g. sine, cosine, discrete Fourier transform) despite that they are used frequently in productio

[2020-07-26 23:47] jameszow2 commented on #140
Thanks for you

[2020-07-27 01:40] ares89 opened #141 "How to add an arm64 support for pytorch"
## Description
Hi everyone. I am trying to use this library to inference on centos with arm cpu, how to add a support for this? thank you.
I had read the pytorch-native README.

### Will this change the current api? How?
this will not change any api.
### Who will benefit from this enhancement?
All people work with arm64 will benefit.

## References
1.  [pytorch arm64 daily build](https://github.co

[2020-07-27 01:56] frankfliu commented on #141
@ares89
DJL currently doesn't support pytorch arm64 build yet. You need build DJL pytorch JNI for arm64 from source. We will provide document about how to support build from source.

[2020-07-27 01:58] stu1130 commented on #141
@ares89 in addition to JNI, you might also need to build PyTorch for arm64 from source

[2020-07-27 07:30] ares89 commented on #141
@stu1130 @frankfliu
in this url[http://status.openlabtesting.org/build/1d1885f4318248758d862339573f0cfe] , an arm64 version is built and the whl file can be downloaded.
Is this whl file useful to gen arm64 JNI? or need I to build the libtorch?

[2020-07-27 13:17] FatosTorba opened #142 "Native library mxnet"
## Description
Loading mxnet library on linux is not working but it works on windows.
### Expected Behavior
(what's the expected behavior?)
Should not fail to load native mxnet library on linux.
### Error Message
15:01:31.896 [main] INFO ai.djl.mxnet.jna.LibUtils - Downloading libgfortran.so.3 ...
15:01:32.564 [main] INFO ai.djl.mxnet.jna.LibUtils - Downloading libgomp.so.1 ...
15:01:32.724 [main]

[2020-07-27 14:42] Jzow opened #143 "Maven Compile Project Error"
## Description
Jdk ：1.8
Windows 10 X64 CPU
Apache Maven 3.5
DLJ Version ：0.6.0
`<properties>
		<java.version>8</java.version>
		<maven.compiler.source>1.8</maven.compiler.source>
		<maven.compiler.target>1.8</maven.compiler.target>
		<djl.version>0.6.0</djl.version>
	</properties>

	<dependencies>
		<dependency>
			<groupId>com.vmware</groupId>
			<artifactId>vijava</artifactId>
			<version>5.1</v

[2020-07-27 14:44] Jzow commented on #143
hope to provide a maven similar project，I don't use it very often Gradle

[2020-07-27 17:41] stu1130 commented on #141
@ares89 I will try out the artifact and get back to you

[2020-07-27 18:10] stu1130 commented on #142
@FatosTorba What version of DJL do you use? If it is 0.6, it should depend on mxnet 1.7. You can clean up the cache (`rm -rf ~/.mxnet`)and rerun the gradle build againi

[2020-07-27 19:19] zachgk commented on #143
It looks like you might be missing the dependency:
[code]

You can find it in our [example/pom.xml](https://github.com/awslabs/djl/blob/v0.6.0/examples/pom.xml)

[2020-07-27 20:27] stu1130 commented on #141
@ares89 I reused the wheel you provided and built the JNI. It works perfectly (passing the SSD example & all the integration test).

[2020-07-27 21:14] lanking520 commented on #141
@ares89 Can you explain more on your use cases? We might consider adding a long-term support on ARM64 if there are some amount of users looking for support

[2020-07-27 23:15] Jzow commented on #143
Thanks for you,I m try

[2020-07-27 23:21] stu1130 commented on #125
@hackedbyxx Would you have the chance to try out the above comment?

[2020-07-27 23:27] Jzow commented on #143
<dependency>
    <groupId>ai.djl.mxnet</groupId>
    <artifactId>mxnet-native-mkl</artifactId>
    <classifier>win-x86_64</classifier>
    <scope>runtime</scope>
    <version>1.7.0-b</version>
</dependency>
This dependency is win64 , Can I use it?

[2020-07-27 23:35] stu1130 commented on #143
@Jzow you can just `mxnet-native-auto` which will detect your environment and pick the right one for you

[2020-07-27 23:36] Jzow commented on #143
<dependency>
    <groupId>ai.djl.mxnet</groupId>
    <artifactId>mxnet-native-mkl</artifactId>
    <classifier>win-x86_64</classifier>
    <scope>runtime</scope>
    <version>1.7.0-b</version> </dependency>

| |
jameszow
|
|
邮箱：jameszow@126.com
|

Signature is customized by Netease Mail Master

On 07/28/2020 07:35, Jake Lee wrote:

@Jzow you can just mxnet-native-auto which will detect your enviro

[2020-07-27 23:51] #143 closed

[2020-07-28 05:42] Jzow opened #144 "Why does Mnist download so slowly"
## Question
`"C:\Program Files\Java\jdk1.8.0_251\bin\java.exe" "-javaagent:D:\idea\IntelliJ IDEA 2020.1.2\lib\idea_rt.jar=55437:D:\idea\IntelliJ IDEA 2020.1.2\bin" -Dfile.encoding=UTF-8 -classpath "C:\Program Files\Java\jdk1.8.0_251\jre\lib\charsets.jar;C:\Program Files\Java\jdk1.8.0_251\jre\lib\deploy.jar;C:\Program Files\Java\jdk1.8.0_251\jre\lib\ext\access-bridge-64.jar;C:\Program Files\Java\jd

[2020-07-28 05:44] Jzow commented on #144
how can I import a dataset,I use the official website demo

[2020-07-28 10:11] Jzow commented on #142
you can just use mxnet-native-auto which will detect your environment and pick the right one for you

[2020-07-28 13:36] #144 closed

[2020-07-28 13:56] Jzow opened #145 "Exception during runtime TrainMnist.java"
## Description

### Expected Behavior
build success

### Error Message
`"C:\Program Files\Java\jdk1.8.0_251\bin\java.exe" "-javaagent:D:\JetBrains\IntelliJ IDEA 2020.1.2\lib\idea_rt.jar=54222:D:\JetBrains\IntelliJ IDEA 2020.1.2\bin" -Dfile.encoding=UTF-8 -classpath "C:\Program Files\Java\jdk1.8.0_251\jre\lib\charsets.jar;C:\Program Files\Java\jdk1.8.0_251\jre\lib\deploy.jar;C:\Program Files\Java\j

[2020-07-28 13:57] Jzow commented on #145
`	<dependency>
		<groupId>ai.djl.mxnet</groupId>
		<artifactId>mxnet-native-auto</artifactId>
		<version>1.7.0-b</version>
		<scope>runtime</scope>
	</dependency>`

[2020-07-28 13:58] Jzow commented on #145
`<dependency>
    <groupId>ai.djl.mxnet</groupId>
    <artifactId>mxnet-native-auto</artifactId>
    <version>1.7.0-b</version>
    <scope>runtime</scope>
</dependency>`

[2020-07-28 13:58] Jzow commented on #145
<dependency>
    <groupId>ai.djl.mxnet</groupId>
    <artifactId>mxnet-native-auto</artifactId>
    <version>1.7.0-b</version>
    <scope>runtime</scope>
</dependency>

[2020-07-28 16:11] frankfliu commented on #145
@Jzow How much memory do you have. It looks like you run out of memory.

[2020-07-28 21:30] frankfliu commented on #139
@humzaiqbal Do you still have issue on your end?

[2020-07-28 22:17] frankfliu commented on #126
@eusebioaguilera I'm not able to reproduce your issue.
I installed a fresh Windows 10 (19041.264), and only installed following package:
- chocolatey
- git (choco install git)
- jdk8 (choco install jdk8)

[2020-07-28 23:18] Jzow commented on #145
I run 8g of memory,I feel run out of memory,how many memory are recommended,Thank you for your prompt reply

[2020-07-28 23:28] stu1130 commented on #145
16G should be sufficient

[2020-07-28 23:31] stu1130 commented on #133
@murphye just want to keep you updated. The author of the JavaCpp is fixing this issue. https://github.com/bytedeco/javacpp/issues/417
I will let you know once the bug is fixed

[2020-07-28 23:34] stu1130 commented on #78
I have tried out the same model with the same libmxnet using the MXNet Python and it worked fine. The next step is to dive deeper into our CachedOp

[2020-07-28 23:34] Jzow commented on #145
I have a suggestion, which can be recommended in the official document, such as memory and cpu,Thanks for you

[2020-07-29 02:38] frankfliu commented on #126
@eusebioaguilera finally I reproduced this issue. I will work on a fix.

[2020-07-29 02:40] frankfliu commented on #140
@tribbloid We will consider to priorities this feature.

[2020-07-29 02:51] tribbloid commented on #140
Thanks a lot! Also thank @lanking520 for introducing this amazing work!

[2020-07-29 05:36] eusebioaguilera commented on #126
Ok. If you need any help, please contact me.

[2020-07-29 10:08] #145 closed

[2020-07-29 13:35] Jzow opened #146 "Thanks to the DJL team"
## Question

I have successfully run it on my Mac, 16G of memory on my Mac, I run the TrainMnist.java file,

`[INFO ] - Training on: cpu().
[INFO ] - Load MXNet Engine Version 1.7.0 in 0.140 ms.
Training:    100% |████████████████████████████████████████| Accuracy: 0.93, SoftmaxCrossEntropyLoss: 0.24, speed: 4308.54 items/sec
Validating:  100% |████████████████████████████████████████|
[INFO ] - E

[2020-07-29 13:43] Jzow commented on #146
**Thank you for your prompt reply and technical support ,I am a China Java full stack engineer, I like DJL.**@zachgk @frankfliu @stu1130

[2020-07-29 15:36] frankfliu commented on #146
@Jzow
You can run DL4J and DJL in the same JVM, and you can run MXNet, TensorFlow and PyTorch engine in the same JVM as well. See our multi-engine demo: https://github.com/aws-samples/djl-demo#use-multiple-engines-in-single-jvm

There is an feature request regarding integrate ND4J as one of DJL's engine, and there has some implementation already: https://github.com/awslabs/djl/issues/2

At this mo

[2020-07-29 18:22] frankfliu commented on #126
@eusebioaguilera feel free to reopen this issue if the fix doesn't work for you.

[2020-07-29 18:22] #126 closed

[2020-07-29 22:07] stu1130 commented on #78
@danhlephuoc Hi after I dove deeper, the image is too large, which causes the GPU OOM. I tried to reduce the size of the input image and works perfectly. In addition, I also tried the MXNet Python with the same image size and failed as well

[2020-07-29 22:11] stu1130 commented on #78
Feel free to reopen the issue if you have any other question

[2020-07-30 01:19] ares89 commented on #141
@stu1130 thanks a lot, I am trying to follow the steps to get a arm64 version.

[2020-07-30 01:27] ares89 commented on #141
@lanking520
AFAIK, Amazon Web Services and Huawei both launched computing instances that draw on server chips that use Arm’s processing architecture. AWS rank first in cloud computing domain, and Huawei don't have the x86 licence so they will spare no efforts to develop arm server chips.

[2020-07-30 09:47] eusebioaguilera commented on #126
Ok. I will try the bugfix. Thank you.

[2020-07-31 22:02] stu1130 commented on #78
I think I found the problem @danhlephuoc. When I tried out the original gluoncv model, it works with image as large as 1000 * 1000. To be able to run on the DJL, we have to hybridize the model. The hybridized model with current MXNet failed to execute on the GPU when we upgrade the mxnet from 1.6 to 1.7. I created a minimal reproducible script https://github.com/apache/incubator-mxnet/issues/18834

[2020-07-31 22:55] stu1130 commented on #102
@yanchaoguo if you have any other question, feel free to reopen the issue.

[2020-07-31 22:55] #102 closed

[2020-08-01 06:30] Mr-j-yangyu opened #147 "how to load a model which is packaged in jar flies ？"
## Question
 the model file is packaged with java project together，i want load local model in java project

[2020-08-01 17:31] frankfliu commented on #147
In current version, DJL can only load model from file. If your model packaged inside your jar file. You need to extract them and save it into temp folder, and use Criteria to load the model for temp directory.

It's possible to add a JarRepository to automate the caching, see: http://docs.djl.ai/docs/load_model.html#implement-your-own-repository

There are a couple of reason that we don't support

[2020-08-02 23:50] airwindow opened #148 "How to load MXNet model persisted in S3?"
## Question
We are using SageMaker to train our MXNet-based model and the artifact was persisted as "***.tar.gz".
The compressed folder contains "model-0000.params" and "model-symbol.json".

We have followed the tutorial at
https://docs.djl.ai/3rdparty/aws-ai/index.html.

But keeps on getting exception "No matching model with specified Input/Output" type found.
Not sure what's going wrong at here,

[2020-08-03 18:03] stu1130 commented on #148
@airwindow Thanks for reporting the issue. Could you provide the script that we can reproduce

1. no you don't need the meta.json.
2. yes the argument starts with set in its name is required. On the other hand, the name optXXX is optional
3. (@frankfliu correct me if I am wrong) It actually downloads the model to the local file system

[2020-08-04 09:06] Mr-j-yangyu commented on #147
thanks，I'll try

[2020-08-06 02:16] aaronlyt opened #149 "prediction result is unconsistent"
## Description

using pytorch as the backend model, the same input, we run 100 time, but get different result?

in the pytorch model, contain **Linear layer and BatchNorm Layer**, Does BatchNorm Layer need more processing?

[2020-08-06 02:20] #149 closed

[2020-08-06 03:55] lanking520 commented on #149
Please let us know if you have any script to reproduce. We will take a look

[2020-08-06 15:11] evgzakharov opened #150 "jvm crushes in native when try to running torch model"
## Description
Hi. I have some problems with running a model from https://github.com/emiliantolo/pytorch_nsfw_model in DJL. Jvm crashes with an error in native. I try to run it with openjdk 8, zulu 8, zulu 13.

### Expected Behavior
Expected that a model will run correctly

### Error Message

[code]

And in dump error message is next:
[code]

Full error log:
[hs_err_pid12860.log](https://github.co

[2020-08-06 15:15] frankfliu commented on #150
@evgzakharov Thanks for reporting this issue. Will try to reproduce it.

[2020-08-06 20:00] stu1130 opened #151 "BertQA infer shape failure"
### Steps to reproduce
[code]

[code]

[2020-08-06 20:19] frankfliu commented on #151
Following should work:

block.getOutputShapes(null, new Shape[] {new Shape(1), new Shape(384), new Shape(384)});

[2020-08-06 21:09] stu1130 commented on #151
verified the suggested shapes works

[2020-08-06 21:09] #151 closed

[2020-08-07 10:14] evgzakharov commented on #150
**upd**: today try to run this model in docker with linux images (ubuntu). Application crash too, but with another error. Also it crash as with `trace` method either with `script`.
image: adoptopenjdk/openjdk8:jdk8u262-b10:
[hs_err_pid122_1_8.log](https://github.com/awslabs/djl/files/5040764/hs_err_pid122_1_8.log)
image: adoptopenjdk/openjdk13:jdk-13.0.2_8-ubuntu-slim:
[hs_err_pid138_13.log](https

[2020-08-07 16:23] FatosTorba opened #152 "Create new translator for other Bert models"
## Question
How to create translator for other Bert models ?
Thank you :)

[2020-08-07 16:55] evgzakharov commented on #150
Rebuild the project `pytorch-native` today to pytorch 1.6.0 and now model at least successfully imports and start (on macos). But result is not same as I got at python version.
For example for one image result is next:
1) jvm
-2.36343 -0.16445 -8.09794 -2.90209 -6.06068
2) python
-2.90546  -0.10754  -9.972915 -3.06928 -7.21443
May be this is related somehow to model export. But this numbers is sam

[2020-08-07 17:19] zachgk commented on #152
The translator describes how to pre-process and post-process your model. To create a translator, you need to figure out what format is expected by your BERT model and what format the output it produces is in. Then, you just need to convert into that format from whatever Java type your naturally have and what Java type you would like to use for the results.

Is there a particular BERT model you wan

[2020-08-07 18:03] lanking520 commented on #150
Hi @evgzakharov,

I tried to reproduce your issue but failed on my mac. Here is the settings I used:

[code]

Script to convert to torchscript

[code]

After that, you can prepare a `synset.txt` along with your pt file:

[synset.txt](https://github.com/awslabs/djl/files/5042964/synset.txt)

I just used `1.jpg` from the repo to run for the inference

[code]

[2020-08-07 18:17] lanking520 commented on #150
It could caused by the transformation applied. You can try to follow the above line to create a pipeline to see if there is any improvement on the result.

[2020-08-07 18:18] lanking520 commented on #150
Also, there could be a difference between the inference result between torchscripted model. You can try to compare the inference result by using Torchscripted model (pt) comparing to the DJL's one to see if there is any difference.

[2020-08-07 18:45] evgzakharov commented on #150
Sorry, my fault. Tried again 1.5.0 version of pytorch and model successfully imports. I tried different version of pytorch at first time, but with all have same error. At first it was 1.6.0, later I install 1.4.0, and 1.5.0. Possible there was a mistake with reinstalling pytorch version, or mb pip raised version of library upon attempt.

I have same transformation, but result is not same.

Thanks,

[2020-08-07 19:03] evgzakharov commented on #150
Tried to load Torchscripted model in python

[code]

And result is same as for original model:
[code]

[2020-08-07 20:10] evgzakharov commented on #150
I have compare image pixels and figure out that some of them slightly not same in jvm (ImageIO) and python (PIL). And found in [stackoverflow](https://stackoverflow.com/questions/39649292/imageio-reading-slightly-different-rgb-values-than-other-methods) discussion about it.
All looks like that only in OSX results is not same. I will try later to check results in docker image.

[2020-08-07 21:24] frankfliu commented on #150
@evgzakharov
How you use PIL in this case?
I'm not aware of difference for read image between ImageIO and PIL. The difference is introduced with you process the image (resize, corp, etc) with different library.

In DJL, we actually using PyTorch operator to process the image. If you also use pytorch operator the result should be the same.

[2020-08-07 22:48] frankfliu commented on #148
Added more detail in: https://github.com/awslabs/djl/blob/master/docs/load_model.md#criteria-class
and made it explicit that setType() is required.

[2020-08-07 22:48] #148 closed

[2020-08-07 22:49] frankfliu commented on #146
@Jzow feel free to reopen this issue if you have further questions.

[2020-08-07 22:49] #146 closed

[2020-08-07 23:55] stu1130 commented on #150
@evgzakharov you can probably use sum operator to check if images are the same right before the forward call

[2020-08-08 06:26] evgzakharov commented on #150
In python image open by
[code]

If I do it right, the numbers is next:
jvm:       115013565
python: 115011805

Today have try it in docker. And result is same (jvm is not same as in python) as start in macos.

I will look further and try different options and write here if I found anything.

[2020-08-10 08:21] FatosTorba commented on #152
I would like to deploy BERT model to predict masked word in a sentence

[2020-08-10 09:13] FatosTorba commented on #142
I have tried your recommandation. It's still not working. Even when I try the examples of djl , it is not working. It works perfectly on windows. I'm using ubutnu  20.04 on dual boot with windows 10

[2020-08-10 12:28] evgzakharov commented on #150
Some moments which I have found:

- `Resize(224)` in DJL resize image to (224,224) image, but in python `transforms.Resize(224)` resizes image proportionally, so the end dimensions is (298, 224).
- after explicitly set in python to resize to (224,224) pixels transformation is still not same. And in java transformation is made for float32 values. But if set transformation to `transforms.Resize((224

[2020-08-10 17:26] stu1130 commented on #152
@FatosTorba  we are working on common BERT translators and the tokenizer which uses https://github.com/google/sentencepiece. Meanwhile, you can check https://github.com/awslabs/djl/blob/master/jupyter/pytorch/load_your_own_pytorch_bert.ipynb for reference.

[2020-08-10 19:24] lanking520 commented on #114
@jmracek Currently we had JNI built in the extensions. Will add the integration on the DJL API later this week.

[2020-08-11 01:10] stu1130 commented on #150
@evgzakharov I am creating a PR to improve DJL PyTorch resize operator, which will use interpolate under the hood(we used to use bilinear upsampling) and expose the mode in which you can pass in the mode like bilinear, bicubic, etc as you did with PyTorch Python. I hope that will help reduce the discrepancy of python & DJL

[2020-08-12 04:23] stu1130 commented on #150
@evgzakharov The PR https://github.com/awslabs/djl/commit/b748fc3713400d8feccb71aa9c1b28708e7f22c3 has been merged. You can try it out the  0.7.0-SNAPSHOT

[2020-08-12 08:38] evgzakharov commented on #150
@stu1130 Thanks, i tried with this version and result is next:

With only resize and tensor:
jvm BILINEAR: `-1.5374747514724731, -0.32685360312461853, -5.549479007720947, -2.892700672149658, -5.387859344482422`
jvm BICUBIC: `-1.2648584842681885, -0.44646814465522766, -4.6644062995910645, -2.778036117553711, -5.07496452331543`
python BILINEAR: `-0.971618   -0.6533397  -5.0309176  -2.5527706  -4.084

[2020-08-12 21:14] stu1130 commented on #150
@evgzakharov here is the experiment I did
[code]
The sample output looks like this:
[code]
So I can see even with the default mode (bilinear), the difference is minimal.
Can I get the script so I can further investigate the difference?

[2020-08-13 07:25] evgzakharov commented on #150
@stu1130 All my above examples was be calculated at model in this repository:   https://github.com/emiliantolo/pytorch_nsfw_model
[code]

[2020-08-13 20:07] frankfliu commented on #103
DJL with tensorflow engine is work with quarkus now. see: https://github.com/aws-samples/djl-demo/tree/master/quarkus

[2020-08-13 20:07] #103 closed

[2020-08-14 20:30] allahbaksh commented on #152
This is good. I am going to try it with TensorFlow. I don't think we have appropriate packages for the same? Do you have any thing which is inline with input/output shape of this https://miro.medium.com/max/1192/0*1N9VOiOYeunX2Y1Z

[2020-08-15 18:26] lanking520 commented on #114
@jmracek SentencePiece integration is ready: https://github.com/awslabs/djl/tree/master/extensions/sentencepiece Please try this out

[2020-08-17 19:51] lanking520 opened #153 "MKLDNN on PyTorch issue"
## Description
On behalf of a user. Currently I am trying to use MKLDNN acceleration on PyTorch DJL. However, when it went through the translator, the error shown below:

[code]

I am suspecting the stack operator does not support MKLDNN on PyTorch. You can reproduce after using this op along with translator.

After I disabled the stack bachifier, I ran into the following issues:

[code]
After tha

[2020-08-17 23:51] stu1130 commented on #153
@lanking520 You need the `-Dai.djl.pytorch.use_mkldnn=true` when you run DJL PyTorch MKLDNN

[2020-08-24 18:43] carlosuc3m commented on #126
I works great after installing the Visual Studio 2019 and its redistributables.
Awesome work! Thanks!

[2020-08-25 20:30] lanking520 opened #156 "Feature request: OpenJDK13 docker support for DJL PyTorch"
## Description

Per customer request to support openJDK 13 docker support on DJL pytorch.

The image is available at: https://hub.docker.com/_/openjdk.

Currently there are unknown issues running with DJL PyTorch on Kubernetes. MXNet works fine.

[code]

[code]
Dependencies with pytorch 1.5.0 and DJL 0.6.0

[2020-08-26 06:12] #141 closed

[2020-08-26 18:14] lanking520 commented on #156
Update:

adoptopenjdk/openjdk13:debian works

[2020-08-26 22:02] lanking520 commented on #153
The issue were resolved in the coming PR: https://github.com/awslabs/djl/commit/f48e5974c84669aa9bf61270a3b0dc18dee236b1

For MKLDNN usage specifically, you can try with the following code

[code]
This will convert the general model to MKLDNN TorchScript model. After enabling DJL's flag, this model works fine with DJL 0.6.0

[code]

`MyTranslator` is a dummy translator and just do NDList in, NDLis

[2020-08-26 22:03] #153 closed

[2020-09-03 13:52] carlosuc3m opened #157 "Models with more than one input"
## Question
Hello everyone, I am starting to use DJL. After looking at all the examples provided I was wondering if it would be possible to use DJL to make inference with computer vision models that require more than one input (for example cyclegans or Mask R-CNN).
Thank you for your time,
Carlos

[2020-09-03 15:12] frankfliu commented on #157
Yes, DJL support multiple input and multiple output.
You can refer to this document: http://docs.djl.ai/jupyter/mxnet/load_your_own_mxnet_bert.html#construct-translator
The `Translator` API allows you convert your java object into `NDList`. The `NDList` class can hold multiple `NDArray`s.

[2020-09-03 18:26] stu1130 commented on #147
@Mr-j-yangyu I think you get the answer, so I am going to close the issue. Feel free to reopen it if you have more questions

[2020-09-03 18:26] #147 closed

[2020-09-03 23:03] carlosuc3m commented on #126
Do you have any idea about when the new version with this bug fixed will be realeased. I would love to include DJL in my application.
REgards,
Carlos

[2020-09-03 23:21] frankfliu commented on #126
@carlosuc3m we are working on the release. Should be out by the end of this week.

[2020-09-04 19:21] stu1130 commented on #126
@carlosuc3m  0.7.0 is out. You can try it out now.

[2020-09-04 21:11] carlosuc3m commented on #126
Thanks a lot! I will try it and give you some feedback if needed.

[2020-09-07 02:01] thefreakingmind12 opened #160 "TensorBoard Integration"
TensorBoard is a tool which is used to analyse Deep Learning Models. We Need to Implement it for DJL Library.

[2020-09-08 14:08] deki opened #161 "CSVDataset sample misses availableSize() and prepare(Progress progress)"
how_to_use_dataset.md contains the sample code CSVDataset. Unfortunately the implementations for availableSize() and prepare(Progress progress) are missing. How would a proper implementation look like?

[2020-09-08 16:17] frankfliu commented on #161
@deki good catch.
You can find example in this demo: https://github.com/aws-samples/djl-demo/blob/master/malicious-url-detector/src/main/java/com/example/CSVDataset.java#L86
and

https://github.com/aws-samples/djl-demo/blob/master/malicious-url-detector/src/main/java/com/example/CSVDataset.java#L124

Would you mind raise a PR to address this issue?

[2020-09-08 20:06] #161 closed

[2020-09-10 12:53] carlosuc3m commented on #126
It seems that the same error keeps happening in version 0.7.0

[2020-09-10 12:54] carlosuc3m commented on #157
Great, thanks.

[2020-09-10 12:54] #157 closed

[2020-09-10 12:57] carlosuc3m opened #163 "Is it possible to use a workaround to find the number of inputs and outputs of a Pytorch model?"
## Question
Hello, I was wondering if it was possible right now to find the inputs and outputs of a Pytorch model. The method exists so I guess the functionality will be possible in the near future, but it is not implemented at the moment. So I was wondering if there existed a workaround to find this information.
Thank you,
Carlos

[2020-09-10 15:39] frankfliu commented on #126
@carlosuc3m
The original issue was related to Windows, it seems you are using Linux. Would you mind create a new issue and add some more detail about your issue there:
Please check out DJL repo in the machine and run the following command:
[code]

[2020-09-11 17:02] frankfliu commented on #163
@carlosuc3m
Currently the PyTorch model itself doesn't have this information available. We can only extract input/output information from TensorFlow SavedModel bundle. If you train the model with DJL, we save input/output information with model.

The the time being, the only option is store the input/output information in metadata. We are working on a feature that allow you to specify the model me

[2020-09-11 21:46] lanking520 opened #164 "MXNet attach gradient while trying to run inference"
## Description

In DJL 0.6.0, MXNet got the following issues while trying to run with MXNet 1.6.0.

[code]

Although the issues are caused by missing operators (1.7.0 operators), still it should not fall into this problems since user are trying to run inference with it. It can be reproduced if you try to load DJL 0.6.0 + MXNet 1.6.0.

[2020-09-14 18:44] roywei commented on #139
@humzaiqbal we have added Universal Encoder Example [here](https://github.com/awslabs/djl/blob/master/examples/src/main/java/ai/djl/examples/inference/UniversalSentenceEncoder.java)  could you take a look if that works for you?

[2020-09-14 19:30] lanking520 commented on #164
A fix has been applied https://github.com/awslabs/djl/commit/9421d875333b088259b0440dc7a7aa49be3f72e3

[2020-09-14 19:30] #164 closed

[2020-09-15 16:27] Neoroph opened #165 "Initial build fails on German localized OS (prob. erroneous unit tests)"
## Description
On a German localized system the decimal separator in a number format is a comma instead of a dot. The asserts expect a dot though, hence 3 of the tests fail while the values seem to be ok.

Building without tests works ok so far, so it seems to be a minor unit test bug only.

### Expected Behavior
Initial build success

### Error Message

testFloat64Format

java.lang.AssertionError

[2020-09-15 16:29] frankfliu commented on #165
@Neoroph Thank your for reporting this issue. Will take look.

[2020-09-15 22:56] BernhardGlueck commented on #35
I think a common case would be to take a basic Mask-RCNN model from the model zoo ( e.g MxNET ) and use transfer learning to fit it to a different dataset ( in Coco Format ) ...
An example of how to achieve that would be awesome

[2020-09-16 06:35] frankfliu commented on #165
@Neoroph feel free to reopen this issue if you still happen to you.

[2020-09-16 06:35] #165 closed

[2020-09-16 06:36] frankfliu commented on #114
This feature is part of 0.7.0 release.

[2020-09-16 06:36] #114 closed

[2020-09-16 06:39] frankfliu commented on #133
JavaCPP 1.5.4 resolved this issue. We upgraded to javacpp 1.5.4. Will be resolved in DJL 0.8.0 release

[2020-09-16 06:39] #133 closed

[2020-09-16 16:11] SaviorD7 opened #166 "Exception in thread "main" ai.djl.engine.EngineException: MXNet engine call failed: MXNetError: can't alloc"
## Question

Hello! I clone your repo and start testing examples.

I did:
[code]

I get:
[code]

Win 10.
What it could be ?

[2020-09-16 16:20] frankfliu commented on #166
How much physical memory do you have?

Deep learning training job usually requires quire large memory. You need at least 15G of RAM to run this example.

[2020-09-16 16:55] SaviorD7 commented on #166
About 8G.

It strange cause I tried MNIST at  some other platforms and it go well.
I had about 6,5 GB  and it just going so long, but never failed..

Okay. Thank you!

[2020-09-16 16:55] #166 closed

[2020-09-16 22:15] carlosuc3m commented on #163
Ok, great thanks!

[2020-09-16 22:15] #163 closed

[2020-09-17 13:22] carlosuc3m commented on #126
I am using a raw version of Windows Server 2016. This are the pom dependencies I am using:
`<dependency>
	<groupId>ai.djl</groupId>
	<artifactId>api</artifactId>
	<version>0.7.0</version>
</dependency>
<dependency>
	<groupId>ai.djl.pytorch</groupId>
	<artifactId>pytorch-native-cpu</artifactId>
	<version>1.6.0</version>
	<scope>runtime</scope>
</dependency>
<dependency>
  <groupId>ai.djl.pytorch</g

[2020-09-17 15:21] frankfliu commented on #126
@carlosuc3m Would you please clone latest DJL in your windows and run the following command:

[code]

The above command will print extrad debug log, you should see extra failure before "No deep learning engine found."

[2020-09-17 16:17] SaviorD7 opened #167 "Training NN with csv file"
## Question

Goof afternoon!

I saw a lot of image training in you example, but I am confused how I can make csv reader for fill training model next.\

I also saw this [CSVDataset](https://github.com/awslabs/djl/blob/master/docs/development/CSVDataset.java)  and I have some question:
1. There are 2 columns: first - data, secon - label
If I have csv file with 10 columns (9 - data, 1 - label  ) how

[2020-09-17 16:54] stu1130 commented on #167
1. Yes, once you get the `CSVRecord`, you can get data either by index (`record.get(int i)`) or name (`record.get(String name)`). Both of them returns a string, you need to convert it to number as currently DJL doesn't support creating a NDArray from string.
2.  We use builder pattern to create the dataset.
[code]

[2020-09-17 17:36] Neoroph commented on #165
Build succesful now, thank you!

[2020-09-17 17:54] zachgk commented on #167
With CSV and tabular data, usually data is put into the model as a 1D "feature vector". So, you want to convert all of your data columns into a numerical representation and then concatenate those numbers to form an array. You can do this in standard Java.

Once you have your feature array, you can do `NDArray datum = manager.create(featureArray)` to convert the whole data array at once.

[2020-09-17 18:09] SaviorD7 commented on #167
Did I undesrtand right that I need to read all columns by this method:
[code]

And after these steps my 'datum' will have all my data comparabled to my labels ?

[2020-09-17 18:12] lanking520 commented on #132
Reproducible use general batchnorm implementation. Investigating now

[2020-09-17 18:14] SaviorD7 commented on #167
For example my data except column's names are in number fromat (it sensor data ) , so I dont need to convert ?

[2020-09-17 20:33] stu1130 commented on #167
Yes, the code snippet looks like this
[code]

[2020-09-22 17:32] carlosuc3m commented on #126
I am using maven, should I switch to gradle for this?

[2020-09-22 17:54] frankfliu commented on #126
@carlosuc3m you don't need to install anything, the command I provided will just work out of the box. We use gradle wrapper, which will download the gradle.jar on the fly.

[2020-09-24 09:49] BernhardGlueck opened #170 "Mask-Rcnn transfer learning example"
Any chance of getting a simple example (even just ad hoc ) on how to train mask rcnn via transfer learning on a custom Coco formatted dataset ?

We are currently evaluating if we need to write our main application in python because of this requirement or if we can switch to JVM/Kotlin ( which we would prefer ) and I would really like to do a small POC on this.

[2020-09-24 15:28] carlosuc3m commented on #126
Sorry for the delay, I am not an expert in these frameworks.
I have not been able to run
`./gradlew debugEnv -Dai.djl.default_engine=PyTorch`
It returns:
[code]
Do you know what should I do?

I tried to run the program in debug mode (as mentioned above) and this is what I got, just in case it is helpful.
[code]
REgards,
Carlos

[2020-09-24 16:56] lanking520 commented on #170
Yes there should be a way to achieve that, which DL framework you are looking for? Currently we support MXNet transfer learning and experimental PyTorch Transfer Learning. We have MaskRCNN model in MXNet model zoo. PyTorch one is on the way.

[2020-09-24 17:56] uniquetrij commented on #152
I'm trying to run BertQA using model trained on Tensorflow 2 and exported as saved model. The model loads properly and shows correct input/output tensors with `model.describeInput()` and `model.describeOutput()` methods. But I'm getting the following error while running `model.newPredictor().predict(...)`.

[code]

 The same model runs fine on python. Any suggestions?

[2020-09-24 18:19] roywei commented on #152
Hi @uniquetrij  what translators are you using for your Bert model? You may need to modify existing BertQA Translator to preprocess the input to the exact format that the model requires. Could you share your reproducible code, model, and output of `describeInput` and `describeOutput` ? Thanks

[2020-09-24 19:33] frankfliu commented on #126
@carlosuc3m
Sorry, the command for windows should be:
[code]
From the stack trace you provided, it looks like you included different version of JNA in your project.

[2020-09-24 20:27] carlosuc3m commented on #126
with that command I get the same output.
[code]
Isn´t the JNA provided by the dependencies?

[2020-09-24 20:35] frankfliu commented on #126
@carlosuc3m
That's strange, can you remove gradle\wrapper\gradle-wrapper.jar and try it again?
Or can you manually download gradle-wrapper.jar and save it in gradle\wrapper folder: https://raw.githubusercontent.com/gradle/gradle/master/gradle/wrapper/gradle-wrapper.jar

java.lang.NoSuchMethodError indicate that there is another JNA jar file is included in the classpath. I guess it came from anothe

[2020-09-25 01:11] carlosuc3m commented on #126
Still cannot run it. Should I clone the latest DJL version in a specific directory? Should I change "debugEnv" by something?
Yes my project used another library that required reading native libraries, but with with the insallation of the Visual Studio 2019 redistributables there was no problem running both libraries.
Sorry if I am asking something too obvious but I am not an expert in this field.

[2020-09-25 02:36] frankfliu commented on #126
@carlosuc3m
The java.lang.UnsatisfiedLinkError most likely is caused by missing VC2019 redistribute package, see: http://docs.djl.ai/docs/development/troubleshooting.html#13-unsatisfiedlinkerror-issue

A separate issue I noticed in your log is you are using CUDA 10.0, we don't support CUDA 10.0, only 10.1 and 10.2 are supported. The pytorch download on your windows is CPU only version.

[2020-09-25 09:18] BernhardGlueck commented on #170
MxNet ist totally fine ....

[2020-09-25 11:29] carlosuc3m commented on #126
Si in the new version we still need to instal VC2019 redistributables? I understood that with the new version they were no longer needed.
Yes I know that I need to change the CUDA version, but I though that for CPU it would not interfere.
Regards,
Carlos

[2020-09-25 14:51] frankfliu commented on #126
@carlosuc3m
Sorry for miscommunication. We still need VC2019 redistributable. We won't be able to bundle the redistributable in the jar. The old version will failed to fallback to CPU in you have CUDA 10.0 installed. We only fixed that bug.

[2020-09-25 16:43] lanking520 commented on #170
So here is the steps.

1) Get the MaskRCNN pretrained model: http://docs.djl.ai/mxnet/mxnet-model-zoo/index.html, you can choose one of the backbone. Try to get it run with our instance segmentation example http://docs.djl.ai/mxnet/mxnet-model-zoo/index.html.

2) Prepare your dataset, we do have coco dataset in our DataSet (https://github.com/awslabs/djl/blob/master/basicdataset/src/main/java/ai/d

[2020-09-25 17:10] lanking520 commented on #156
This seemed to be an OS issue. Currently DJL runs fine on CentOS7 and Debian.

[2020-09-25 17:10] #156 closed

[2020-09-25 22:20] thhart commented on #21
Hi contributors thanks for the suggestions added here. However I have some criticism and I have to say the documentation is very incomplete. Maybe it is worth to put some more effort in this whole topic.

1. SageMaker is a very high level labeling tool which does not answer how to integrate a dataset into DJL.
2. PikachuDetection is a good basic example which unfortunately only contains 1 label, f

[2020-09-25 23:09] BernhardGlueck commented on #170
That sounds like a plan :-) However i think i will have to with modifying the network architecture directly in java... since we plan to train on quite a few datasets with different classes so going the gluon -> mxnet -> dlj route would have to be automated and that in itself would be quite a lot of work.

[2020-09-27 04:43] uniquetrij commented on #152
@roywei The issue seemed to be with the `unique_ids` tensor node for the model generated in `run_squad.py` from [google-research/bert](https://github.com/google-research/bert). The same tensor is being `fed and fetched` for input and result respectively in the model, hence the error. Strangely, the exported saved-model works perfectly when inferencing with python. I suspect the issue should be wit

[2020-09-28 08:37] thhart opened #176 "How to provide multi label dataset for object detection?"
What is the expected structure of AccessDataset for training object detection models. The PikachuDetection contains a nice example however it is a one class example only. Below is the label extraction example constructing a Record structure. How must this structure constructed if there are multiple classes to be trained? Where is the class number to be specified?

[code]

[2020-09-28 16:33] stu1130 commented on #176
The label type is `NDList`, which represents a list of NDArray. You can add several labels to construct a label NDList.

[2020-09-29 14:57] tspannhw commented on #125
I have seen this issue with NiFi, I get an issue if two apps/processors/microservices use the same library (say both use Pytorch)

[2020-09-29 15:01] tspannhw opened #179 "Running two models with same engine at once"
## Description

Cannot run two models in NiFi 1.11.4 if both using Pytorch engine.

### Expected Behavior

Both should be able to use the library

### Error Message

java.lang.UnsatisfiedLinkError: /Users/tspann/.djl.ai/pytorch/1.6.0-cpu-osx-x86_64/0.8.0-SNAPSHOT-cpu-libdjl_torch.dylib (Library is already loaded in another ClassLoader)

## How to Reproduce?

https://github.com/tspannhw/nifi-djlsen

[2020-09-29 17:35] frankfliu commented on #179
@stu1130 Please take a look.

[2020-09-29 17:47] roywei commented on #152
Thanks! looks like a bug from TF Java side when invoking the C API. We will report and look into it.

[2020-09-29 21:24] stu1130 commented on #179
Thanks for reporting the issue  @tspannhw.
I was able to install your custom processor and input a file followed by two model running simultaneously and output the data to a file without seeing the error.
I am not familiar with Apache NiFi. Could you tell me where to find the error log?

[2020-09-29 23:15] stu1130 commented on #179
I found where the error log is but the issue I saw is
[code]

[2020-09-30 02:10] frankfliu commented on #179
@tspannhw You are loading two copy of Engine class into different ClassLoader. The 2nd System.load("jnipytorch") will fail. This is expected. A quick workaround would be more DJL library into system classloader, directly put them into top level libs folder, and configure them as "provided" dependency.

[2020-09-30 18:49] stu1130 commented on #179
@tspannhw we came up with three solutions.
In general, we need to move `System.load()` out of `pytorch-engine` jar to avoid loading the same native library in one JVM.
1. We'll use java reflection to call `System.load()` in a separate jar file. The new jar would only contain a simple class for `System.load()`. We'll provide the instruction how you write the class and how you build it. Finally, you

[2020-10-01 00:59] androuino opened #182 "How to generate index.file file"
## Question
Hi, I just want to thank you for making this framework for Java lovers. What a great job!

My question is, could you help me how to generate the _**index.file**_ for ObjectDetection? I want to start training with my custom dataset and am wondering if how I could generate the **_index.file_**.

Thank you for your help.

[2020-10-01 01:02] androuino commented on #182
Never mind, I think I found the answer here #21. Thanks.

[2020-10-01 01:02] #182 closed

[2020-10-03 08:17] androuino opened #186 "Training Obj. Detection with multiple classes and bounding boxes"
## Question
Hi, great framework btw.

My question is... Say I have an **_index.file_** which has a data like below:
[code]
So meaning I have a single image with 3 classes and multiple bounding boxes annotated. I would like to ask if my approach in getting the dataset is correct?
[code]
When I started the training with the class I have written to train my custom dataset. I am getting this error:
[c

[2020-10-03 08:35] androuino commented on #186
Nevermind, I solved it already.

[2020-10-03 08:35] #186 closed

[2020-10-03 08:46] androuino opened #187 "Need more information about the arguments"
## Question
Hi, could you explain what are these arguments for **_args = new String[] {"-e", "1", "-m", "1", "-b", "32"}_**? Thanks.

[2020-10-03 17:11] frankfliu commented on #187
I assume you are asking arguments for the training examples, the definition can be found here:
https://github.com/awslabs/djl/blob/master/examples/src/main/java/ai/djl/examples/training/util/Arguments.java#L85-L147

I added and [PR](https://github.com/awslabs/djl/pull/188) to print out the command line options:
[code]

[2020-10-04 21:25] thhart commented on #142
The Mxnet libraries are built with special instruction sets for modern CPU which might fail on older ones. The solution might be to build Mxnet from source for specific CPUs however this is not easy and might be even more complicated since the binary libs are deeply nested into the dependencies.

[2020-10-04 21:51] thhart opened #189 "Can not load Mxnet trained model"
## Description
Can not load a pre trained Yolo model from Mxnet. I have a param file and a symbol.json. MxModel seems to fail to handle the params file. If interested I might be able to share the model private on request.
The model was trained in a mxnet/gluoncv python environment.

Debugging the code I can see the key value is stages.0.0.0.weight which is supposed to be split by ":" which obvious

[2020-10-05 01:41] androuino commented on #187
thanks @frankfliu

[2020-10-05 01:41] #187 closed

[2020-10-05 02:28] androuino opened #190 "Training Obj. Detection with custom datasets"
## Question
Hi, my question is... While I have successfully executed the training for obj. detection following the **_TrainPikachu_** class but I am getting this result from the console:
![Screen Shot 2020-10-05 at 11 04 16](https://user-images.githubusercontent.com/14807340/95033985-07105180-06fb-11eb-81ac-1c2c8af0afb1.png)

As you will notice, the **classAccuracy** and **boundingBoxError** are e

[2020-10-05 02:49] lanking520 commented on #189
Hi, can you share the model or the code to obtain the model? I can try to rerpoduce that.

[2020-10-05 08:25] thhart commented on #189
The script the model was learned with train_yolo3.py:
https://drive.google.com/file/d/10zALbFJdKn2-9NXJbVzQsSnQ8_Bm1irq/view?usp=sharing

The trained model model-0000.params:
https://drive.google.com/file/d/1Eaj062TBRrBS4rIkKLsctiE5DKe_3kqr/view?usp=sharing

The json file of the model model-symbol.json:
https://drive.google.com/file/d/1gGH6zdCFlQXHVKPVn1mMCYePvrTsQyxN/view?usp=sharing

[2020-10-05 12:13] pmg1991 opened #191 "New Bert example using Goemotions"
Can we have a new Bert example using Goemotions?
[https://github.com/google-research/google-research/tree/master/goemotions](https://github.com/google-research/google-research/tree/master/goemotions)

Colab or Binder notebook would be awesome for Multi-label classification example including training and inference .

[2020-10-05 16:26] humzaiqbal opened #192 "Can't run tensorflow multi-lingual sentence encoder"
## Description
When trying to run the multi-lingual version of the Universal Sentence Encoder there is a bug where an OP type `SentencepieceOp` is not registered
### Expected Behavior
The model should run on the inputs provided

### Error Message
(Paste the complete error message, including stack trace.)
[code]

## How to Reproduce?
(If you developed your own code, please provide a short script th

[2020-10-05 18:40] zachgk commented on #192
Similar to https://github.com/tensorflow/hub/issues/463, it seems like this model depends on [tensorflow text](https://github.com/tensorflow/text). Text is an expansion for Tensorflow that provides both native engine operators as well as some python code. We don't support Text right now, but I will change this issue to a feature request to support it

[2020-10-05 18:43] zachgk commented on #186
@androuino Do you mind sharing how you solved this for those with similar problems who find this issue?

[2020-10-05 18:45] humzaiqbal commented on #192
Great thanks, do you know if this is something that could be supported within a week or two or do you think more time would be required?

[2020-10-05 22:43] androuino commented on #186
Sure but the problem that I have was a silly mistake because instead of putting a .jpg in the index.file, I am putting .txt that's why I have the error that it can't read the input file. The Json file should like like this:
{"image.jpg":[...], ...}

[2020-10-06 00:57] lanking520 commented on #189
@thhart Do you know which mxnet version you are using to train the model (pip package)? Is that MXNet 1.7 or MXNet 1.5 (or lower?)

[2020-10-06 08:22] thhart commented on #189
Name: mxnet-cu102
Version: 1.7.0
Summary: MXNet is an ultra-scalable deep learning framework. This version uses CUDA-10.2.
Home-page: https://github.com/apache/incubator-mxnet
Author: None
Author-email: None
License: Apache 2.0
Location: /usr/local/lib/python3.8/dist-packages
Requires: requests, graphviz, numpy

[2020-10-06 20:36] lanking520 commented on #189
After trying to load this model in python, I got the following issue:

[code]
It seemed some of the layers weight are not saved.

There is something you can do, try to follow the steps:

http://docs.djl.ai/docs/mxnet/how_to_convert_your_model_to_symbol.html#how-to-convert-your-gluon-model-to-an-mxnet-symbol

To save your model into a Symbol compatible way

[2020-10-06 21:23] frankfliu commented on #191
@pmg1991
This is indeed a nice example for BERT. We are trying to adding more NLP examples. We will priority this request.

At the mean time, are you interested in contributing by adding this dataset to DJL?

[2020-10-07 01:00] evgrafov-midas opened #194 "Setting ai.djl.pytorch.use_mkldnn into "true" makes impossible the creation of tensor of longs"
## Description

### Expected Behavior
(what's the expected behavior?)

### Error Message
[code]
PASTE OUTPUT HERE
[code]

[2020-10-07 05:22] frankfliu commented on #190
@androuino
If I understand correctly, you have multiple boundingbox in a single image:
- The image will be mapped to an NDArray as data, since you only have one input the data NDList will only contains single image
- Each boundingbox and it's category will be mapped to double[5], this is what you are currently doing
- since one image can have multiple boundingbox, the label of the image should be

[2020-10-07 06:50] stu1130 commented on #194
@evgrafov-midas currently pytorch mkldnn doesn't support long type, you need to use float

[2020-10-07 07:05] androuino commented on #190
Thanks @frankfliu for the response. However, running the **CocoTest** gives me this error:
[code]
I did not change any of the code inside **CocoDetection** class except for downloading the coco dataset to run the test.

[2020-10-07 08:38] androuino commented on #190
I have checked the actual **CocoDetection** class and modified my code accordingly which is a bit similar to **CocoDetection**:
[code]
then the function that has a similarity with **CocoDetection** class.
[code]

But am getting this error:
[code]

Sorry, I may not understand what you are suggesting from your last comment but please help me get through with this error. Thank you in advance.

[2020-10-07 10:25] thhart commented on #189
Cool, thanks for checking, I was under the consumption the net was already hybridized but in fact it wasn't. So I converted now and it is loading. Sorry not have checked carefully.

However now I run into an other problem the layers not feeded well. I have changed the criteria like this:

<pre>
Criteria<Image, DetectedObjects> criteria = Criteria.builder()
               .setTypes(Image.class, Det

[2020-10-07 10:38] pmg1991 commented on #191
@frankfliu Sure , I'd like to contribute.

[2020-10-07 15:36] evgrafov-midas commented on #194
I'm using torch.nn.Embedding which requires LongTensor as an input.

[2020-10-07 16:34] willishf opened #195 "DJL on Arm"
## Question
I knew if I waited long enough someone would come up with a Java API/framework to leverage latest and greatest without needing to use python. Thank you!!!

Has any work been done or testing on arm platforms like Jetson Nano, Google Coral or Raspberry PI. Primary use case is running models on the edge and leveraging GPU on Nano, Tensor Flow Light on Coral and CPU on PI.

Going to assume

[2020-10-07 17:16] lanking520 commented on #189
I can take a look too, is seemed like the input shape are not YoLo network looking for. What is the shape for your input? Usually during the training we do normalize and resize the image. 608 seemed to be the upper limit for the model, maybe you can do Resize() in the pipeline to resize it to some value between 320 - 608.

Can you send me the model files again, I can help discover that in the mean

[2020-10-07 17:26] stu1130 commented on #195
Thanks! I have built the PyTorch native code including libtorch & JNI on a1 instance (arm) and it works without any problem. I think it should be able to extend to any arm-based edge device like Jetson Nano. I'll switch the labels to "feature request" as we should have tutorial or example of how to deploy the model on edge devices.

[2020-10-07 17:27] zachgk commented on #192
@roywei Can you take a quick look at TF Text?

[2020-10-07 17:35] lanking520 commented on #195
Or probably to epand the use cases we may need to consider adding TensorFlow Lite into DJL's family

[2020-10-07 17:37] lanking520 commented on #194
@evgrafov-midas can this part run without MKLDNN? Did you see if there is a performance gap if you not enable it?

[2020-10-07 17:43] evgrafov-midas commented on #194
Without MKLDNN the inference works but latency in DJL is 2x slower than latency in python with MKLDNN.
In our application, 2x difference in latency would mean the inability to productionalize the model with DJL.

[2020-10-07 18:33] lanking520 commented on #189
BTW, we do have some pretrained gluoncv yolo model in DJL. You may want to take a look. Some tricks we do for hybridization is, before we do the export, we do a forward with a dummy image (nd.ones((1, 3, size, size)), and use the size as the standard image size to feed. I assume you are doing something similiar

[2020-10-07 20:20] zachgk commented on #189
You can also find the script that was used for the model zoo yolo models at https://github.com/awslabs/djl/blob/master/mxnet/mxnet-model-zoo/src/main/scripts/exportYolo.py

[2020-10-08 16:36] frankfliu commented on #190
@androuino I confirmed CocoTest is failing, we will take a look and fix CocoDetection dataset bug.

Training ssd with Coco is not as straight-forward as Pikachu, we will trying to create an example.

[2020-10-08 19:12] frankfliu commented on #194
@evgrafov-midas
In DJL, we made PyTorch MKLDNN a global setting for simplicity. We can consider override MDLDNN option for certain NDArray creation. Would you please share how you use MKLDNN in python, so that we can create a better API to workaround your use case.

[2020-10-08 21:01] stu1130 commented on #194
@frankfliu He have shared the code with use. I just added you in the private slack channel

[2020-10-09 01:51] androuino commented on #190
Thanks for the response @frankfliu. I confirmed that the **CocoDetection** has been fixed. However, have you taken a look at the error I am getting?
[code]

[2020-10-09 02:22] stu1130 commented on #190
@androuino it looks like you use the operator that doesn't support float64. Do you know where you use float64?

[2020-10-09 02:38] androuino commented on #190
Hi @stu1130, this is the class that I made which is kind of a combination of **PikachuDetection** class and the **CocoDetection** class: https://gist.github.com/androuino/00095ba5be3d10cab765bd2447d236cf
Then this is my TrainCustomModel class: https://gist.github.com/androuino/6e8e014e3e70b107f4ebb9cf6c9387ac
which I don't see or notice that I am using float64. My dataset structure if pretty much

[2020-10-09 03:02] stu1130 commented on #190
@androuino Does you have complete error stack trace? The label of the Pikachu dataset is float, but the label in CocoDetection is double. I am suspecting  this is where you use float64, could you cast the label to float32 by `toType` method

[2020-10-09 03:56] androuino commented on #190
So far this is the only stack trace that I could get:

[2020-10-09 04:07] androuino commented on #190
@stu1130 I tried your suggestion and this is the error am getting:
[code]

[2020-10-09 05:32] androuino commented on #190
@stu1130 I've some update about the training attempt when I changed the argument's value like this:
[code]
It runs the training, however, the training and validation's boundingBoxError doesn't seem improving.
These are my throughout training for 8 epochs:
[code]

Should I raise a concern or not about the **boundingBoxError**, is it normal or there's something that is not right?
Thanks for the help

[2020-10-09 05:39] androuino commented on #190
Looks like it's working now with this arguments settings: ```args = new String[] {"-e", "8", "-b", "1"};```.

[2020-10-09 07:18] stu1130 commented on #190
"-m 1" a.k.a "max-batches" means we train the model with only 1 max-batches for each epoch, which is usually for sanity test.

[2020-10-09 07:49] androuino commented on #190
I see, thanks for the info @stu1130. However, how could determine if its an ideal time to stop the training? What should I look for at the values during training? Thanks.

[2020-10-09 13:20] androuino commented on #190
@stu1130, could you also explain to me the Pikachu's **index.file** values?
[code]
I suppose that 512.0 is the image's height and width. How about the **4.0**, and **5.0**? What are these values?
Thanks.

[2020-10-09 21:22] frankfliu commented on #190
@androuino
The pikachu example is a simplified version, it doesn't require image augmentations since it only has one class. However,
training a proper ssd model require many image augmentations when loading Record from dataset, you can find python code here: https://github.com/dmlc/gluon-cv/blob/master/gluoncv/data/transforms/presets/ssd.py#L98

The full python training code can be found: https://

[2020-10-10 10:48] kkoripl opened #201 "Zero size of a splitted datasets"
## Description
When using randomSplit function with set ratios and receiving sub-RandomAccessDatasets invoking size() function on each of them returns 0, even if data inside is available.

### Expected Behavior
Function should return actual size of a dataset when limit property of a class RandomAccessDataset set for Long.max_value, as it is in this situation.

### Steps to reproduce
DatasetPath an

[2020-10-11 00:17] frankfliu commented on #201
@kkoripl I'm able to reproduce this issue, this is a bug in SubDataset constructor.

[2020-10-12 19:42] frankfliu commented on #201
Feel free to re-open the issue if you still have issue

[2020-10-12 19:42] #201 closed

[2020-10-14 02:16] frankfliu commented on #167
@SaviorD7
I create a PR to added a concrete CsvDataset that you can use directly: https://github.com/awslabs/djl/pull/208

I will add a document a bit later.

[2020-10-14 02:22] frankfliu commented on #191
@pmg1991 I create a CsvDataset in https://github.com/awslabs/djl/pull/208

You should be able to extends CsvDataset and create a Goemotions, you can use https://github.com/awslabs/djl/blob/master/basicdataset/src/main/java/ai/djl/basicdataset/AmesRandomAccess.java as an example.

[2020-10-15 10:07] androuino opened #220 "Loading trained model with custom dataset"
## Question
Hi, I would like to ask how I can load a trained hybridize gluon model and created **.params** and **.json** file to be used in DJL?
Should I create also the **synset.txt** file for the list of classes then compress it as a tar.gz file?
I'd like to know what is the correct way to do it because from what I have tried, I have compressed these 3 files as a tar.gz file  then from DJL, I've

[2020-10-15 16:45] frankfliu commented on #220
1. How to convert gluon model to symbolic: http://docs.djl.ai/docs/mxnet/how_to_convert_your_model_to_symbol.html
2. If you load a model directly from an URL, in most cases, you need supply a Translator:
[code]

3. SingleShotDetectionTranslator.Builder, accept synset input in three way:
[code]

4. optModelUrls() accept both local folder or an archive file (.zip/.tar), we don't expect files are com

[2020-10-16 03:15] yanchaoguo opened #223 "Whether support DeepLab-v3+ Model"
这个项目非常赞；你们为java开发者提供了探索深度学习的途径、

请问有计划支持谷歌DeepLab-v3+模型的语义分隔吗；这个模型的支持对于我们项目的推广会有很大的帮组

[2020-10-16 04:34] androuino commented on #220
Hi @frankfliu, thanks for the instruction I am now able to use the model I have trained, however, it looks like it's working but I am getting this result from the console:
[code]
but when I checked the image expecting with detected bbox drawn, there's not a single bbox drawn on the image. Could you please tell me why the output is not what I am expecting? Also, I have noticed that the value of x,

[2020-10-16 06:03] androuino commented on #220
Do you have any advice or leads on how to fix that? Thanks.

[2020-10-16 16:36] lanking520 commented on #223
Hi @yanchaoguo Thanks for supporting DJL. As long as the model can be saved as Saved_model format in TF, we should be able to leverage the inference functionality of it. Currently TF Engine didn't support for training.

You can also import the model from GluonCV: https://gluon-cv.mxnet.io/build/examples_segmentation/demo_deeplab.html#sphx-glr-build-examples-segmentation-demo-deeplab-py

Like this

[2020-10-18 21:14] frankfliu commented on #220
Can you share your training code?

[2020-10-19 03:03] androuino commented on #220
@frankfliu sure. here is the gist > https://gist.github.com/androuino/4d8b552bb1d0474c58c40fe63c4409fe.
This is how I hybridize the trained model > https://gist.github.com/androuino/f62c6878e1c3482b97874f15b34300aa

Thanks again.

[2020-10-19 11:04] yanchaoguo opened #225 "How to import paddlepaddle model"
请问支持百度paddle模型导入吗有没有操作使用的例子

[2020-10-19 13:21] deki opened #226 "BOM should contain definitions for artifacts with classifiers"
## Description
djl/bom should also contain dependency declarations for artifacts with classifiers (osx-x86_64, win-x86_64, linux-x86_64) like mxnet-native-mkl. Currently these definitions are missing (maybe due to https://github.com/gradle/gradle/issues/8561)

Example usecase: if you remove mxnet.native.version from https://github.com/awslabs/djl-spring-boot-starter/ you'll get  'dependencies.depe

[2020-10-19 16:56] lanking520 commented on #225
Currently PaddlePaddle doesn't have a Java API we can connect with. But there is a plan to support Paddle with Paddle team in Java in the coming weeks. If you are interested to participate on that,  please let me know.

[2020-10-20 06:32] frankfliu commented on #226
@deki BOM doesn't really need include classifier
Please take a look the following example: https://github.com/aws-samples/djl-demo/blob/master/canary/build.gradle#L52

[2020-10-20 06:42] deki commented on #226
@frankfliu I know Gradle handles this differently but IMHO Maven somehow requires the declarations. Please let me know if you see an option to achieve it without adding them.

[2020-10-20 17:57] deki commented on #226
Thanks Frank. One workaround mentioned in https://github.com/gradle/gradle/issues/8561 is to do post processing using pom.withxml.

[2020-10-20 20:09] frankfliu commented on #226
@deki
I created a PR to address this issue: https://github.com/awslabs/djl/pull/230

Please the BOM 0.9.0 snapshot version will be available by tomorrow. Please let me know if it works for you.

[2020-10-21 04:37] androuino commented on #220
Hi @frankfliu, any leads or updates? Thank you very much.

[2020-10-21 17:35] frankfliu commented on #179
@tspannhw I created a PR to workaround NiFi ClassLoader issue.

The workaround would be:
1. Create a class that contains a static method:

[code]
2. Put this class in NiFi's system classpath, not in .nar file
3. Set system properly where this class locate:
[code]

You can refer to: https://github.com/awslabs/djl/blob/master/pytorch/pytorch-engine/src/test/java/ai/djl/pytorch/integration/LibUtilsTe

[2020-10-21 23:44] frankfliu commented on #220
@androuino
I think you need do the following:

[code]

The rescale will based on image size to map the bbox value to 0 - 1

[2020-10-22 00:43] androuino commented on #220
Thanks @frankfliu, I will test it now and get back to you with the result.

[2020-10-22 04:30] ManuLasker opened #236 "NDIndex item_pattern android support?"
## NDIndex.java item_pattern android support?

Hello, I'm having the following problem with Android Studio, when I tried to apply transformations NDIndex have an error in the item_pattern:
`private static final Pattern ITEM_PATTERN =
            Pattern.compile("(\\*)|((-?\\d+|\\{})?:(-?\\d+|\\{})?(:(-?\\d+|\\{}))?)|(-?\\d+|\\{})");`

According to what I've searched so far android studio need the

[2020-10-22 04:52] frankfliu commented on #236
@ManuLasker would you please clarify what error do you see in android studio? What do you mean "apply transformations"? Do you mean you get IllegalArgumentException when you construct NDIndex?

This is a valid regex and properly escaped in Java. I'm able to use this line in Android Studio without any issue.

[2020-10-22 05:20] ManuLasker commented on #236
@frankfliu That's my problem, I'm not able to reproduce this line in Android Studio. I have this pipeline transformations:
`Pipeline pipeline = new Pipeline();
        pipeline.add(new CenterCrop(240, 240))
                .add(new ToTensor())
                .add(new Normalize(
                        new float[] {0.485f, 0.456f, 0.406f},
                        new float[] {0.229f, 0.224f, 0.225

[2020-10-22 06:21] frankfliu commented on #236
@ManuLasker Looks like android regex implementation is different from openJDK. Will try it on android.
By the way, which android version are you using?

[2020-10-22 06:30] androuino commented on #220
Hello again @frankfliu, seems like it's working however, the result when I test the trained model using python, I am getting this result:
![pikachu](https://user-images.githubusercontent.com/14807340/96832780-45876980-147a-11eb-83c2-a0a3a93ee96c.jpg)
while the detection in DJL is this:
![detected-pikachu](https://user-images.githubusercontent.com/14807340/96832884-71a2ea80-147a-11eb-833f-b6f675eda

[2020-10-22 07:03] frankfliu commented on #220
@androuino
You are print out the DetectedObjects using it's .toString() method, it only print out top 5 by default. But actually you got more items in the DetectedObjects

for pikachu model, you might want to set a higher threshold:
[code]

[2020-10-22 07:20] androuino commented on #220
Nice! it's working perfectly now. Thank you so much @frankfliu.

[2020-10-22 07:20] #220 closed

[2020-10-22 11:09] deki commented on #226
Should the snapshot be available in https://oss.sonatype.org/content/repositories/snapshots/?

Also tried to build it locally but although there are multiple publishing goals, I never managed to have the 0.9.0-SNAPSHOT bom in my local maven repo.

[2020-10-22 12:39] ManuLasker commented on #236
@frankfliu Sorry for the late answer, I'm using Android Studio 4.1, Android SDK 11.0 API level 30

[2020-10-22 15:21] eanemo opened #238 "Got invalid dimensions for input"
## Question
I am trying to use a model for segmentation that I have exported to ONNX format. I have tested the model in this format previously on Python code and works fine. However if I try to use the ONNX model using DJL Java code I obtain a invalid dimension error for the input of the model. I have checked that the image size is correct. So, I am using a custom transform class that I am using i

[2020-10-22 17:04] lanking520 commented on #238
@eanemo Hi, the default outcome from our image loader are HWC (Height, width channel) format. You may need some additional operation to make it to CHW (ONNX model looked for). We did that by calling `NDImageUtils.toTensor()`. This will make the NDArray from HWC to CHW and also do the normalization on the inputs

[2020-10-22 17:38] frankfliu commented on #226
Yes, you can see: https://github.com/awslabs/djl/blob/master/examples/pom.xml#L17-L22

I changed the examples pom.xml https://github.com/awslabs/djl/blob/master/examples/pom.xml#L76
to:

[code]

And it works fine.

If you want to build bom locally, you need publish the package to .m2 folder:
[code]

[2020-10-22 18:34] frankfliu commented on #236
@ManuLasker you are completely right, android requires escape } as well. I just made a PR to address this issue.

[2020-10-22 18:46] deki commented on #226
Thanks, I missed to run it in them bom folder separately. It's working great!

[2020-10-22 18:46] #226 closed

[2020-10-22 19:56] ManuLasker commented on #236
@frankfliu Thank you so much for the help.

[2020-10-22 20:36] #236 closed

[2020-10-23 07:07] eanemo commented on #238
I obtain the image from an inputStream like that:

ImageFactory.getInstance().fromInputStream(in);

I have changed to default ToTensor() transform and I get the same error. The problem is that if I debug the code, the translator does not execute the code in the processOutput method, so I think that the problem is not in the translator. The full code that load and executed the model is the followin

[2020-10-23 10:39] HuaMuLanChina opened #245 "NDArray on Android"
## Description
1.
start a new empty project in android studio(4.0.1)
add dependencies in build.gradle(Module:app)
[code]
start sync i got:
` Gradle sync failed: Could not find method androidRuntimeOnly() for arguments [ai.djl.pytorch:pytorch-engine:0.8.0] on object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler.`
after I change androidRuntimeOnly->runtimeOnly ,

[2020-10-23 15:32] frankfliu commented on #245
Looks like this is the same issue as: https://github.com/awslabs/djl/issues/236

Please try:
[code]

[2020-10-23 17:48] lanking520 commented on #238
Do you have the erorr log to share? You can use these to get the full logs. About the postprocessing. Since you are using hybrid mode, the output should be effectively dealt with the second engine of. your choice. What is in your `RootsSegmentationTranslator`.

[code]

You can also share me the model you try to on inference on, I can write some sample code to help you out

[2020-10-23 17:50] lanking520 commented on #238
Change the default `ToTensor` doesn't help much since it is also calling toTensor() below. The issue is you may call this toTensor() method twice in your preprocessing step. I would recommend to use some IDE (e.g IntelliJ) and use debug mode to dig in and see what NDArray operation are being done.

[2020-10-23 19:57] frankfliu commented on #245
And in your code:
[code]
this will throw exception, it's expected. Your array shape will be (4, 2) after reshape(-1, 2), getInt() expect the array is a scalar.

[2020-10-24 03:50] androuino opened #247 "Parameter file not found in"
## Question
Hi, after hybridizing a trained model(ssd_300_vgg16_atrous_voc) in mxnet and created a ssd_300_vgg16_atrous_voc.tar.gz, and loading it in djl using this code example:
[code]
Inside the ssd_300_vgg16_atrous_voc.tar.gz has two files which are: ssd_300_vgg16_atrous_custom-0000.params and ssd_300_vgg16_atrous_custom-symbol.json.

I am alway having this error:
[code]
This line in https://gi

[2020-10-24 04:45] androuino commented on #247
Nevermind, I fixed it already.

[2020-10-24 04:45] #247 closed

[2020-10-25 10:34] HuaMuLanChina commented on #245
sucess Thanx,
successd with:
[code]

[2020-10-25 10:34] #245 closed

[2020-10-25 11:24] eanemo commented on #238
Hi, I have obtained the following log:

[main] DEBUG ai.djl.engine.Engine - Engine loaded from provider: PyTorch
[main] DEBUG ai.djl.engine.Engine - Engine loaded from provider: OnnxRuntime
[main] WARN ai.djl.engine.Engine - More than one deep learning engines found.
[main] DEBUG ai.djl.engine.Engine - Found default engine: PyTorch
[main] DEBUG ai.djl.repository.zoo.ModelZoo - Checking ModelLoader

[2020-10-25 13:36] HuaMuLanChina opened #248 "Way for proper Integer array indexing?"
## Question
In numpy:
[code]
what i've tried:
[code]

[2020-10-25 16:26] lanking520 commented on #238
Thanks, I will try to get it work on my end

[2020-10-26 06:10] ma2695212419 opened #249 "Documentation update"
When will the Chinese document be updated

[2020-10-26 16:46] lanking520 commented on #249
@ma2695212419 Which document(s) you are looking for to be updated for Chinese?

[2020-10-26 19:50] lanking520 commented on #248
There is a way, try to do following the javadoc: https://javadoc.io/doc/ai.djl/api/latest/ai/djl/ndarray/index/NDIndex.html

[code]

[2020-10-26 20:28] lanking520 commented on #238
@eanemo I managed to get it work locally by doing this transformation

[code]

Your model prefer HWC input type. `ToTensor` will by default making HWC to CHW. You can choose to not using `toTensor` at all and use our source code to implement this method. (normalize the image input) Or simply use the workaround above to avoid shape mismatch issue.

[2020-10-27 03:44] HuaMuLanChina commented on #248
[code]
can't pass block runner.

[code]

[2020-10-27 08:25] QiAnXinCodeSafe opened #253 "Double-Checked Locking"
https://github.com/awslabs/djl/blob/f4f35244b74efa2f50c5a23289922d143cad64dc/mxnet/mxnet-engine/src/main/java/ai/djl/mxnet/engine/MxSymbolBlock.java#L167-L169

Double-Checked Locking is widely cited and used as an efficient method for implementing lazy initialization in a multithreaded environment.
Unfortunately, it will not work reliably in a platform independent way when implemented in Java, wit

[2020-10-27 08:26] QiAnXinCodeSafe opened #254 "Unreleased Resource: Streams"
https://github.com/awslabs/djl/blob/f4f35244b74efa2f50c5a23289922d143cad64dc/basicdataset/src/main/java/ai/djl/basicdataset/ImageNet.java#L104

The program can potentially fail to release a system resource.

[2020-10-27 09:00] eanemo commented on #238
Hi,

I have used the solution you have provided and works fine.

Thanks a lot.

[2020-10-27 09:00] #238 closed

[2020-10-27 14:43] ma2695212419 commented on #249
I don't see the Chinese document. I hope to provide the Chinese document,

[2020-10-27 17:29] lanking520 commented on #249
We will do some CN content to our documentation, currently didn't have much bandwidth. If you would like to contribute, please feel free to do so :).

In the meantime, maybe you can follow our Zhihu: https://zhuanlan.zhihu.com/c_1255493231133417472 for article in CN or https://aws.amazon.com/cn/blogs/china/tag/djl/

[2020-10-27 17:49] frankfliu commented on #254
@QiAnXinCodeSafe Good catch.
Would you mind raise a PR to resolve this issue?

[2020-10-27 18:01] frankfliu commented on #253
Double-Checked Locking is discouraged for singleton implementation, and doesn't really work in Java 1.4 and before.

In this case, the `first` is just a boolean, and assignment is atomic (we probably should add `volatile` to it). It should be working fine here.

[2020-10-27 19:17] zachgk commented on #247
@androuino Can you share what you fixed for future users who run across this issue?

[2020-10-27 19:39] zachgk commented on #248
We don't support this right now.

For clarification, there are two types of indexing with numeric indices: [pick](https://mxnet.apache.org/versions/1.7.0/api/python/docs/api/symbol/symbol.html#mxnet.symbol.pick) and [gather](https://mxnet.apache.org/versions/1.7.0/api/python/docs/api/symbol/symbol.html#mxnet.symbol.gather_nd). We have support for pick, but need to add gather to support this.

[2020-10-28 01:19] ManuLasker commented on #248
@HuaMuLanChina Hello, what you can do and it functions for me with the pytorch engine is:
[code]
The results are:

[code]
The same results for numpy python:
[code]
Hope this can help you :D

[2020-10-28 03:07] HuaMuLanChina commented on #248
'repeat' works .

[2020-10-28 03:07] #248 closed

[2020-10-28 03:46] ma2695212419 commented on #249
I am a beginner and a Chinese java engineer, so I hope you can provide Chinese documents as soon as possible, thank you

[2020-10-29 01:28] hs2222 opened #257 "train sentiment analysis"
## Description
I ran the TrainSentimentAnalysis class with arguments ("-g", "1", "-e", "1", "-m", "2") in TrainSentimentAnalysisTest class, then the program throws an exception.

### Expected Behavior
train well

### Error Message
09:13:26.483 [main] DEBUG ai.djl.repository.Resource - Preparing artifact: MXNet, ai.djl.mxnet:glove:0.0.1 {"dimensions":"50"}
09:13:26.484 [main] DEBUG ai.djl.repositor

[2020-10-30 00:29] tspannhw commented on #179
thanks

[2020-10-30 00:29] #179 closed

[2020-10-30 14:32] kkoripl opened #260 "Same amount of class images in ImageFolder dataset"
## Question
Hi, I've just prepared my image dataset for training, but realized one particular issue of it - one class got like 80k examples, when other has only 1k. Is there possibility of taking only 1k examples of bigger class at random in ImageFolder dataset? Or loading all, but then for training using only fixed number of examples from each class?

It's like in python splitting dataset with cl

[2020-10-30 18:14] zachgk commented on #260
If you want to use only part of the ImageFolder, you will probably need to create a new Dataset class `MyImageFolder extends AbstractImageFolder`. Just copy the class and modify the prepare method.

Instead, consider using the loss weights. This is the strategy that I have usually seen. You use all of your data, but multiply the loss values for your small class by some constant value (between 1 an

[2020-10-30 22:17] lanking520 commented on #257
@hs2222 Just added a fix ⬆️ . Please check if this change helps!