[2020-10-31 17:12] #253 closed

[2020-10-31 19:06] #254 closed

[2020-11-02 20:19] jesse-schallenberger opened #268 "Synset.txt generation"
## Question
I am curious about the proper generation of the synset.txt file for custom model loading. To begin with a toy problem I began with 17 flowers, if that helps in any way.

The question is, what is the proper way to generate the synset.txt file?

[2020-11-02 20:47] frankfliu commented on #268
@jesse-schallenberger The sysnet doesn't have to be a file. It can be List<String>. See: https://github.com/awslabs/djl/blob/master/api/src/main/java/ai/djl/modality/cv/translator/BaseImageTranslator.java#L259-L266
You can build your ImageTranslator with `optSynset()`

Synset usually comes with your training dataset, see: https://github.com/awslabs/djl/blob/master/basicdataset/src/main/java/ai/djl

[2020-11-02 20:50] lanking520 commented on #268
It looks like this: https://mlrepo.djl.ai/model/cv/image_classification/ai/djl/mxnet/synset.txt

Just use `\n` to separate your classes and saved to a txt namely `synset.txt`.

[2020-11-02 21:08] jesse-schallenberger commented on #268
Regarding the entries here in the listed file, they seem to be consistently given as similar to `n01440764 tench, Tinca tinca` for instance on line 1. I'm curious about the first value listed there, what it might mean. Is this common for synset? It is not simply numerical and the class label? Is it problematic to simply utilize the class labels?

[2020-11-02 22:29] frankfliu commented on #268
@jesse-schallenberger `n01440764 tench, Tinca tinca` is specific to ImageNet, it contains three part, the first column is the ID, 2nd is the short name, and then the last is the full name of the class.

[2020-11-02 22:40] jesse-schallenberger commented on #268
If the NN mapping is integer to class name, would clarification be possible for what the synset should look like in that case? Would both values be needed per line?

[2020-11-03 00:07] frankfliu commented on #268
use ImageNet as example, it contains 1000 classes, each line is the label of the class, the content/format of the label doesn't really matter to the deep learning. The output of NN contains 1000 floating numbers, each of value represent the probability of corresponding class.

[2020-11-03 07:23] hs2222 commented on #257
Thanks for your answer. I pulled the code and ran it, but the train process stuck at 98% for an hour, the log is as follows:

14:22:28.331 [main] DEBUG ai.djl.util.cuda.CudaUtils - cudart library not found.
14:22:28.334 [main] DEBUG ai.djl.mxnet.jna.LibUtils - Using cache dir: /Users/hs/.djl.ai/mxnet
14:22:28.340 [main] DEBUG ai.djl.mxnet.jna.LibUtils - Loading mxnet library from: /Users/hs/.djl.a

[2020-11-03 19:09] thhart commented on #189
Hi Lanking, sorry for this late answer but I checked meanwhile an alternative approach with YoloV5. With this I achieved inference over an Onnx bridge (1.5.1).
This is working very good already, however DJL is a more sophisticated framework of course and I am convinced support for YoloV5 might be a good progress and enhancement for it. Maybe the built in Onnx support in DJL could be the key also.

[2020-11-03 19:19] lanking520 commented on #189
@thhart Hi Thomas, we do have ONNX Runtime support: http://docs.djl.ai/onnxruntime/onnxruntime-engine/index.html

Could you please try it out? This should work with the majority ONNX model designed for Deep Learning

Thanks

[2020-11-03 19:46] thhart commented on #189
Using following code produces the error below, maybe a simple input encoding problem? Any hint? YoloTranslator looks the same as in my solution by the way but did not get this far yet...

[code]

<pre>
Exception in thread "main" ai.djl.engine.EngineException: ai.onnxruntime.OrtException: Error code - ORT_INVALID_ARGUMENT - message: Unexpected input data type. Actual: (N11onnxruntime17PrimitiveData

[2020-11-03 19:52] lanking520 commented on #257
@hs2222 I am able to reproduce your issue. Will take a look.

[2020-11-03 19:56] thhart commented on #189
I should add I feed the model with normalized floats.

[2020-11-03 20:02] lanking520 commented on #189
I haven't seen this before
[code]
I will take a look

[2020-11-03 20:06] thhart commented on #189
Sure, but how to feed data or influence the conversion when using your framework image input chain as [above](https://github.com/awslabs/djl/issues/189#issuecomment-721339304)?

[2020-11-03 20:18] thhart commented on #189
Looks like BaseImageTranslator is feeding INT by default, maybe worth to check overwriting...

[2020-11-03 21:28] lanking520 commented on #189
@thhart You can use the pipeline to add a ToTensor method.

Like we tried here: https://github.com/awslabs/djl/issues/238#issuecomment-716803931

[2020-11-03 23:12] thhart commented on #189
Got it working, need some NMS (non max supression) still, is there something available already in DJL for DetectedObjects?

[2020-11-04 06:12] yanchaoguo opened #271 "支持发丝级语义抠图算法吗"
关于抠图算法的实现，比较理想的模型是什么

[2020-11-04 08:20] YuJiankun commented on #257
The problem might be in class FixedBucketSampler.Iterate. The constructor and method next may cause infinite loop.

[2020-11-04 13:16] thhart commented on #189
Please check following PR:

https://github.com/awslabs/djl/pull/272

Tested successful with custom trained network.

[2020-11-04 13:16] #189 closed

[2020-11-04 17:35] lanking520 commented on #271
Instance segementation, try with http://docs.djl.ai/examples/docs/instance_segmentation.html this example

[2020-11-06 21:07] thhart opened #284 "Onnx CPU inference performance problem"
## Description
I have a performance problem using the Onnx engine. Using Onnx runtime directly (without DJL) I have a warm-up of 3 s when doing inference but after short time the prediction goes fast down to 400 ms. All this is done in one Onnx session.

Using the DJL wrapper it looks like the warm-up is done always so prediction keeps at 3 s. All this is done in one DJL predictor.

This is on top

[2020-11-06 21:20] frankfliu commented on #284
@thhart  You can use our benchmar tool to test the inference performance:

[code]

[2020-11-06 21:56] lanking520 commented on #284
@thhart Can you share the code you tried to benchmark ONNX runtime on? We are creating new Environment everytime new input comes.

[2020-11-06 22:07] thhart commented on #284
Yes, this I was afraid of and might explain my problems, will try to provide a test/case model/example asap, thanks for the quick reply.

[2020-11-06 22:18] frankfliu commented on #284
@thhart OrtEnvironment.getEnvironment() should not create a new instance, it re-use the static OrtEnvironment.INSTANCE if possible. It must be something else.

[2020-11-06 22:24] thhart commented on #284
@frankfliu Yes, your are right the environment is not recreated indeed, check in a debug, will dig further...

[2020-11-06 22:34] thhart commented on #284
Tried to run this with a local model file but somehow benchmark is distorting the path and does not load the model.

<pre>
 ./gradlew benchmark --args="-n yolov5s.onnx -c 1000 -s 1,224,224,3" -Dai.djl.repository.zoo.location=file://$PWD/yolov5s.onnx -Dai.djl.default_engine=OnnxRuntime

[INFO ] - Load library 1.4.0 in 106.253 ms.
[INFO ] - Running Benchmark on: cpu().
[ERROR] - Unexpected error
ai.

[2020-11-07 02:10] frankfliu commented on #284
@thhart
You need create a folder `yolov5s` and put yolov5s.onnx in `yolov5s`, the call:

[code]

[2020-11-07 12:44] thhart commented on #284
@frankfliu Hi Frank, checking all this I found out your Onnx engine is not implemented yet (see OrtNDArray for UnsupportedOperationException). All I do right now is to use Mxnet engine injection somehow as I have these in the dependency list as well. Looks like DJL is either by fault or not misusing the Mxnet layer then for tensor data handling before passing to Onnx models loaded. With this I suc

[2020-11-07 21:50] thhart commented on #284
The problem was in output parsing within YoloV5Translator. Created PR for this.
https://github.com/awslabs/djl/pull/286

[2020-11-07 21:50] #284 closed

[2020-11-08 20:00] #257 closed

[2020-11-08 20:03] lanking520 commented on #257
@hs2222 please try out the fix

[2020-11-11 20:18] jesse-schallenberger commented on #268
To summarize, it seems the synset is required for inference and a 1:1 mapping of the labels is needed for proper functionality. It seems to make the most sense to leverage proper labels, but ultimately the values themselves don't matter? I have found the case of an empty synset, and also no synset to cause errors trying to run inference.

[2020-11-12 18:48] macster110 opened #312 "Loading ExtraFilesMap in Java?"
## Question

When saving a trained model using Pytorch, extra information can be added in Python or C++ using an ExtraFilesMap object. In Python this extra metadata can be extracted from a saved model e.g. via

[code]

Using djl, a trained model can be loaded in Java, however, however, there does not appear to be any method to extract the ExtraFileMap information? I've spent some time trying to fi

[2020-11-12 19:19] lanking520 commented on #312
@macster110 DJL are currently using this C++ API to load extra files: https://pytorch.org/cppdocs/api/function_namespacetorch_1_1jit_1a3382df04456abc67b49bd1b6b3aacdb2.html#exhale-function-namespacetorch-1-1jit-1a3382df04456abc67b49bd1b6b3aacdb2

We already implemented the JNI for it. However, we didn't expose loading extra_files functionalities since we find if hard to find a model with extramaps

[2020-11-12 19:23] lanking520 commented on #312
After some looking: https://pytorch.org/cppdocs/api/typedef_namespacetorch_1_1jit_1a1a5415ba7fa76a3e8f1ff20b7285e317.html. This seemed just to be a `Map<String, String>`.  We can offer this additional input from the model loading sections

[2020-11-12 20:07] frankfliu commented on #312
DJL's model API already support metadata: https://github.com/awslabs/djl/blob/master/api/src/main/java/ai/djl/Model.java#L178

We should be able to put those information in model's property.

[2020-11-13 01:27] lanking520 commented on #312
⬆️ After the fix. You should be able to do the followings:

[code]
or load the model manually by passing the Map of options.

[2020-11-13 12:35] macster110 commented on #312
@lanking520 , Thanks very much for this. I have model file [here](https://drive.google.com/file/d/1NqxZcv7LY0lEiDYjehlxhM8oVXFh_i9Q/view?usp=sharing) which works fine with djl and has an extra files map saved.
The python code that loads the extra information is below - perhaps that will be useful for testing.

So do you envisage this feature being available in the next release?

Thanks again.

[co

[2020-11-13 14:25] kimim opened #317 "MXNet engine call failed: MXNetError: Type inconsistent, Provided = int32, inferred type = int64"
## Description

If the parse labels with datatype other than int32 to TopKAccuracy.updateAccumulator,  there will be an exeption:

[code]

### Expected Behavior
int64 and int32 should be accepted

### Error Message

[code]

## How to Reproduce?
invoke TopKAccuracy.updateAccumulator with label in datatype int64

## What have you tried to solve it?

1. modify this line: https://github.com/awslabs/dj

[2020-11-13 16:59] lanking520 commented on #312
@macster110 Hi, I just saw your use case, are you trying to pull data out of the pt file instead of loading extra?

[2020-11-13 20:22] lanking520 commented on #312
Ok, I optimized our import procedure. You will be able to fetch these information through:

[code]

I tested with the model you have provided and it is working now. You can get the SNAPSHOT version and use it today. We have nightly snapshot published to maven everyday.

[2020-11-15 19:55] macster110 commented on #312
Awesome, thanks very much for this. I will test and get back to you.

[2020-11-16 11:10] macster110 opened #332 "MacOS error: dyld: lazy symbol binding failed: ai.djl.pytorch 1.7.0"
_## Question
Really enjoying using this library for deep learning  but I have come across an error I cannot seem to solve. I am trying to load a model and get the following errors when I call predictor.predict

[code]
I originally thought this might be an error in my g++ toolchain, however, if I downgrade the version to of a.djl.pytorch in Maven, to 1.6.0 the error no longer occurs.

[code]

I'm a

[2020-11-16 12:25] Jzow commented on #332
Hi, friend，from the exception, it seems to be a version dependency problem，Please wait patiently for the official djl team to ask you to answer this question，You can look at this url [bump up pytorch version](https://github.com/awslabs/djl/pull/310)

[2020-11-16 16:34] frankfliu commented on #332
@macster110 Most likely is version mismatch.
pytorch-native:1.7.0 need to work with pytorch-engine:0.9.0-SNAPSHOT version. And be sure clean the cache:
1. rm -rf ~/.djl.ai/pytorch
2. ./gradlew clean

[2020-11-16 16:56] xwaeaewcrhomesysplug opened #333 "The equivalent mapping of various pytorch python parts in DJL"
By mapping I mean classes.
For example,torch.nn.Module,...Conv1d

What is the equivalent of it in djl.

Are there any direct mapping to it.
Say we have a python script that uses the pytorch lib,by importing it.

A one by one mapping does not seems to make sense since DJL supports many backend.
How does it work,the djl java backend is c pytorch which can be refer to cpp frontend or c library api.

[2020-11-16 18:07] lanking520 commented on #333
DJL does have https://github.com/awslabs/djl/blob/master/model-zoo/src/main/java/ai/djl/basicmodelzoo/cv/classification/ResNetV1.java#L52 like PyTorch implementation. if you already have PyTorch pretrained model, you can convert it to TorchScript and load in DJL for inference. http://docs.djl.ai/docs/pytorch/how_to_convert_your_model_to_torchscript.html.

[2020-11-16 18:57] frankfliu commented on #268
For a classification use case,  it's required you provide a 1:1 mapping between index to the label. otherwise your output processing will hit ArrayIndexOutOfBoundException.
If you use DJL's default synset loader, you cannot leave the value empty. DJL will remove empty lines in the synset.txt file by default. You can manually load synset.txt file and use `BaseImageTranslator.Builder.optSynset(List<

[2020-11-16 20:12] macster110 commented on #312
Great, thanks v ery much @lanking520 . This now works. For future reference here is the code to manually load in a PyTorch model we trained with extra_files added.

[code]

Also, in the current snapshot there is a bug in  PtModel line 76. If you use model.load(modelDir, modelName) then a null exception occurs. I think line PtModel line 76 should be   if (option!=null && options.containsKey("extraF

[2020-11-16 20:13] macster110 commented on #332
Thanks @Jzow and @frankfliu. You are right, updating my Maven pom.xml to 0.9.0-SNAPSHOT for all djl.ai dependecies did the trick. Thanks for the help!

[2020-11-16 20:14] #332 closed

[2020-11-16 20:25] lanking520 commented on #312
@macster110, please feel free to raise a PR to fix it :)

[2020-11-17 03:44] zachgk commented on #333
There is mostly a 1:1 mapping between the concepts in pytorch and DJL. We use `Block` instead of pytorch's `Module`. The operations like convolutions can be found within the `ai.djl.nn` packages such as the convolutions in [ai.djl.nn.convolutional](https://javadoc.io/static/ai.djl/api/0.8.0/index.html?ai/djl/nn/convolutional/package-summary.html).

[2020-11-17 05:47] SidneyLann opened #337 "To train in TF engine"
## Description
TF engine can only be used for inference, when can be used for trainning?

### Will this change the current api? How?
Yes. Wrap TF java api 2.x.

### Who will benefit from this enhancement?
Many people.

## References
- list reference and related literature
- list known implementations
https://github.com/tensorflow/java
https://gitter.im/tensorflow/sig-jvm

[2020-11-17 05:52] xwaeaewcrhomesysplug commented on #333
Thanks,sorry did not check the convolution package.
With that it seems that we have two choice.
implement it from scratch with djl or train the model in python then use djl runtime.

zachgk,thank you for your clarifications.I shall note this down and make sure search it throughly next time.

However,it seems like using the trained model or TorchScript model does not gives access to the djl wide ba

[2020-11-17 06:12] xwaeaewcrhomesysplug opened #338 "Manual porting of QPPWG(Quasi Periodic Parrallel Wave-Gan)"
## Description
(A clear and concise description of what the feature is.)
A api that can let user uses QPPWG not in a very user friendly sense.
This is just the start.I also do not have enough experience in this repo.

### Will this change the current api? How?
Proably no,just adding stuff in or can even seperate packaging.
The original api is also well built for extending should h=not have huge pr

[2020-11-17 09:37] IrisDinge opened #339 "parameter file not found but it exisits"
## Question
Hi
first, nice work and a bad question following from java freshman;(
 when i want to do object detection task for pikachu using pikachu-ssd-0002.params after
running TrainPikachu.java, it appeared bug that i cannot fix.

i coded like this:

        Translator<Image, DetectedObjects> translator =
                SingleShotDetectionTranslator.builder()
                //.optRescaleSize(

[2020-11-17 16:15] frankfliu commented on #339
@IrisDinge
A model usually has multiple files (.params and synset.txt etc.). The .optModelUrls(url) expects a folder or archive file.
When you specify a model Url, by default, DJL use the folder(or archieve file) name as model name, and looking for `model_name-xxxx.params` file in the folder. If you folder name are different from the model name, you can add `.optModelName()` to set the model name.

[2020-11-17 18:23] lanking520 commented on #317
I think we can add an option to allow int64 input. But that should apply to both label and pred

[2020-11-17 18:27] lanking520 commented on #337
Currently DJL does not offer training feature on TensorFlow. But we will have this done when it is necessary. You are more than welcome to contribute to the TF training feature and we will be happy to help you on the way :)

[2020-11-17 22:39] zachgk commented on #333
Right. If you use an imported TorchScript model, we use the PyTorch engine to load it into a special Block (`PtSymbolBlock`) and it can only be run run the PyTorch engine. If you were to create a model using DJL itself, it could be run using any DJL engine (note that some engines don't implement the full DJL specification and may not support all operations).

If you want to move models between bac

[2020-11-17 22:54] zachgk commented on #338
Hi @xwaeaewcrhomesysplug
Do you have any interest in trying to port the model yourself? If you are looking to get some experience in the repo, take a look at our 10 minute [beginner tutorial](http://docs.djl.ai/jupyter/tutorial/index.html) or the [dive into deep learning DJL book](https://d2l.djl.ai/).

Porting is fairly straightforward because most of the concepts align 1:1. It is usually just a

[2020-11-18 02:25] IrisDinge commented on #339
@frankfliu
Thk for ur kind reply;)

could u pls offer a template to demostrate how was a setblock like in Inference task?

`Exception in thread "main" java.io.FileNotFoundException: Symbol file not found: C:\Users\TM_DJ\djl\examples\build\model\pikachu-s
sd-symbol.json, please set block manually for imperative model.
`

[2020-11-18 05:28] frankfliu commented on #339
You can refer to Pikachu example: https://github.com/awslabs/djl/blob/master/examples/src/main/java/ai/djl/examples/training/TrainPikachu.java#L101-L108

In the example, the trained block is slightly different from the block used for inference. If you want to use the same Block for inference you need override the default translator:

[code]

[2020-11-18 07:12] IrisDinge commented on #339
@frankfliu

get√, thks again;)

[2020-11-18 09:32] XiaoQiao6Shui opened #345 "Change Pikachu dataset to custom dataset and got some error 将皮卡丘训练的案例中的数据集改成本机数据集报错问题"
## Question
`package com.djl.examples.inference;

import java.io.IOException;
import java.nio.file.Paths;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.List;

import org.apache.commons.cli.ParseException;

import com.djl.examples.training.util.Arguments;

import ai.djl.Device;
import ai.djl.Model;
import ai.djl.basicdataset.ImageFolder;
import ai.djl.basicdataset.ImageFolde

[2020-11-18 09:42] XiaoQiao6Shui commented on #345
希望您能提供一个能在本机某个路径下的训练图像识别的案例

[2020-11-18 09:53] xwaeaewcrhomesysplug commented on #338
Well if there are more experienced developer that can do the porting then I will not do it.
Simply because I will probably take more time to do it and also hinder the experienced one.
So I will do it as a last resort.But,forgive me if I had some stupid questions.hahaha.
Thanks,I will look into the material you give and try porting it after I setup my env.

[2020-11-18 17:09] frankfliu commented on #345
@XiaoQiao6Shui See: https://github.com/aws-samples/djl-demo/tree/master/footwear_classification

[2020-11-18 17:25] frankfliu commented on #333
Feel free to re-open this issue if you have further questions.

[2020-11-18 17:25] #333 closed

[2020-11-19 02:04] #339 closed

[2020-11-19 03:01] XiaoQiao6Shui commented on #345
Can this run on arm platform ？Only predict @frankfliu

[2020-11-19 03:23] frankfliu commented on #345
We only support android for now. There is an issue already: https://github.com/awslabs/djl/issues/195
We are currently:
1. looking into ARM build pipeline to enable arm base CI, so we can have ARM support.
2. we are also working on TVM support, that will have arm based support

[2020-11-19 06:01] jinlong-hao opened #353 "symbol lookup error with pytorch-native-cpu:1.7.0:linux-x86_64"
## Description

I got the symbol lookup error when load an torchscript model to call a image classification inference.

But when I downgrade pytorch-native-cpu(linux-x86_6) from 1.7.0 to 1.6.0, the error disappeared and all runs all right.

### Expected Behavior

The model can successfully finish the inference.

### Error Message

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SL

[2020-11-19 06:09] jinlong-hao commented on #353
My pom:

[code]

My Code：

[code]

[2020-11-19 06:09] frankfliu commented on #353
@jinlong-hao pytorch 1.7.0 requires DJL 0.9.0, you can try to use DJL 0.9.0-SNAPSHOT version.

[2020-11-19 11:06] XiaoQiao6Shui commented on #345
@frankfliu I'll follow the example you gave me and replace the dataset with the local face dataset. After running, take any photo to test the accuracy rate is 1. There are 8000 face pictures trained. What is the reason for this?

[2020-11-19 14:30] Jzow opened #356 "findLibraryInPath.java，should not return null to me"
## Description
I'm trying to load the local mxnet1.7 engine, but I can't find the engine. I think he should prompt me that findlibraryinpath is loaded incorrectly

### Expected Behavior
Can successfully load the local mxnet engine for model reasoning

### Error Message
`22:23:27.372 [线程A 推理] DEBUG ai.djl.repository.zoo.DefaultModelZoo - Scanning models in repo: class ai.djl.repository.SimpleReposi

[2020-11-19 14:34] Jzow commented on #356
[error image 1](https://gitee.com/jameszow/image/blob/master/djl/1.png)

[2020-11-19 14:35] Jzow commented on #356
[error image 2](data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABEcAAAIGCAYAAAC28uF9AAAAAXNSR0IArs4c%0A6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAIOCSURB%0AVHhe7d1frxxHmt/5fQnuvbFhY6YxRi88ncOWREnTLWmmKS3d9DSpASSNunnG%0APcS0TEIXI0g0xjCXuqHbZwz3AKZh7A3ptewLEwYMag3CF/JSgPeauukG/F4M%0ArO/GuSci66kT9dQTEU/WnziZVd+LDw5PZlRmRGRWnXx+lVX8Xy6/9rv9HP30%0Apz/tf+d3fmdWfvCDH5jLcz79O9/p/+dv/rW+BwAAAA7St/p

[2020-11-19 17:07] frankfliu commented on #356
@Jzow I'm not able to access your error images

In order to override MXNet DLL path, you need to set MXNET_LIBRARY_PATH environment variable:
[code]
And make sure you have file: D:/engine/mxnet/mxnet.dll
if findLibraryInPath("D:/engine/mxnet") still returns null, then I think you may need debug it line by line. You might have file system permission issue.

[2020-11-20 00:12] jinlong-hao commented on #353
@frankfliu got it, thanks a lot!

[2020-11-20 00:19] jinlong-hao commented on #353
In the document of pytorch-engin(https://github.com/awslabs/djl/tree/master/pytorch/pytorch-engine),  pytorch 1.7.0 should work with djl 0.8.0, and do not requires djl 0.9.0
@frankfliu

[2020-11-20 01:27] Jzow commented on #356
@frankfliu  Hi，Frank，I want to read my local mxnet engine through djl. I have added environment variables to the system, but the inference is still fetched from my cache. Do you have any examples caused by loading locally? Thank you

[2020-11-20 08:05] #356 closed

[2020-11-20 09:46] kimim commented on #317
PR #364 try to fix this issue.

[2020-11-20 11:25] xwaeaewcrhomesysplug commented on #338
Starting to port.
Question one.
Conv1d(residual_channels,gate_channels,.....),
Assume,channels refers to depth channels.But,djl Conv1d does not seem to have an equivalent.Anyone have some insights?

[2020-11-20 17:26] frankfliu commented on #353
@jinlong-hao you are right, we updated the document too soon.

[2020-11-20 17:33] frankfliu commented on #317
Fixed by #364

[2020-11-20 17:33] #317 closed

[2020-11-20 20:53] zachgk commented on #338
Use `setFilters` to set the number of output channels. The number of input channels is inferred during the first usage.

[2020-11-20 21:07] frankfliu commented on #353
@jinlong-hao I have reverted the document

[2020-11-20 21:07] #353 closed

[2020-11-20 21:24] lanking520 commented on #271
Close this issue due to inactivity. Please feel free to reopen if you still have issues with that.

[2020-11-20 21:24] #271 closed

[2020-11-21 02:41] xwaeaewcrhomesysplug commented on #338
Thanks for reply,nice did not knew it would auto deduce input channel size.
Will implement accordingly.Of course will also add documentation for future users.

[2020-11-21 04:41] jinlong-hao opened #371 "EngineException with pytorch-native-cpu:osx-x86_64"
## Description

When I run my inference in osx, I got the EngineException. It seems that the inference call the torch python code in my virtualenvs.

The Code runs all right in linux if i change the classifier of  pytorch-native-cpu from osx-x86_64 to linux-x86_64.

My Java code is:

[code]

I got the exception while loadModel(criteria)

my pom:

[code]

### Expected Behavior

The same code can su

[2020-11-21 04:42] jinlong-hao commented on #371
[synset.txt](https://github.com/awslabs/djl/files/5577014/synset.txt)
[model.pt.zip](https://github.com/awslabs/djl/files/5577015/model.pt.zip)

[2020-11-21 08:13] frankfliu commented on #371
This looks like a jit issue. Looks you you traced model using pytorch 1.7.0

I got the same error using pytorch 1.6.0, but it works fine with DJL 0.9.0-SNAPSHOT with PyTorch 1.7.0

[2020-11-21 08:53] jinlong-hao commented on #371
@frankfliu  then where can I get the djl 0.9.0-snapshot?  I search model-zoo and  pytorch-engine in maven.org and only find 0.8.0!

[2020-11-21 09:48] Jzow opened #373 "ai.djl:api:0.8.0 the lower version of JNA caused mxnet error report to not find the engine"
## Description
A known problem is reported. When djl version 0.8.0 is used, if the mxnet of the local environment or the cached mxnet is loaded correctly, if the JNA version is too low, the mxnet engine cannot be loaded, and an error prompts that the mxnet engine does not exist.

### Will this change the current api? How?
**I personally feel that JNA in djl 0.8.0 should be upgraded from 4.5.2 to 5

[2020-11-21 09:53] Jzow commented on #373
If I don't upgrade, I need to import Maven JNA-5.3.0.jar myself ，I think this is a bad experience. It is reasonable to say that the API package should load the supported JNA instead of the wrong low version of JNA

[2020-11-21 10:04] Jzow commented on #371
@jinlong-hao The latest djl version is 0.8.0, and the new version 0.9.0 has not been released

[2020-11-21 11:15] xwaeaewcrhomesysplug commented on #338
The function signature in .../DJL080/api/javadoc/ai/djl/nn/convolutional/Convolution.html#forward-ai.djl.training.ParameterStore-ai.djl.ndarray.NDList-boolean-ai.djl.util.PairList-
is not supposed to change right?
However the parameterStore is porbably not needed.The ai.djl.util.PairList<java.lang.String,java.lang.Object> is also not needed.
But I think there's probably some automation made based

[2020-11-21 13:21] xwaeaewcrhomesysplug commented on #338
how to create conv1d1x1.depth wise convolution?
new ai.djl.ndarray.types.Shape(1l,1l),it does not seems to specific which is the entry is width,height,depth.

[2020-11-21 14:57] xwaeaewcrhomesysplug commented on #338
ai.djl.nn.convolutional.Conv1 to NDarray.
Since we have the abstraction useful classes.like ai.djl.nn.convolutional.Conv1d
However the classes have static function that takes,ndarray.not the created conv1d object.
Anyone had idea how to solve this problem?Or any experience like this?

[2020-11-22 20:37] frankfliu commented on #373
ai.djl:api:0.8.0 dependens on jna-5.3.0, see: https://search.maven.org/artifact/ai.djl/api/0.8.0/jar

Lookes like you configuration somehow included a different version of JNA.

[2020-11-23 00:15] Jzow commented on #373
@frankfliu  I have seen the API jar of 0.8.0, which may be related to my configuration. Thank you for your timely reply

[2020-11-23 00:15] #373 closed

[2020-11-23 07:59] IrisDinge opened #374 "Custom dataset for object detection"
## Question
Hi, questions coming again!

case: i want to train my custom dataset which contains only one class and every image contains only one target. That's much similar with PikachuObjectDetection.

what i have done: i finished inference part of ObjectDetectionPikachu using pre-trained model which producted by running TrainPikachu. That works perfectly;)

Q1: after checking doc, i would like t

[2020-11-23 18:10] lanking520 commented on #371
@jinlong-hao we have nightly snapshot available here:

Gradle:
[code]

We release our master branch build every night to this repo. You can start using the combination of `0.9.0-SNAPSHOT` with PyTorch 1.7.0

[2020-11-23 18:30] #312 closed

[2020-11-23 18:32] lanking520 commented on #125
@hackedbyxx Any updates, do you still have this issue? @tspannhw as well

[2020-11-23 18:48] stu1130 opened #375 "DJL Arm Support"
### Minimal Background
There are a bunch of instruction sets in the world. Two of the widely adopted are x86(32 bits)/x86_64(64 bits) from Intel and ARM. Seldom people are still using x86(32 bit) system so DJL only supports x86_64. ARM based CPU which dominates the edge device world also have a family. We will only discuss two well-known ISA in the rest of the doc. Armv7 is *32* bit only and still

[2020-11-23 20:29] stu1130 commented on #375
native mxnet have arm build ready https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fedge/detail/PR-19564/4/pipeline/48/

[2020-11-25 02:05] SidneyLann opened #379 "Why Gradle but not maven?"
Maven is more common in backend java development.

[2020-11-25 02:09] SidneyLann commented on #379
Deeplearing4j, Java-TF and more java DL frameworks are using maven.

[2020-11-27 04:55] frankfliu commented on #379
See: https://gradle.org/maven-vs-gradle/

1. From dependency management point of view, gradle can do whatever maven can do
2. Gradle build script is essentially Groovy code, it's more flexible, you can write plugin on the fly
3. Gradle can invoke maven or ant tasks if needed

[2020-11-27 04:58] gatordevin opened #383 "Possible NDArray Splicing Bug"
Hey all. I may have encountered an issue with NDIndex splicing of NDArrays when using splice increments.

Exception in thread "main" ai.djl.engine.EngineException: MXNet engine call failed: MXNetError: Check failed: src.Size() == dst->Size() (3 vs. 2) : Cannot reshape array of size 3 into shape [1,2]

[code]
Code to reproduce the error is shown above. If one of the lines is changed to the followin

[2020-11-27 11:35] SidneyLann commented on #379
Maven is more common in backend java development.

[2020-11-27 13:51] docrozza opened #384 "Is the output shape calculation correct for 2d convolutions?"
I was recently looking at the code for Conv2d convolutions to check the output shapes for a model I'm building

https://github.com/awslabs/djl/blob/97fce77e51e61e649906d37a1722f2c9e0678c08/api/src/main/java/ai/djl/nn/convolutional/Conv2d.java#L41-L49

However, in the code this calculation isn't quite correct according to the documentation

https://github.com/awslabs/djl/blob/97fce77e51e61e649906d3

[2020-11-27 18:46] frankfliu commented on #379
Gradle almost can do whatever maven can and maven is old school.

The major reason we choose gradle is:
1. We have many custom build rule and dynamic plugin, it's very hard to achieve by maven, unless we create our own maven plugin and publish them.
2. Gradle has excellent incremental build support which reduce build time. This is huge gain for daily development.

[2020-11-27 18:58] frankfliu commented on #374
@IrisDinge
ObjectDetection dataset need two types of data:
- Image file
- bounding box metadata for each image

You can implement your own dataset by use either of ImageFolder or CsvDataset as base class.
If you use ImageFolder as base class, you can inherit Image processing part, but you have to override label with bounding information.
If you use CsvDataset as base class, it makes mapping image

[2020-11-27 23:23] #379 closed

[2020-12-01 12:42] efrancis59 opened #392 "Freeze a block for training"
## Question
Is there a way to freeze a block for transfer learning ? something similar to Keras **trainable = False** ?

[2020-12-01 22:08] lanking520 commented on #383
Can you provide the corresponding numpy behavior if you would like to do something similar? @zachgk

[2020-12-03 17:38] lanking520 commented on #392
Currently, DJL is hard to achieve that, but it is possible to use a Predictor from the block in your application. You can checkout my use case from the Amazon Review https://github.com/awslabs/djl/blob/master/jupyter/rank_classification_using_BERT_on_Amazon_Review.ipynb . The wordEmbedding is a BERT layer not used for training.

[2020-12-03 18:04] stu1130 commented on #383
I can't find similar numpy function that do the same thing. The closest one is
[code]
The error is from https://github.com/awslabs/djl/blob/ea501c9bdce9695c973beb32439bb90f135730ed/mxnet/mxnet-engine/src/main/java/ai/djl/mxnet/engine/MxNDArrayIndexer.java#L75. @zachgk Could you take a look at set method?

[2020-12-03 18:16] stu1130 commented on #384
Yes you are right. Stride & Dilation should also change along with i variant. Would you like to submit a PR to fix it.
You can check reference calculation [here](https://pytorch.org/docs/stable/generated/torch.nn.Conv2d.html).

[2020-12-04 09:08] docrozza commented on #384
sure - just checking out the contributing guidelines now

[2020-12-04 12:26] #392 closed

[2020-12-04 12:26] efrancis59 commented on #392
Thanks

[2020-12-07 01:07] #374 closed

[2020-12-07 15:03] csxiang18 opened #408 "How to load pytorch model file directly?"
## Question

I've already export a pytorch model into a pt file. For example: `model/my_model.pt`, this directory is under the resources directory.

When I want to load this model, I use this way:

    String modelPath = "model";
    URI modelUri = classLoader.getResource(modelPath).toURI();
    Path modelDir = Paths.get(modelUri);
    Model ptModel = Model.newInstance("my_model", Device.cpu());

[2020-12-07 16:43] lanking520 commented on #408
Starting from 0.9.0, you can load from modelDir from ModelZoo:

https://github.com/awslabs/djl/blob/master/api/src/main/java/ai/djl/repository/zoo/Criteria.java#L343

You can refer to our doc here: http://docs.djl.ai/docs/load_model.html. There are many ways to load: like http, hdfs, s3 or simply local file paths are all supported.

If you are looking for loading the model directly, you can do the

[2020-12-07 16:58] frankfliu commented on #408
@csxiang18 If you put model in resource file, most likely you will pack the model in a jar file when deploy it.

I this case, you have to use jar:// url to load the model: http://docs.djl.ai/docs/load_model.html#load-model-from-a-url

[2020-12-08 04:47] csxiang18 commented on #408
Thanks for answering this question, as it's my first time to try DJL, so may some API I do not use very correctly. In fact I want to pack the model in the jar file as a lib to deploy so that others could use this. Maybe I could state the problem more clearly. So here are some questions:
@frankfliu my model is a self-defined model, for-example, a 3 layer dnn, no existing model in ModelZoo. I follow

[2020-12-08 10:54] docrozza commented on #384
The code for the Deconvolution also appears to be missing the dilation component too and not handling the kernel size correctly

See [here](https://pytorch.org/docs/stable/generated/torch.nn.ConvTranspose2d.html#torch.nn.ConvTranspose2d) for the Conv2dTranspose, i.e

outHeight = (inHeight − 1) × stride[0] − 2 × padding[0] + dilation[0] × (kernel_size[0] − 1) + output_padding[0] + 1
outWidth  = (in

[2020-12-08 17:05] stu1130 commented on #384
@docrozza You can fix it all in one PR

[2020-12-08 17:34] frankfliu commented on #408
@csxiang18
The PyTorch engine can only load model from file system. So the `loadModel()` can only take `Path`

If you package your classes in a jar file, the URL returned from `classLoader.getResource` is a special URL that only supported by JVM something like: "jar://your.jar!/model". `Path modelDir = Paths.get(modelUri);` won't give you a correct file system path, so load model will fail since P

[2020-12-10 08:09] ares89 commented on #194
how did you solve the problem? Can you please share? @evgrafov-midas @stu1130

[2020-12-10 17:09] frankfliu commented on #194
The support of mkldnn in PyTorch is limited. PyTorch mkldnn doesn't support create tensors of longs natively.
The original claim of 2x slower was not an apple to apple compare, and was not due to mkldnn.

Currently DJL only support a global setting to use mkldnn or not. If you have a use case requires use partially mdldnn, can discuss and see if what's the option to improve in DJL.

[2020-12-10 18:20] lanking520 opened #416 "DJL PyTorch has a spike in latency during the long run"
## Question

IHAC asking for DJL issue with PyTorch inference run. His model is a general PyTorch CV model and loading in k8s with RPC calls. The general latency is around 30ms, however, around 8/1000 cases he saw the latency get up to hundred to thoudsands of ms. There is no anomaly in the system or GC behavior. There is also no reboot on the server side. He already elminate the cold-start run ti

[2020-12-10 19:31] #384 closed

[2020-12-10 23:53] #408 closed

[2020-12-10 23:54] #268 closed

[2020-12-10 23:55] #260 closed

[2020-12-10 23:59] #176 closed

[2020-12-11 00:00] #167 closed

[2020-12-11 00:00] #152 closed

[2020-12-12 00:19] stu1130 commented on #416
I think we can only investigate the issue if we have reproducible script. Suspect those 8 cases are running when GC kicks in.

[2020-12-14 13:31] carlosuc3m commented on #126
Hello again,
I tried using DJL in another computer with CUDA 10.0. After installing VS2019 and its redistributables I was still unable to run DJL either using:
[code]
or
[code]
I always get the same error
`
ai.djl.engine.EngineException: No deep learning engine found. Please refer to https://github.com/awslabs/djl/blob/master/docs/development/troubleshooting.md for more details. at ai.djl.engine.E

[2020-12-14 13:57] carlosuc3m commented on #126
Using
[code]
Still produces the same error

[2020-12-14 21:40] carlosuc3m commented on #126
However if I uninstall CUDA 10.0 and delete **C:\Program Files\NVIDIA GPU Computing Toolkit** and **C:\Program Files\NVIDIA Corporation** it works well either with CUDA10.2 or without any CUDA and just the CPU

[2020-12-14 22:58] carlosuc3m commented on #126
I have also realised that removing all the enviroment variables related to CUDA from the PATH allow falling back to CPU. If any of those variables is present and there is an incompatible CUDA version, fallback does not happen in version 1.6.0.
The variables are:
 - C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common
 - C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.0\bin
 - C:\Program F

[2020-12-15 04:53] lanking520 commented on #225
PaddlePaddle now is almost there. https://github.com/awslabs/djl/pull/430 .Please check this out and play around with the mask classification examples

[2020-12-15 04:55] #225 closed

[2020-12-17 09:29] hmf opened #440 "Documentation error"
## Description
The code example found [here](https://docs.djl.ai/model-zoo/index.html#how-to-find-a-pre-trained-model-in-the-model-zoo) is incorrect. The class `Classification.class`should be `Classifications.class`.

### Expected Behavior

Expected to copy the example, execute it and get a model loaded.

### Error Message
[code]

## How to Reproduce?
Run the code example as is.

### Steps to repr

[2020-12-17 14:34] mike-grayhat opened #441 "Support for custom pytorch ops"
## Is there a way to use torchscript model with custom ops?
I'm trying to run pytorch geometric model with DJL and have a problem with custom ops from pytorch scatter library. The error is

[code]

Will it be enough to just compile and install the required library or its a more complex case with JNI involved ?

Thanks in advance

[2020-12-18 00:59] adriens opened #444 "Thank you for having developed DJL and feedback/gift"
Hi,

just a ticket to thank you for having developped this project. Thanks to it we could manage to implement a full ML service at the Office.

I've written a complete article on this topic, feel free to take a look at it:

https://www.linkedin.com/posts/adrien-sales_tensorflow-springboot-apis-activity-6745433991475789824-e_vW

Kind regards
Adrien

[2020-12-18 02:06] stu1130 commented on #441
I checked it out. You can try to build JNI from source and link jni with torch sparse package.
The CMakeFile is [here](https://github.com/awslabs/djl/blob/master/pytorch/pytorch-native/CMakeLists.txt).
[code]
then run `./gradlew :pytorch:pytorch-native compileJNI`

[2020-12-18 05:07] lanking520 commented on #441
@stu1130 Maybe it's time to think of how we can dynamically load customOps instead of rebuild the JNI package. I think it should be doable through calling the registration along with the library itself?

[2020-12-18 14:20] mike-grayhat commented on #441
I tried it and by some reason libdjl_torch fails to include this library, but I managed to get it working just by calling

`System.load("libtorchsparse.so")`

[2020-12-18 23:32] #444 closed

[2020-12-22 09:31] codingliuyg opened #461 "sentence encode question"
## Question
hello,
I want to encode sentence like the fig.1.but i got the error as  the fig.2 shows ,any advices? thank you in advance.

fig.1
![image](https://user-images.githubusercontent.com/44610688/102872924-628ce880-447b-11eb-9afd-da337bd2c494.png)

fig.2
![image](https://user-images.githubusercontent.com/44610688/102872978-73d5f500-447b-11eb-8c2b-accee7471c59.png)

[2020-12-22 09:49] #461 closed

[2020-12-22 16:08] lanking520 commented on #440
@hmf Please feel free to raise a PR to fix it

[2020-12-22 16:09] lanking520 commented on #441
Good to know. This should work as long as you have it registered

[2020-12-28 23:21] tooptoop4 opened #472 "dog/bicycle/car example error"
## Question

I am getting this error:
[code]

code:
[code]

logs printed before the stack trace:
[code]

[2020-12-29 00:25] frankfliu commented on #472
@tooptoop4 based on the log, the object detection model get loaded is pikachu-ssd. It can only detect pikach in the image.

All the models in `ai.djl:model-zoo` package is only used for demo purpose. For general purpose object detection, you'd better use models from mxnet model zoo (`ai.djl-mxnet:mxnet-model-zoo`) or pytorch model zoo.

And you can specify with model you'd like to use:

[code]

Th

[2020-12-29 00:27] stu1130 commented on #440
the doc has been fixed

[2020-12-29 00:27] #440 closed

[2020-12-29 01:36] IrisDinge opened #474 "when default_engine=TensorFlow, Could not create cudnn handle : CUDNN_STATUS_ALLOC_FAILED"
## Description
when run

..\gradlew run -Dmain=ai.djl.example.inference.ObjectDetectionWithTensorFlowSavedModel -Dai.djl.default_engine=TensorFlow

### Expected Behavior
should do inference like default_engine=PyTorch or mxnet

### Error Message
2020-12-28 17:47:18.897853: E external/org_tensorflow/tensorflow/stream_executor/cuda/cuda_dnn.cc:328] Could not create cudnn handle: CUDNN_STATUS_ALLOC_F

[2020-12-29 03:34] frankfliu commented on #472
@tooptoop4 I'm able to reproduce your issue. This is a bug in Pikachu model loader. During refactoring the SingleShotDetectionTraslator, Pikachu ssd's translator output processing code is lost. I will create a PR to fix this issue.

But for the mean time, you can use yolo or other ssd model (.e.g resnet50, mobilenet_v2, vgg16 etc)

[2020-12-29 08:12] tooptoop4 commented on #472
@frankfliu

Thanks, after that change I now get some results but it is showing cat instead of dog, how to fix?
[code]

logs are:
[code]

also instead of 3 artefacts being downloaded at runtime, how can I get them downloaded/referenced before runtime?

[2020-12-29 18:06] stu1130 commented on #371
Hi @jinlong-hao you can try out djl 0.9.0 with pytorch 1.7 now! feel free to reopen the issue if you still have questions

[2020-12-29 18:06] #371 closed

[2020-12-29 21:38] frankfliu commented on #472
@tooptoop4
I think this is model issue. For this particular case, yolo model seems not able to distinguish between cat and dog.
if you set threshold to 0.2, you can see yolo model detected the dog:

[code]

Looks like "resnet50" did a better job on this image:
[code]

[2020-12-29 21:48] frankfliu commented on #472
@tooptoop4
The DJL model zoo model artifacts are stored in S3 and downloaded at runtime. It will be cached in your local file system:
`~/.djl.ai/cache/repo/model/` folder.

You can download them from our S3, or copy them from the cache folder and bundle the files with your distribution package.
DJL support load model from jar file, in your code you can do:

[code]

Most of DJL pre-trained object d

[2020-12-30 03:40] gwlgmz opened #478 "java.lang.NoSuchMethodError: ai.djl.repository.zoo.BaseModelLoader.<init>"
## Question

    public static void main(String[] args) throws MalformedModelException, ModelNotFoundException, IOException, TranslateException {

        String url = "https://pic3.zhimg.com/80/v2-79b66c1c903bbed8511e47289c9245c2_720w.jpg";
        BufferedImage img = getRemoteBufferedImage(url);

        Criteria<BufferedImage, DetectedObjects> criteria =
                Criteria.builder()

[2020-12-30 06:07] frankfliu commented on #478
@gwlgmz
Can you share you build script, gradle or maven pom file?

Which version of DJL are you using?

NoSuchMethodError usually caused by classpath issue. Your runtime classpath may contains duplicate jars, some of them are old version of DJL, a old version BaseModelLoader.class was loaded and it doesn't have new method.

[2020-12-30 19:19] frankfliu commented on #474
I tried on Windows 2019, I'm not able to reproduce your error.
[code]

Would you please run the following command:
[code]

It should print something like:
[code]

[2020-12-30 19:33] frankfliu commented on #474
@IrisDinge
By the way, you can access all low level TF options: org.tensorflow.proto.framework.GPUOptions
See: https://www.javadoc.io/doc/org.tensorflow/proto/1.1.0-rc2/org/tensorflow/framework/GPUOptions.html

There are twos way to pass ConfigProto to the model:
1. directly use Model.load(Path modelPath, String prefix, Map<String, ?> options) API
[code]
2. use Criteria API
[code]

[2020-12-31 03:18] IrisDinge commented on #474
Thk for ur reply;)

Yes, i got the result as same as urs:

[DEBUG] - Using cache dir: C:\Users\TME-DJ\.djl.ai\tensorflow
TensorFlow:2.3.1, capabilities: [
        MKL,
        CUDA,
]
TensorFlow Library: C:\Users\TME-DJ\.djl.ai\tensorflow\2.3.1-cu101-win-x86_64\jnitensorflow.dll

[2020-12-31 03:33] IrisDinge commented on #474
@frankfliu

plus, i found something interesting:

Once the server get restart(no one is on it except me, gpu's memory is empty), the example with tensorflow engine can do inference and get the results. However, if someone else begin to use GPU, it'll appear bug aboved, the memory is enough though.

Anyway, i'll try check ur suggestion out. Many thks!!!

[2020-12-31 09:17] jinlong-hao opened #480 "How to deploy RNN model from pytorch"
## Question
I'm a beginner of pytorch, and I trainned my first NLP-RNN model with the tutorial of pytorch（https://pytorch.org/tutorials/intermediate/char_rnn_classification_tutorial）

[code]

When I load data from in djl, and I got the error:
the model expect input and hidden parameter.

Then I change the model as below:
[code]

[code]

When I call predictor to predict the model, I got the Excepti

[2020-12-31 15:30] lanking520 commented on #480
It looks like your input data type is not correct. Try with
NDManager.ones(new Shape(10,1,57), DataType.Float32);

[2020-12-31 15:32] lanking520 commented on #480
Also NoopTranslator should have no batchifier by default right @frankfliu

[2020-12-31 18:51] frankfliu commented on #480
NoopTranslator has no batchifier since 0.9.0, it was using stack batchifier before 0.8.0

[2020-12-31 21:59] lanking520 commented on #480
So if @jinlong-hao you are using 0.8.0, the input will probably have 4 dimensions even if you try to feed 3-dim inputs

[2021-01-02 14:22] jinlong-hao commented on #480
@lanking520 @frankfliu It works all right when I upgrade djl to 0.9.0, but I can not input the data with dynamic length. As the example above,  the size of the ndarray must be [10, 1, 57] as the sample data in torch script.

is there any way that I can input the ndarray with the others size, such as [9, 1, 57]?

[2021-01-02 17:01] lanking520 commented on #480
This issue seemed introduced by the model itself. Usually TorchScript does not set the limitation of the batch size. You can try with PyTorch Python first to see if you can provide dynamic lengths. DJL does not set limitation on that.

[2021-01-02 17:55] jesuino opened #482 ""Create our first networt" incomplete code snippet"
In this tutorial there's an incomplete code snippet at the end of the tutorial, there's a lost "block" line, which I don't know what to do, should I just delete and ignore it?

https://github.com/awslabs/djl/blob/master/jupyter/tutorial/01_create_your_first_network.ipynb

This is also weird in the website:

https://docs.djl.ai/jupyter/tutorial/01_create_your_first_network.html

Thanks!

[2021-01-02 18:58] keerthanvasist commented on #482
That line is only required in the notebook to show the output. You can remove it.

[2021-01-02 18:59] keerthanvasist commented on #482
Closing the issue. Please reopen ticket if you have encounter any issue.

[2021-01-02 18:59] #482 closed

[2021-01-02 22:24] barkeldiho opened #483 "Pytorch model training does not create .pt file upon model.save()"
## Description
Currently I am developing a forecasting model with the PyTorch engine and DJL. As dependency I utilize:
[code]
So far everything is running smoothly, I can see the progress of the training progress etc. The related code fragment is:

[code]

Nontheless, upon saving the trained model:
[code]

I only find a **.params** file and no **.pt** file. Obviously it is rather problematic to lo

[2021-01-03 06:59] frankfliu commented on #483
If you trained your model in DJL, the model will be saved in DJL model format (.params file). The DJL model is portable, it can be loaded with by both MXNet or PyTorch engine.

Currently, we don't support export DJL model into Engine specific model. We won't be able to export to .pt format in current version.

[2021-01-03 07:04] frankfliu commented on #482
The line "block" is jupyter notebook specific shortcut for: System.out.println(block);

[2021-01-03 07:25] barkeldiho commented on #483
Thank u for your reply and the information.

Ok, so far so good :) But when I call model.load() it gives me the error „Cannot find .pt file...“. I would expect it to simply load a model from .params file, wouldnt I?

Anyhow, that means the expected procedure is: save() -> params file -> convert to pt file -> load()?

Thanks for your help!
Best

[2021-01-03 07:43] frankfliu commented on #483
You should be able to load your saved .params model back.
Since you trained your model with imperative blocks, the .params only works together with your Block.
What you need to do is set the Block when you load your model:

[code]

[2021-01-03 15:09] jesuino commented on #482
thanks @frankfliu and @keerthanvasist

[2021-01-03 20:44] barkeldiho commented on #483
Works. Thanks for the help.

[2021-01-03 20:44] #483 closed

[2021-01-04 03:22] jinlong-hao commented on #480
@lanking520 Yes, It's the problem of torchscript!
with the basic model "rnn", I can provide dynamic length. but when I load model from the torch script,  the input size must be [10, 1, 57]

[2021-01-04 03:22] #480 closed

[2021-01-04 09:00] Jzow opened #484 "ai.djl.repository.zoo.ModelNotFoundException"
## Description
The value of optModelUrls is “ftp://47.114.1.215”,Failed to load model

### Expected Behavior
Use FTP to load model successfully

### Error Message
[code]
## How to Reproduce?
**url：https://github.com/aws-samples/djl-demo/blob/master/pneumonia-detection/README.md**
[code]

## What have you tried to solve it?

1. Use FTP path to set the modelURL

## Environment Info

windows10 x64
en

[2021-01-04 11:16] jinlong-hao opened #485 "How to inferrence with more than 1 arguments"
## Question

I have trainned and export a model from the pytorch tutorial(https://pytorch.org/tutorials/beginner/text_sentiment_ngrams_tutorial.html), and the model definition is:

[code]

but there are 2 paremeter in forward method, but the Predictor.predict in djl  only have one parameter.
how can i pass both input and offsets to the predict method?

[2021-01-04 19:47] zachgk commented on #485
When you build the NDList input to the model, you can have it with two NDArrays: one for the text and one for the offsets. The Predictor exists to convert between the numeric NDArrays and convenient Java classes. So, you could create a simple POJO or record to pass both the text and offset into the predictor and then the predictor preprocessing would convert them into the two NDArrays for your mod

[2021-01-04 21:25] stu1130 commented on #78
As it is MXNet issue, will close the issue and update our MXNet artifact later

[2021-01-04 21:25] #78 closed

[2021-01-04 21:45] stu1130 commented on #117
close the issue as the issue is stale for half year. @AmrRahmy feel free to reopen it and  let us know how we can help you

[2021-01-04 21:45] #117 closed

[2021-01-04 21:52] stu1130 commented on #125
close the stale issue. @hackedbyxx feel free to reopen it

[2021-01-04 21:52] #125 closed

[2021-01-04 21:53] stu1130 commented on #139
@humzaiqbal I am going to close the stale issue. If you have any other question, feel free to reopen it

[2021-01-04 21:53] #139 closed

[2021-01-04 21:58] stu1130 commented on #142
@FatosTorba you can maybe try out our latest 0.9.0. feel free to reopen the issue if the error still exists

[2021-01-04 21:58] #142 closed

[2021-01-04 22:18] billweasley opened #486 "A more clear documentation to distinguish those optional .optX() and those compulsory .setX() for Criteria.Builder<I,O> and other builders"
## Description

From [JavaDoc of Criteria.Builder](https://javadoc.io/doc/ai.djl/api/latest/ai/djl/repository/zoo/Criteria.Builder.html) and [JavaDoc of ResNetV1.Builder](https://javadoc.io/static/ai.djl/model-zoo/0.3.0/ai/djl/basicmodelzoo/cv/classification/ResNetV1.Builder.html), one could guess that the naming of builders' methods in DJL world follow the following rules: .optX() methods are opt

[2021-01-05 00:39] jinlong-hao commented on #485
@zachgk If I create a pojo like below, How  can I implement the Translator?

[code]

[2021-01-05 01:08] stu1130 commented on #485
our input is a NDList which can takes multiple NDArray
[code]

[2021-01-05 01:08] zachgk commented on #485
It would be:

[code]

Usually, you want to create the text and offsets NDArrays inside of the processInput method though. Then, you can use the `ctx`'s `NDManager` which will automatically take care of the memory for you.

[2021-01-05 19:01] #484 closed

[2021-01-05 19:02] frankfliu commented on #474
@IrisDinge feel free to reopen this issue if you have further questions.

[2021-01-05 19:02] #474 closed

[2021-01-05 19:51] stu1130 commented on #150
Close the issue as the original issue is solved. @evgzakharov feel free to create another issue

[2021-01-05 19:51] #150 closed

[2021-01-07 11:34] ebamberg opened #493 "gradle-build java-formatter fails on unicode character (api->ProgressBar) when build run in non utf-8 system"
## Description
gradle build fails on Western-European Windows 10 System runnning gradle from the command line.
java-formatter in the api project finds "unclosed character literal" and throws an exception when formatting ai.djl.training.util.ProgressBar.

resaon: ai.djl.training.util.ProgressBar line 150 return ' ' a utf-8 unicode character.

my machine setup

IsSingleByte      : True
BodyName

[2021-01-07 19:44] stu1130 opened #494 "Training crash with Seq2Seq model"
On windows I got an error code of 0xC0000374 and on linux I got an error message "corrupted double-linked list", both seems memory problem. I do the training on CPU. The codes are like the following:
[code]
The lib versions are djl-0.9.0 and mxnet-1.7.0. and the crash point seems always on EasyTrain.java line 83 collector.backward(lossValue). Why the backward fails and how to solve it then? Thanks

[2021-01-07 19:49] stu1130 commented on #494
The diff file that reproduces the issue: [tt.txt](https://github.com/awslabs/djl/files/5783658/tt.txt)

[2021-01-07 20:57] lanking520 commented on #493
We tried to fixed here: https://github.com/awslabs/djl/pull/479, @frankfliu Should we consider just make it ascii?

[2021-01-07 20:58] lanking520 commented on #486
Please feel free to add some Javadoc in the API to make it clear.

[2021-01-07 21:29] frankfliu commented on #493
@lanking520 This is a bug in format-java plugin. I will take a look.

[2021-01-07 21:31] lanking520 commented on #494
Maybe there is an issue with the LSTM layer implementation

[2021-01-07 22:30] roywei opened #495 "TensorFlow Engine failed to run inference on TFHub model"
## Model:

https://tfhub.dev/google/nnlm-en-dim50/2

## Error:

[code]

## Steps to reproduce:

replace the model link to the above model in this example:

https://github.com/awslabs/djl/blob/master/examples/src/main/java/ai/djl/examples/inference/UniversalSentenceEncoder.java

[2021-01-07 22:33] roywei commented on #495
Inspecting the model using saved model cli shows it takes no input, and the operator is NoOp, which is not expected
The TFHub example works using python TF Hub API. Need to look into how it loads the model.

[code]

[2021-01-08 00:21] #493 closed

[2021-01-10 18:56] waldekkot opened #506 "Support for recent PyTorch version"
Hi,

I would have a kind request to release DJL version supporting the latest PyTorch version (at the moment this is Pytorch 1.7.1). Especially important is the built in support for cuDNN 8.0.5 in the context of RTX 30xx GPUs...

Thanks :-) !

BTW: djl is a nice piece of work - thank you guys !

[2021-01-11 06:05] IrisDinge opened #507 "specify which gpu in training process"
## Description
specify which gpu in inference, no problem
However, during training, it needs to do some extra setting

### Expected Behavior
run training process in expected gpu

## How to Reproduce?
with help of @Jzow, in training.TrainPikachu.java have tried the following code:

    public static TrainingResult runExample(String[] args) throws IOException, TranslateException {
        Arguments

[2021-01-11 06:46] Jzow opened #508 "PaddlePaddle Engine Build Error"
## Description
paddlepaddle Engine Build Error

### Expected Behavior
paddlepaddle Engine Build Successful

### Error Message
`java.lang.UnsatisfiedLinkError: Can't load library: C:\Users\Administrator\.djl.ai\paddle\2.0.0-SNAPSHOT-cpu-win-x86_64\paddle_fluid.dll`

## How to Reproduce?
[code]

## What have you tried to solve it?

1. paddlepaddle Engine Build Successful
2. I recently used paddlepad

[2021-01-11 17:24] frankfliu commented on #507
@IrisDinge By default, DJL will use all GPUs for training, you can limit number of GPUs of select specific GPU by:

[code]

If you specified GPU, and it worked then this seems expected behavior

[2021-01-11 21:47] lanking520 commented on #508
It's a known bug and now being fixed in this PR: https://github.com/awslabs/djl/pull/490/files. Currently the PR is blocked by the linux build issue. We are working with Paddle team for a fix. The quickest way to get away from it is to check out this PR's branch and run test.

[2021-01-11 22:11] lanking520 commented on #507
@frankfliu It seemed to be a bug if you set `optDevice(Device.gpu(1))`, both GPU 0 and GPU 1 are used for training. Shouldn't this be setting single GPU?

[2021-01-11 22:49] frankfliu commented on #507
We don't have API `optDevice(Device device)` in `DefaultTrainingConfig`, we only have `optDevices(Device[] devices)`
The behavior is as design, and I just verified it will only use one device if you limit the GPUs.

I think you might get confused about `RandomAccessDataset.optDevice(Device device)` API. the device to load the dataset is different from training devices. setting device for dataset w

[2021-01-11 22:49] #507 closed

[2021-01-12 18:55] #506 closed

[2021-01-13 09:21] enpasos opened #520 "LogSumExp seems to be missing in SoftmaxCrossEntropyLoss (sparseLabel=false)"
## Description
On latest MasterBranch (commit 4b516196) in SoftmaxCrossEntropyLoss (sparseLabel=false) line 85
[code]
looks like the LogSumExp term (red) is missing.
![grafik](https://user-images.githubusercontent.com/9622808/104430974-a90bc980-5587-11eb-8794-e80566641c1d.png)

## Proposed correction
[code]

[2021-01-13 09:35] enpasos commented on #520
or maybe there is a more clever way to add it as the derivative of the term is known from forward already

[2021-01-13 09:48] enpasos opened #521 "scale gradient for backward pass"
## Question or maybe Enhancement
I'm missing a feature to scale the gradient for backward pass (as e.g. used in MuZero) ... something like
tensor * scale +  stop_gradient(tensor) * (1 - scale)
I'm not sure if the feature is missing or I'm simply not seeing the proper way how to do it.

## Workaround
I worked around it by adding an additional forward pass, keeping the tensor as outputs and putting

[2021-01-13 18:29] stu1130 commented on #494
This is MKLDNN bug. The fix has been patched to MXNet 1.8.
https://github.com/apache/incubator-mxnet/issues/19022

[2021-01-13 18:50] stu1130 commented on #494
I verified the crash is gone when I use mxnet 1.8

[2021-01-13 20:58] frankfliu commented on #486
The `.optXXX()` behavior is documented in: http://docs.djl.ai/docs/load_model.html#criteria-class

I agree, we should add to javadoc as well.

[2021-01-13 21:20] lanking520 commented on #416
Cloes this issue for now since it is not clear how to reproduce...

[2021-01-13 21:20] #416 closed

[2021-01-14 02:22] carlosuc3m opened #523 "Load Deep Learning engine from dynamic classloader"
## Question
Hello,
I am designing an application that runs inside a program (ImageJ/Fiji) to deploy Deep Learning models. This program loads the .jar libraries dinamically after starting the application with a custom classloader. I have realised thar in order to load the EngineProvider.class service, djl uses the Thread contextClassLoader. Is there an workaround to start the Deep Learning Engine u

[2021-01-14 04:08] frankfliu commented on #523
@carlosuc3m
What preventing you set the ContextClassLoader?
[code]

I created a PR to address your issue, you can manually initialize the Engine:
[code]
This solution has 2 drawback:
1. You will see loading engine failed when Engine class is loaded
2. You must call Engine.initEngine() before any other DJL code executing.

Please try it out and let me know if this works for you.

I would prefer not

[2021-01-14 07:09] jinlong-hao commented on #485
@zachgk @stu1130 Thanks very much!  the inference works all right!

[2021-01-14 07:09] #485 closed

[2021-01-14 07:09] jinlong-hao commented on #485
@zachgk @stu1130 Thanks very much!  the inference works all right!

[2021-01-14 14:40] enpasos commented on #520
maybe more stable
![grafik](https://user-images.githubusercontent.com/9622808/104605016-42b5a280-567e-11eb-98b5-871defdec37e.png)

[code]

[2021-01-14 15:45] efrancis59 opened #526 "InvalidPathException on "colon" character in a windows path"
## Description
I'm trying to launch the **SentimentAnalysis** example. But I get an exception generated by SimpleVocabulary.Builder that tries to use the vocabulary path containing a "C:" prefix.

### Expected Behavior
This class is expected to work under windows also.

### Error Message
`
Exception in thread "main" java.nio.file.InvalidPathException: Illegal char <:> at index 2: /C:/Users/xyz/.dj

[2021-01-14 19:25] frankfliu commented on #526
@efrancis59 Woud you please provide your code?

This issue should have been fixed in 0.9.0 release. I tried the following on Windows and it's working fine:
[code]

I tried `.optModelPath()` and `.optModelUrls()`,  both working fine for me.

[2021-01-14 19:31] frankfliu commented on #526
@efrancis59 Sorry, my bad, the fix is after 0.9.0
You can try 0.10.0-SNAPSHOT version: https://github.com/awslabs/djl/pull/467

[2021-01-14 19:32] frankfliu commented on #526
Feel free to re-open this issue if you still have problem with 0.10.0-SNAPSHOT version.

[2021-01-14 19:32] #526 closed

[2021-01-14 20:05] lanking520 commented on #508
PR is merged. Windows test should pass now

[2021-01-14 20:05] #508 closed

[2021-01-15 03:37] frankfliu commented on #506
@waldekkot pytorch 1.7.1 is published to maven central. It's currently not included in 0.9.0 bom, you have need manually specify 1.7.1 to use it.

[2021-01-15 09:11] jinlong-hao opened #534 "Error for infference pytorch RNN model with cpu when trainning with gpu and init hidden tensor in forward"
## Description
I trainned a rnn model in pytorch with hidden tensor  init in forward method as below and export the model as torchscript.
I infference the model all right on the same computer with gpu support. But when i deploy the model on a new linux computer
use pytorch-native-cpu with out gpu, all goes wrong.

[code]

### Expected Behavior

the infference all righ in both cpu and gpu server.

[2021-01-15 09:24] carlosuc3m commented on #523
Your solution works fine thanks!
With `Thread.currentThread().setContextClassLoader(CustomClassLoader);` it should be enough :)

[2021-01-15 17:35] frankfliu commented on #534
@jinlong-hao This is a limitation of pytorch jit. If you trace the original model on cpu it should work on cpu.

You should be able to reproduce the same error on python.

[2021-01-15 17:43] waldekkot commented on #506
Great ! I have just updated my project to use pytorch-native-cu110 1.7.1 on Windows (and the cpu version 1.7.1 on Linux) and so far it has been working fine 👍

I know it is not easy - and I appreciate your work a lot - but maybe you guys could come up with some solution to keep the versions of the "underlying" libraries (like PyTorch and CUDA) more frequently synchronized with the recent versions

[2021-01-15 18:16] #523 closed

[2021-01-15 19:50] stu1130 commented on #534
@jinlong-hao you have to retrace the model on cpu to make it work on cpu. btw in your forward, you probably need script as the input should change with different input size But in trace mode, the size is fixed to the input you call trace function with

[2021-01-15 22:10] #84 closed

[2021-01-16 00:29] roywei commented on #521
You can use `block.getParameters()` to get the parameters and `getArray` to get the param value, then `getGradient` to access the gradient. You can do inplace update on the gradient value.

Not sure if this is what you want, if not, please provide some python code in TF, PyTorch or MXNet so we can take a look.
Thanks!

[2021-01-16 01:21] jinlong-hao commented on #534
@frankfliu @stu1130 got it.  is there any solution to use different input size?

[2021-01-16 06:54] stu1130 commented on #534
@jinlong-hao I modified the model a little bit
[code]

[2021-01-16 08:36] nimishjain15882 opened #537 "OOME for https://github.com/kingyuluk/RL-FlappyBird/ on Windows & Ubuntu"
## Description
I tried running https://github.com/kingyuluk/RL-FlappyBird/ on Windows & Ubuntu. However, after sometime both throw Out Of Memory Error during training. Ruducing batch size doesn't help either. It appears there is a memory leak.

### Expected Behavior
The training should continue.

### Error Message
[pool-1-thread-2] ERROR ai.djl.ndarray.BaseNDManager - Resource close failed.
[main]

[2021-01-16 08:38] nimishjain15882 commented on #537
I have pasted logs for Ubuntu 20.04 above for now. But I face same issue in Windows as well. Probably if Ubuntu is fixed, Windows will work as well.

[2021-01-16 09:17] enpasos commented on #521
Thank you very much for your reply.
I think the methods you mentioned are useful for some use cases.
For use cases where the concerned node on the graph is passed many times I do not see a clever way where the methods you mentioned lead to a simple solution.

I would like to give some more information about the use case I am looking at:

**MuZero use case:** Java implementation of [MuZero](https:/

[2021-01-17 03:27] jinlong-hao commented on #534
@stu1130 got it. thanks a lot!!

[2021-01-17 03:27] #534 closed

[2021-01-17 17:13] enpasos commented on #521
I think I found the function in the MXNet-Python API: [BlockGrad](https://mxnet.apache.org/versions/1.7.0/api/python/docs/api/ndarray/ndarray.html#mxnet.ndarray.BlockGrad)

[2021-01-17 17:14] enpasos commented on #521
It would be great to have it in Java, too.

[2021-01-17 21:55] enpasos commented on #521
I'll test this
[code]

[2021-01-18 09:32] enpasos commented on #521
The stopGradient works well for me: I could remove my workaround and therefore gained gpu memory ... enough to double the batchsize.

As it is a general functionality (e.g. used in MuZero) it would be very useful to add the functionality on the Java API, too. e.g. in the NDArray interface and its implementations.

[2021-01-18 14:58] enpasos commented on #520
works well for me.

[2021-01-18 17:43] Noricks opened #538 "Can 't correctly initialize the `TfEngine`"
## General Information of the Questions

First of all, thank you for reading my post.

Sorry for the long post. For me, the problem is hard to identify. So I post all the related information which I think is useful.

### System Info

Target Platform:

[code]

Developing Platform:

[code]

`build.grandle` (Build Script):

[code]

### Related Code

[code]

### General exception
The line exception oc

[2021-01-18 17:54] frankfliu commented on #538
For android project, DJL currently only support pytorch engine. There is some effort to support MXNet for android, but we don't have a concrete plan yet.

[2021-01-19 19:49] roywei commented on #495
The problem is with the `Saved Model` on TFHub,  the signature keys were not properly exported.

Here is the workaround to load it back and export again, this model can now be loaded in DJL.

[code]

[2021-01-19 19:50] #495 closed

[2021-01-19 20:06] stu1130 commented on #537
@nimishjain15882 could you set MXNET_GPU_MEM_POOL_RESERVE to 10 or 20?
MXNET_GPU_MEM_POOL_RESERVE is used to tell MXNet how much memory we want to reserve for cuda kernel launch and cudnn handle space, which in this case might resolve CUDNN_STATUS_EXECUTION_FAILED

[2021-01-19 23:59] #486 closed

[2021-01-20 02:52] ichiva opened #543 "Memory leak? ai.djl.examples.training.TrainMnist running ERROR"
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x0000000055c64147, pid=15996, tid=0x0000000000002a4c
#
# JRE version: Java(TM) SE Runtime Environment (8.0_131-b11) (build 1.8.0_131-b11)
# Java VM: Java HotSpot(TM) 64-Bit Server VM (25.131-b11 mixed mode windows-amd64 compressed oops)
# Problematic frame:
# V  [jvm.dll+0x21414

[2021-01-20 04:00] carlosuc3m opened #544 "Cross compatibility between Pytorch native versions and Pytorch engines/apis"
## Question
Hello there,
I was wondering if there exists a document secifying the cross compatibility between Pytorch native versions and Pytorch engines/apis. I have not been able to found anything and in order to find it out I have been doing it by trial and error.
Thank you for your time,
Carlos

[2021-01-20 04:06] frankfliu commented on #543
It seems you only has 8G of physical memory. Training usually require more that 8G or memory. I saw many crashes on 8G windows machine before.

[2021-01-20 04:58] ichiva commented on #543
在centos7上只需要1.6g的内存,在win10上8G都不够考虑是不是内存泄漏了

[2021-01-20 17:47] zachgk commented on #544
You can take a look at the PyTorch engine README document: https://github.com/awslabs/djl/blob/master/pytorch/pytorch-engine/README.md. There is only a single PyTorch version that matches each version of DJL. If you view this page at a version tag rather than the master branch, you can see what versions are supported by the various released versions of DJL.

[2021-01-20 23:59] frankfliu commented on #544
@carlosuc3m
The recommended way is to use DJL's bom to manage your dependencies: http://docs.djl.ai/bom/index.html
You can find the bom pom.xml file from maven central for each version: https://search.maven.org/artifact/ai.djl/bom/0.9.0/pom

[2021-01-21 01:18] #521 closed

[2021-01-21 14:56] EdvinasKilbauskas commented on #141
I would appreciate the effort to add arm64 support. Currently using Mac M1 silicon and would like to install OpenAI's Gym library, but it gets stuck while building from source.

[2021-01-21 18:18] stu1130 commented on #141
@EdvinasKilbauskas You can follow the instruction here https://github.com/pytorch/pytorch/blob/master/docs/libtorch.rst to build libtorch from source on Mac M1 then build JNI again from source by using ./gradlew compileJNI. Let me know if you have any issue executing commands

[2021-01-21 21:30] kkoripl opened #552 "Wrong indexes in SSDTranslator output process"
## Description
When trying to import tensorflow objects detection model I needed to make custom translator, as library informed me it was needed. When method copied from output processing of SingleShotDetectionTranslator it showed 2 flaws:
- wrong indexes to get probabilities, bounding boxes and class ids
- wrong indexes to build rect objects of bounding boxes (as boxes are drawn as they were twis

[2021-01-21 21:41] frankfliu commented on #552
@kkoripl TF SSD model output doesn't have a fixed order. You may need to specify output ndarray names. Please take a look: https://github.com/awslabs/djl/blob/master/tensorflow/tensorflow-model-zoo/src/main/java/ai/djl/tensorflow/zoo/cv/objectdetction/TfSsdTranslator.java#L157-L184

[2021-01-22 08:30] kkoripl commented on #552
There is still the problem and once again with indexes.
I set proper names for boxes, classes and scores, but as you see downloaded model returns 4 elements in ndList instead of 3, so it will 100% throw exception from last else, when "num_detections" would get into the mix.

My translator:
[code]

![image](https://user-images.githubusercontent.com/37674650/105461880-202f1500-5c8e-11eb-9159-e8105bf

[2021-01-22 18:51] frankfliu commented on #552
@kkoripl
I think there are bugs in TfSsdTranslator
1. We should detect the datatype before assume it's INT64
2. There might be more NDArray in the output then the code expected.

Can you share your model, so I can test it?

[2021-01-22 19:42] frankfliu commented on #552
@kkoripl  I created a PR to address your issue: https://github.com/awslabs/djl/pull/555

Could you build DJL from source and test my PR?

[2021-01-22 23:00] #383 closed

[2021-01-25 17:25] #552 closed

[2021-01-29 01:34] lanking520 commented on #538
@Noricks Close the issue for now. If you would like to have TFLite Android support, please feel free to open another issue. Note: We now have TFLite for Server, but not for Android. But we are open to the community if anyone is looking for a build.

[2021-01-29 01:34] #538 closed

[2021-01-29 01:36] lanking520 commented on #472
@tooptoop4 close this issue for now. If you have futher question about SSD model, please feel free to reopen. 👍

[2021-01-29 01:36] #472 closed

[2021-02-01 13:10] macster110 opened #570 "java.nio.ReadOnlyBufferException when calling TensorFlow model."
## Question
I am trying to call a Tensorflow model and keep getting a ReadOnlyBufferException. Originally this was an .hdf5 model which I converted to .pb file to use with djl as per instructions [here](https://docs.djl.ai/docs/tensorflow/how_to_import_tensorflow_models_in_DJL.html).

The model input (in python) is a float64 numpy array of shape (N, 40,40,1). The model loads fine using djl and I'v

[2021-02-02 02:50] roywei commented on #570
Hi @macster110, I was not able to reproduce the `ReadOnlyBufferException` you mentioned.

If I directly run your code with the model provided I get 2 errors, I was able to fix them and run successfully.

### 1. Data type error
[code]

This is due to the model expect float32 data type as input, but you are passing double (created in preprocess in the translator). You can fix by generate specgramFla

[2021-02-02 09:33] macster110 commented on #570
Hi @roywei. thanks very much for taking the time to check this out. Unfortunately after fixing those errors I am still getting the same issue. I am using Mac OS but tried on Windows and got the same error (see full message below)

I  am using Maven to run the project - the project and POM file is [here](https://github.com/macster110/jpam/tree/master/PyTorch2Java/jdl4pam) - but as far as I can tell

[2021-02-02 09:35] lanking520 commented on #570
Hi @macster110 which Java version did you use?

[2021-02-02 09:41] macster110 commented on #570
Good point. I am using 14.0.2 from AdoptOpenJDK. This could possibly a Java 11+ problem...

[2021-02-02 09:49] macster110 commented on #570
Hi @lanking520  and @roywei. This is indeed a Java issue. Java 8 works and Java 14 and 15 do not. The project I'm working on really requires Java 11+ so would be great if there was a workaround somehow? Any ideas?

[2021-02-02 16:06] lanking520 commented on #570
Java 11 works. We haven't cover much tests on Java 14, will take a look today.

[2021-02-03 18:44] frankfliu opened #585 "Add automatic model lifecycle management"
## Description

In DJL Serving module, each model has their own worker. To manage the load for each model, DJL serving can config a range of workers per model. When the incoming requests start queuing up for a model, DJL serving should automatically increasing workers for the model and when incoming request reduced, DJL serving should reduce number workers back to configured minimum workers.

Feat

[2021-02-03 18:51] frankfliu opened #586 "DJL serving documentation"
## Description

DJL serving documentation should includes:

[ ] DJL serving architecture
[ ] DJL serving quickstart
[ ].DJL serving management API specification
[ ] DJL serving inference API specification
[ ] DJL serving configurations
[ ] DJL serving logging
[ ] DJL serving plugin specification

[2021-02-03 18:57] frankfliu opened #587 "Create DJL serving installation package"
## Description

To make it easy for user install DJL serving as a product, we should provide installation package for user to use directly:

[x] brew install support for macOS
[ ] deb package for `apt-get install` support
[ ] rpm package for `yum install` support
[ ] `chocolatey install` support for Windows

[2021-02-03 22:10] frankfliu opened #590 "Publish DJL serving docker image to dockerhub"
## Description

It would be handy if DJL serving docker image is available on dockerhub:
[ ] DJL serving with MXNet engine bundled
[ ] DJL serving with PyTorch engine bundled
[ ].DJL serving with TensorFlow engine bundle
[ ] DJL serving minimal with all engines with native-auto bundled
[ ] DJL serving docker image publish github action pipeline

[2021-02-03 22:18] frankfliu opened #591 "DJL serving plugin support"
## Description

DJL serving itself is a web container, it's capable to serve static web page and customized REST API calls. We'd like to allow user to add customized feature to DJL serving without making changes to DJL serving core code base.

[ ] Plugin framework design
[ ] PluginManager to load plugin and it's metadata
[ ] Implement static page URLHandler as plugin
[ ] Implement DJL serving mana

[2021-02-03 22:52] frankfliu opened #592 "DJL central model zoo management"
## Description

DJL central is a centralized location to find DJL pre-trained models. It keeps a registry of know ModelZoos and their metadata. It also has a web based UI allow user to browser pre-trained model and it's detail information.

[ ] Improve current model browser POC

- Add model inference code snippet that allow user copy paste to their code
- Add command line to serve this model in DJ

[2021-02-03 23:46] frankfliu opened #593 "DJL serving management portal"
## Description

DJL serving should provide a web base management portal to manage models

[ ] Manage models

- register a model
- un-register a model
- update model scaling configurations
- Upgrade a model to new version
- Change model serving system settings
- Support basic admin user authentication and management feature

[ ] DJL serving monitoring system

- Display DJL serving system stat
- Dis

[2021-02-03 23:50] frankfliu opened #594 "DJL serving should automatically recover to previous state (reload models) on restart"
## Description

In current DJL serving implementation, the registered model information only kept in memory. When DJL serving process is restarted, the last model serving stat is lost. User must manually register those model again. It would very useful if DJL serving can persist the registered model information and recover the previous state on restart.

[2021-02-04 00:52] frankfliu opened #595 "DJL serving should support model hot swap"
## Description

In current DJL implementation, switch to a new model but reuse the same url endpoint requires un-register and re-register the model. This cause service interruption during upgrade model to newer version. DJL serving should support model hot swap at runtime.

[2021-02-04 01:13] anfee1 opened #596 "DJL Model View crashes on some Model Tabs."
## Description
When picking almost any model on the ModelView page and you click the Synset tab the model view page will crash. Refreshing the page is the only way to get the page back to a usable state.

### Expected Behavior
Expected behavior would be either not showing the tab at all or showing that the current attribute isn't being used.

## How to Reproduce?
(If you developed your own code, p

[2021-02-04 01:44] anfee1 commented on #596
<img width="906" alt="image" src="https://user-images.githubusercontent.com/65963140/106832927-6fd6ee80-6647-11eb-8364-69723e8b6521.png">

After clicking synset:
<img width="816" alt="image" src="https://user-images.githubusercontent.com/65963140/106832950-7ebda100-6647-11eb-899d-4f2c41cc3c5b.png">

[2021-02-04 04:57] frankfliu opened #599 "Out of box pre-processing/post-processing support in DJL serving for arbitrary model"
## Description

DJL serving support serving arbitrary model by provide tensor in tensor out fashion already. To provide better user experience, DJL provide default pre-processing and post-processing for some of Application:

- Application.CV.IMAGE_CLASSIFICATION
- Application.CV.OBJECT_DETECTION

It would be convenient for user if DJL can provide default pre-processing and post-processing for more

[2021-02-04 04:58] #596 closed

[2021-02-04 12:55] macster110 commented on #570
Quick update, I tried Java 11 and it still has the same error on my machine? It was only Java 8 that worked for me...?

[2021-02-04 19:06] roywei commented on #570
Hi, following is my test results:

Tried Java 8,11,12,15,  11 and 15 is [Amazon Corretto](https://aws.amazon.com/corretto/) version, but I think it should not matter. All version works.

Could you try
1. remove the tensorflow binarys under $HOME?

`rm -rf $HOME/.djl.ai/tensorflow/`

2. do a clean build

3. Let me know how you installed Java 11 and 14 etc so I can try the exact version

4. I see yo

[2021-02-04 19:26] lanking520 commented on #570
@macster110 Do you think it might be an OS issue? Which OS are you running with?

[2021-02-05 08:57] macster110 commented on #570
Thanks @roywei and @lanking520 for bearing with on this issue.

So the issue seems to be  the Java version and in versions that do not work (8+) then the problem is that the engine remains Pytorch. That seems weird to me because the model loads just fine but ```Engine.getInstance().getEngineName()``` returns PyTorch instead of TensorFlow?

I am using MacOS 11.1 (20C69), Java 14.0.2 from AdoptOpenJ

[2021-02-05 17:26] frankfliu commented on #570
@macster110 If you have multiple engine in the classpath, the default engine is undefined, it's purely depends on the order or the class is get loaded. I just create a PR to address this issue, with latest code, the default engine will be deterministic. But this seems not related to the issue you are facing.

It looks like the issue here is:
1. Multiple engine are loaded in classpath
2. The defaul

[2021-02-05 20:03] roywei commented on #570
This is a really strange error. I was able to load PyTorch and TF engine together and run successfully with your latest code. Actually, all 3 engines loaded together also work.  Since the NDArray creation is in Translators preprocessInput, it uses the context manager, which is specified to use TF engine during model loading. So we are NOT feeding any NDArray created by PyTorch to TFModel.

Next st

[2021-02-05 20:56] roywei commented on #520
Hi @enpasos, I think the `logsumexp` is handled in C++ backend in the `logSoftmax` operator before calculating the loss.

We are trying to be consistent with PyTorch and MXNet API of CrossEntropyLoss.

You can follow the definition and equation here in PyTorch's documentation:
https://pytorch.org/docs/master/generated/torch.nn.CrossEntropyLoss.html?highlight=crossentropy#torch.nn.CrossEntropyLoss

[2021-02-05 21:05] roywei commented on #520
However, we do not have the [`logsumexp`](https://pytorch.org/docs/stable/generated/torch.logsumexp.html) operator directly exposed for users to use.  PyTorch has this operator, MXNet does not. Feel free to add this operator and open a PR.

For the MXNet part, you can use your implementation on Java side, on PyTorch you can call the operator directly.
Here is a sample PR adding a new operator: htt

[2021-02-05 21:12] macster110 commented on #570
Thanks @roywei. I am using an Intel Mac but I also tried this on Windows a little earlier (not with the latest code) and got the same error. Making me think that this could be something to do with the way Maven is setting up it's dependencies or something? I'll maybe try to run this in a new project with a minimal POM just to check.

I also see in your output that PyTorch is getting printed out as

[2021-02-05 21:36] roywei commented on #570
That could also be the reason, I was using DJL's example folder to test your code, which use [gradle](https://github.com/awslabs/djl/blob/master/examples/build.gradle)

Regarding the Engines, DJL is designed to allow multiple engines work together. If you have multiple engine as dependencies, there will be a default engine automatically chosen if you. In 0.9.0 it's not deterministic, in latest mas

[2021-02-06 09:00] enpasos commented on #520
Hi @roywei, thank you for looking into the issue.

Your unit test investigates the method "evaluate" in SoftmaxCrossEntropyLoss in a different context
[code]
and does not test the problematic code part I was dealing with.

My context is
[code]

As you suggested let's look at an example from the python apis as reference for a unit test:
[code]
gives out
[code]

The unitTest with the current DJL cod

[2021-02-06 12:58] macster110 commented on #570
Thanks @roywei . I just made a new project with exactly the same code and a minimal POM and it worked! So this means that there is a dependency in the larger project which is stopping stuff working. I'm going to do some trial and error work and figure out which one. Will post here once I figure out some more.

[2021-02-07 04:55] mymagicpower opened #619 "ResNetV1.java Network error"
public static Block residualUnit(
            int numFilters,
            final Shape stride,
            final boolean dimMatch,
            boolean bottleneck,
            float batchNormMomentum) {
        SequentialBlock resUnit = new SequentialBlock();
        if (bottleneck) {
            resUnit.add(
                            Conv2d.builder()
                                    .setKernel

[2021-02-08 10:02] macster110 commented on #570
Hi @roywei  and all. I have found the issue - if you include a module-info file then this produces the ReadOnlyBuffer Exception . If not, then the error disappears. I have no idea why but as far as I can tell "api" is generated from the djl library and that is an seriously unstable name to use in a module-info file.

Thanks for all your help  - I would not have thought to try this without everyone

[2021-02-08 17:40] frankfliu commented on #570
I guess javacpp is using some reflection that is blocked by module. We can try to dig more.

DJL currently compiled target to java 8, it's not be modularized for java 9. At runtime, it will be auto modularized by your JVM at runtime, and it's using the jar file's name as module name. That's why you see `api` as the module.

We have not yet decided to move to java9+ yet. If you want a stable module

[2021-02-08 18:13] lanking520 opened #621 "DJL training on CPU is much slower on python"
## Question

On behalf of the author. Just open the issue here. I built a simple NN with 60k data. Training on PyTorch cost around 273s however 3h 2min on DJL. Just wondering if any parts I did is wrong. Help is appreciated.

File is attached here.
[issue.zip](https://github.com/awslabs/djl/files/5945817/issue.zip)

The above file includes python and Java code and some fake sample data.

[2021-02-08 18:37] KonevDmitry opened #622 "Jar incompatibility"
## Question
Good time of day!

I have a question regarding using DJL library in another projects. More specifically, now I am developing Intellij Idea plugin and I need to load my own PyTorch model with DJL. The problem is that library doesn't work.
Now in more details:
Firstly, here is the project, I already uploaded everything for work: https://github.com/KonevDmitry/DynamicTypeInferencesForPyth

[2021-02-09 01:56] frankfliu commented on #570
@macster110 I created a PR to address module name issue, now each jar has a unique automatic module name: https://github.com/awslabs/djl/pull/627

[2021-02-09 08:38] macster110 commented on #570
Great, thanks again for all the help - I will now close the issue.

[2021-02-09 08:38] #570 closed

[2021-02-09 19:13] stu1130 commented on #621
I took a look into the code. A few of comments.
Python script
* you don't need Variable. PyTorch merge Tensor & Variable. Whenever you need Variable, just call tensor. requires_grad().
[code]
To do a fair comparison
1. add a dataloader and TensorDataset. As a result, both Java and Python fetch 6000 items and construct a huge batch with size 6000. Now the python just skip small dataset construction

[2021-02-09 19:16] stu1130 commented on #622
will take a look. Thanks for reporting @KonevDmitry

[2021-02-09 19:18] anfee1 opened #630 "Model View Update Bug"
## Description

After picking a model and the information being displayed, if another model is then selected the display will not update. The only way to get the information from the new key to show is by selecting another attribute tab to force a key display refresh.

### Expected Behavior

Whenever a key is selected the key display shows the information about that key on click.

### Steps to rep

[2021-02-09 22:50] #630 closed

[2021-02-09 23:03] anfee1 opened #633 "Model Downlading"
## Description

This feature should allow a user to download a model using the ModelView UI or a command line terminal. This will give the user a zip package containing the json file, the version of the model the users looking for, the Readme file and all other misc files related to the model.

This will include a download button on the Model View and any other interface implementations that would

[2021-02-09 23:10] stu1130 commented on #622
@KonevDmitry I can only run `./gradlew build` and `./gradlew buildIde` show no task found

[2021-02-09 23:19] KonevDmitry commented on #622
@stu1130 Did you run it with IntellijIdea?
There should be lots of tasks. I attach a link to screenshot with tasks
[Image](https://imgur.com/CmAcsz1)

[2021-02-09 23:25] KonevDmitry commented on #622
@stu1130 ALso, i then will upload a model and a dictionary. Both of them should be placed inside /resources/data/TorchBERT folder (also, write an absolute path to this folder, I didn't prepare relative path)
[model.zip](https://www.dropbox.com/s/wd2zhcrm8u47hk9/torchBertModel.zip?dl=0)
[vocab tt](https://www.dropbox.com/s/rzlfpwr5tv5h59n/vocab.txt?dl=0)

[2021-02-09 23:27] stu1130 commented on #622
![Screen Shot 2021-02-09 at 3 26 34 PM](https://user-images.githubusercontent.com/6792331/107442066-37be2880-6aeb-11eb-9d2f-c6fdd33b5614.png)
Here is my IntellliJ. I didn't see intellij folder

[2021-02-09 23:31] KonevDmitry commented on #622
Intellij folder is in Gradle tasks
![image](https://user-images.githubusercontent.com/31627376/107442399-13446980-6b48-11eb-8b72-f7121996285a.png)

[2021-02-09 23:34] stu1130 commented on #622
Thanks @KonevDmitry I can see it now.

[2021-02-09 23:58] anfee1 opened #634 "Model Uploading"
## Description
Developers will be able to create an auto-generated template through the cli or frontend interface, or manually enter the model information through the ModelZoo webUI, so it can be uploaded.

The server will test the models to verify if it's okay to upload, help create metadata for the user, and/or allow users to submit all the files on their own.

[2021-02-10 00:05] anfee1 opened #635 "Remove Uploaded Models"
## Description
An addendum to enhancement #634.

Removing Models will be the another necessary feature along with Model Uploading. This will also require a button on the ModelView page.

[2021-02-10 00:15] anfee1 opened #636 "Model Starter Template"
## Description

Model Downloading and Uploading will require metadata and other files. This is where a Model Starert Template comes in. It will allow users to have data auto-generated for them when they are Downloading or Uploading a model.

[2021-02-10 00:25] anfee1 opened #637 "ModelView Model Searching"
## Description

Using the ModelZoo filter function, the plan is to implement that on to the ModelView page. This will be used to find a Model for a user, so they could then look at the properties and attributes of the model.

This will require a website component.

[2021-02-10 01:38] shuli0721 commented on #621
Thanks for correcting.
I was so careless in providing code and data to lanking520 that I missed optimizer.step(). You really made me discover that I need to deepen my understanding of models as a beginner.

[2021-02-10 01:48] shuli0721 commented on #621
There is another question, does this phenomenon also exist in spark clusters under Linux environment?

[2021-02-10 17:06] stu1130 commented on #621
@shuli0721 I created a PR to boost the data loading https://github.com/awslabs/djl/pull/638

[2021-02-10 18:04] zachgk commented on #635
If we want to follow Maven Central convention, we would not allow users to remove/modify models to ensure stability: https://central.sonatype.org/articles/2014/Feb/06/can-i-change-a-component-on-central/

[2021-02-10 18:16] roywei commented on #520
Hi @enpasos,

Taking another look, I think the fromLogits definition of MXNet and TensorFlow are different

* MXNet: if fromLogits=True, means the input has already been applied `log_softmax`, the function will NOT apply `log_softmax`
* TensorFlow: [softmax_cross_entropy_with_logits](https://www.tensorflow.org/api_docs/python/tf/nn/sparse_softmax_cross_entropy_with_logits) expects unscaled inputs,

[2021-02-11 00:16] stu1130 commented on #622
Hey @KonevDmitry just want to give you the update. We found the root cause. When loading the pytorch engine, we use ServiceLoader and there is [code change](https://plugins.jetbrains.com/docs/intellij/plugin-class-loaders.html) required to make it work on Intellij plugin. We are still fixing some issues when we apply the the change.

[2021-02-11 11:47] KonevDmitry commented on #622
@stu1130 Thank you very much! Now it works!!! (at least it didn't crash on start-up and showed me basic results)

[2021-02-11 16:18] enpasos commented on #520
Hi @roywei,
the pull request "fix softmax flag" makes the behaviour clear. Now, I understand the approach :-) Thanks a lot.

To be solidly sure, that I get the correct gradients from the loss function I compared the gradients "handcalculated" against "autograd", once for tensorflow and once for DJL on mxnet (see below).
For tensorflow the gradients are the same - on DJL they seam to differ by a fa

[2021-02-12 16:12] enpasos commented on #520
... forget about my last comment on the gradient. Didn't take acount the "mean" which makes the factor 2 in the gradient. Thanks again and sorry for the "gradient noise".

[2021-02-12 16:12] #520 closed

[2021-02-12 17:04] stu1130 commented on #621
@shuli0721 The PR has been merged. You shouldn't see much difference now.

[2021-02-12 18:20] shuli0721 commented on #621
@stu1130  WOW  You guys solve problems so quickly.  Hope I can do the same day.
I will fix my code.
 And happy Spring festival to all your team members. 🥟春节快乐！

[2021-02-12 21:53] stu1130 commented on #622
Hey @KonevDmitry Yeah We planed to switch the classloader in our DJL but found it will mess up lots of paths when loading other files from jar. So I think we will just recommend clients to add that try block in their program. Thanks. I will close the issue. If you have any question, feel free to reopen/create another one

[2021-02-12 21:53] #622 closed

[2021-02-16 05:53] ma2695212419 opened #655 "[Question] How to make custom dataset 自定义数据集问题"
我自己有一些目标检测数据，我如何构建自己的数据集并训练目标检测，并定位到目标

------------------------------

I had some Object Detection dataset. Just wondering how to build my own dataset in DJL and run Object Detection?

[2021-02-16 06:09] Jzow commented on #655
您好，您可以参考djl官网如何创建自定义的数据集

[创建数据集](https://docs.djl.ai/docs/development/how_to_use_dataset.html)

[2021-02-16 06:12] ma2695212419 commented on #655
我阅读了官网的例子，我的数据是有坐标的，而官网的示例没有，万分感谢，我是一个新手

[2021-02-16 06:43] ma2695212419 commented on #655
还有就是关于目标的定位问题，如何进行转换
我看示例的坐标类似于0.46545这种

[2021-02-16 22:29] lanking520 commented on #619
@mymagicpower Thanks for finding that out, do you mind to open a PR for this?

[2021-02-17 22:43] stu1130 commented on #655
You can refer to [CocoDetection](https://github.com/awslabs/djl/blob/master/basicdataset/src/main/java/ai/djl/basicdataset/cv/CocoDetection.java) where each image has multiple bounding boxees

[2021-02-17 22:55] lanking520 commented on #621
@shuli0721 close this issue for now since there are no additional issues. Please feel free to reopen if you have any more concerns :) Happy Lunar New Year!

[2021-02-17 22:55] #621 closed

[2021-02-17 23:00] lanking520 commented on #544
@carlosuc3m Close this issue for now. If you have any more concerns about the versioning issue, please feel free to reopen!

[2021-02-17 23:00] #544 closed

[2021-02-17 23:00] aksshi2830 commented on #619
I will look into this.

[2021-02-17 23:03] lanking520 commented on #543
@ichiva You can try to use the Windows 10 Subsystem and run DJL job there if you are using Windows 10. Currently MXNet CPU on Windows has this memory issue where Mac/Linux are running fine. On the other hand, you can just switch to PyTorch to train and see if there is any memory issue.

Close this issue for now and please feel free to reopen if you have more concern about the memory.

[2021-02-17 23:03] #543 closed

[2021-02-17 23:04] roywei commented on #619
FYI the Gluon implementation is using `stride` for first Conv2D and `1` for the second. Which is different from the Symbol implementation:

https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/model_zoo/vision/resnet.py#L90

[2021-02-17 23:07] goswamig commented on #537
assign it to me

[2021-02-17 23:10] #494 closed

[2021-02-17 23:14] lanking520 commented on #478
@gwlgmz close this issue for now. The current resolution is you are using DJL packages in different versions for compile and running. Please make sure they are matched: DJL 0.8.0 code may not work on 0.9.0 and same applies to the other way. As long as the versions are match, this issue should be gone. Please feel free to reopen this issue if you have more information about the cofiguration.

[2021-02-17 23:14] #478 closed

[2021-02-17 23:21] lanking520 commented on #337
We had an RFC in TF JNI build in discussion now. @SidneyLann Have you tried to train with DJL with MXNet engine? It is mostly working.

[2021-02-17 23:23] lanking520 commented on #223
@yanchaoguo Do you have any specific use case with this model? If there is one I guess we can add it to the model zoo.

[2021-02-17 23:37] stu1130 commented on #195
Hi @willishf I am going to close the issue in favor of #375

[2021-02-17 23:37] #195 closed

[2021-02-18 00:07] yanchaoguo commented on #223
抠图 通过mask一键抠图

[2021-02-18 00:07] yanchaoguo commented on #223
通过mark一键抠图

[2021-02-18 02:47] aksshi2830 commented on #619
@mymagicpower Even in PyTorch implementation, the ResNet implementation uses ```stride``` for the first Conv2D and 1 for the second. Here is the link for your reference:

https://missinglink.ai/guides/pytorch/pytorch-resnet-building-training-scaling-residual-networks-pytorch/

[2021-02-18 10:18] willishf commented on #195
I have made reasonably good process on leveraging gstreamer pipeline for
image processing on jetson nano in Java. Nvidia is making a big investment
in DeepStream which is based on gstreamer to stay in gpu pipeline as long
as possible for high FPS from megapixel camera.

Having mxnet model conversion support that runs in gstreamer would solve
many problems related to megapixel camera access and hig

[2021-02-18 12:29] SidneyLann commented on #337
I found DL4J has more functinalities than MXNet java, lik conv1d, conv2d, conv3d, conv4d and gnn.

[2021-02-18 17:33] stu1130 commented on #337
@SidneyLann we also have conv1d, conv2d, conv3d. Modern frameworks like TF, PT doesn't have conv4d. Can you elaborate your use case? Thanks

[2021-02-18 17:43] stu1130 commented on #195
Hi @willishf that's awesome!

What do you mean by `Having mxnet model conversion support`? If the goal is to run MXNet model on Jetson, I think MXNet python can already do that. We just need to include their native libraries(libmxnet.so) into DJL. Or does it require other integration with gstreamer?

[2021-02-18 18:22] willishf commented on #195
It is my understanding that one of the goals of DJL is being model agnostic
and hiding those implementation details. That was the point I was trying to
make. Having a gstreamer plug in that runs inference on GPU regardless of
framework would be a very nice feature. On embedded systems with hardware
pipelines from camera to GPU you want to avoid touching the image data at
the CPU level for optimal

[2021-02-18 21:34] SidneyLann commented on #337
Human action in a video(a sequence of images), like conv3d+sequence images, it maybe not a realy conv4d.

[2021-02-20 03:30] mymagicpower commented on #619
1. For resnet18,resnet34:
    The ResNet implementation uses stride for the first Conv2D(the kernel size is 3) and 1 for the second (the kernel size is 3).
2. For resnet50, resnet101, resnet152:
   The ResNet implementation uses 1 for the first Conv2D(kernel size is 1) and stride for the second (the kernel size is 3).

[2021-02-20 03:32] mymagicpower commented on #619
![image](https://user-images.githubusercontent.com/37390155/108582582-46b89c80-736f-11eb-8c53-d706711d192f.png)

[2021-02-20 19:21] KonevDmitry commented on #622
@stu1130 Good time of day! Sorry to disturb you again with this issue, but the new bug appeared again when I really changed nothing. The issue is the same, but bug message changed a bit. Now it crashed as follows:
------------------ CUDA -----------------
2021-02-20 21:30:53,116 [   3502]  ERROR - oncurrency.BoundedTaskExecutor - No deep learning engine found.

The code is still in the same repo:

[2021-02-20 19:33] KonevDmitry commented on #622
@stu1130 as help for you, here is the code for modelInit():
`
    public synchronized void modelInit() throws IOException, MalformedModelException, ModelNotFoundException, URISyntaxException, DbxException, InterruptedException {
        URL urlVocab = getClass().getClassLoader().getResource("/data/torchBERT/vocab.txt");
        // Change only modelPath. I forgot that Vocab is being written from ja

[2021-02-20 19:46] KonevDmitry opened #677 "Jar incompatibility 2"
Sorry for duplicating messages from closed issue (I cannot reopen it), so for not writing long text I will mention recently written message (if this issue is unneeded, I will delete it, sorry again)
My previous issue:
https://github.com/awslabs/djl/issues/622

And here is duplicated new problem:
@stu1130 Good time of day! Sorry to disturb you again with this issue, but the new bug appeared again w

[2021-02-20 20:10] KonevDmitry commented on #677
I found a solution. There needed extra try-finally,

[2021-02-20 20:10] #677 closed

[2021-02-22 18:02] aksrajvanshi commented on #619
@mymagicpower  From the looks of it, I think you are suggesting the problem in the Bottleneck section. Is this what you're suggesting ?

[2021-02-22 19:39] anfee1 opened #678 "Model View Json Attributes"
## Description
There may be some bug in the json code which causes errors when the server populates the model view fronted. This causes some model attributes to not show up, be inconsistent between models and make it hard when trying to find the uri's to download the model files.

### Expected Behavior

Consistent model uri attributes.

[2021-02-24 23:09] skirdey opened #690 "Possible memory-leak in multi-threading inference using Tensorflow and having org.bytedeco.javacpp.nopointergc=true (CPU)"
## Description
Possible memory-leak in multi-threading inference using Tensorflow and having org.bytedeco.javacpp.nopointergc=true

CPU inference.

### Expected Behavior
Garbage collection removing objects from Old Generation

### Error Message
Java OOM

## How to Reproduce?
Run multi-threaded inference for 30minutes with -Dorg.bytedeco.javacpp.nopointergc=true so you don't have JavaCPP Deallocato

[2021-02-24 23:56] skirdey commented on #690
I have a high level overview of what happens captured via yourkit,
at some point (>30 min of continous predictions), getting a spike in GC collections
<img width="702" alt="Screen Shot 2021-02-24 at 3 30 55 PM" src="https://user-images.githubusercontent.com/5145792/109082281-82799c00-76b8-11eb-9e88-187960c8838d.png">

and pause time:
<img width="655" alt="Screen Shot 2021-02-24 at 3 30 44 PM" src=

[2021-02-26 22:38] samskalicky opened #703 "Provide some way to specify verbosity for loading extra MXNet libraries"
## Description
Currently the default value for `verbose` is 1 causing lots of print statements at runtime like:
[code]

Here is where the value is hard-coded to 1:
https://github.com/awslabs/djl/blob/83c68a10d15574f5b686d9656f5febc082f1e6f0/mxnet/mxnet-engine/src/main/java/ai/djl/mxnet/engine/MxEngine.java#L65

I proposed either we use another env var like `MXNET_EXTRA_LIBRARY_VERBOSE` or somethin

[2021-02-27 10:02] cuongducle opened #706 "Error when inference pytorch encoder model from seq2seq_translation_tutorial pytorch"
## Description
I trainned a encoder model in pytorch  export the model as torch trace.I inferenced the model all right on the same computer in python. But when i load the model on java and run inference the result goes wrong.
[code]

### Expected Behavior
When i inference using DJL.

[code]

### Error Message
[code]

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1.E

[2021-02-28 00:23] skirdey commented on #690
Same benchmark doing multi-threading inference using PyTorch has minimal memory footprint and no GC pauses:
`./gradlew benchmark -Dai.djl.default_engine=PyTorch -Dai.djl.repository.zoo.location="https://alpha-djl-demos.s3.amazonaws.com/model/djl-blockrunner/pytorch_resnet18.zip?model_name=traced_resnet18" --args='-c 100000 -d 1440 -t 10 -s 1,3,224,224'
`
![Screen Shot 2021-02-27 at 4 21 11 PM](htt

[2021-03-01 04:02] karllessard commented on #690
Please see https://github.com/tensorflow/java/pull/229 for a potential fix for this problem in the TF Java library.

[2021-03-01 17:11] lanking520 commented on #706
@cuongducle Have you compared the input shape? The error message is saying there is a mismatch on your tensor size

[2021-03-03 11:01] small-cold opened #720 "ArrayIndex out of range"
https://github.com/awslabs/djl/blob/a491d98ad70610c42210799a15f7a8bb8ed367e5/examples/src/main/java/ai/djl/examples/inference/BertClassification.java#L157

inputs.length is 2 or 1

[2021-03-04 16:28] stu1130 commented on #720
Hi @small-cold nice catch!
would you like to create a PR to fix it?

[2021-03-04 20:29] raghukiran1224 opened #725 "BiLSTM support"
## Description

Support for BiLSTM layer in DJL.

### Will this change the current api? How?
This will add a new API for layers similar to LSTM, CNN, etc. It should not effect any other APIs.

### Who will benefit from this enhancement?
Folks using BiLSTM models, several new models use BiLSTM layers similar to BERT.

## References
- https://guillaumegenthial.github.io/sequence-tagging-with-tensorf

[2021-03-04 22:09] zachgk commented on #725
There is an option for bidirectional as part of the LSTM block. You can set it like:

[code]

Is that what you are looking for?

[2021-03-05 18:37] raghukiran1224 commented on #725
Perfect, thank you @zachgk - this is what I was looking for :)

Closing this issue!

[2021-03-05 18:37] #725 closed

[2021-03-06 03:13] #706 closed

[2021-03-06 08:56] cuongducle commented on #706
The input shape was wrong. Thank you.

[2021-03-08 18:58] #703 closed

[2021-03-09 15:38] ebamberg opened #735 "proxy model download through model server/central"
## Description

At the moment every web-client/browser needs access through firewalls/proxies to download the model using central from the original URL as well as to central.
Instead of that it would be possible that just the central-server is configured to access all necessary network-resources.
The client could just call an URL of the central-server and the server would stream the model-download

[2021-03-11 20:59] ThomasZiegenhein opened #740 "Memory/Device management cpu and gpu"
Great work with the djl package, very nice handling, and great performance!

## Description
I have a machine with a GPU, but I want to use only the CPU for training a model. In general, it works to set the devices to CPU and to compute everything on the CPU. However, the memory of the GPU is still used, which I cannot avoid. A small code example is below taken from a loop over the batches:

[2021-03-11 21:20] stu1130 commented on #740
@ThomasZiegenhein which engine are you using? If you want to train a model with CPU, you can set optDevice(Device.cpu()) in DefaultTrainingConfig

[2021-03-11 22:05] ThomasZiegenhein commented on #740
@stu1130 thanks for the quick answer. I use the MXNet engine

ai.djl.mxnet:mxnet-engine:0.10.0

Yes I use the DefaultTrainingConfig with .optDevices(new Device[]{Device.cpu()}). And nothing is computed on the GPU during training.

I tried a little bit more around and can more specify the problem - sorry if it gets confusing with my initial posting:

My default device (Device.defaultDevice()) is gp

[2021-03-11 22:15] stu1130 commented on #740
@ThomasZiegenhein can I get the code snippet that can reproduce the issue?

Usually when you do any operation on GPU, engine(mxnet) will reserve certain memory as a pool because the cudaMalloc() is pretty expensive. and it will not free the pool until the program(process) exit

[2021-03-12 05:27] skirdey commented on #690
@karllessard is it possible to release tf java 0.2.1 with the hotfix? it doesn't look like a breaking change so a patch would be nice.

DJl uses release versions of TF Java

[2021-03-12 08:20] saudet commented on #690
@skirdey 0.3.0-SNAPSHOT is pretty much up now, so please give that a try, but like I tried to explain on the pull request, I don't believe this will fix any issues for DJL.

[2021-03-12 10:50] ebamberg commented on #591
@frankfliu I would like to pick this up. and at least make a start with the PluginManager/framework.
I have no write access to assign this to me. Can we flag this ?

[2021-03-12 16:33] skirdey commented on #690
The fix could be useful when I do not set nopointergc=True, as it was also
leaking memory just took 70 hours to catch it.

On Friday, 12 March 2021, Karl Lessard ***@***.***> wrote:

[2021-03-12 16:45] saudet commented on #690
The doesn't fix any leak. If there's a leak, it's somewhere else.

[2021-03-12 16:46] stu1130 commented on #690
DJL team can publish 0.11.0-SNAPSHOT that depends on 0.3.0-SNAPSHOT. I am on it.

[2021-03-12 16:50] stu1130 commented on #591
@ebamberg I just assigned it to you

[2021-03-12 19:35] karllessard commented on #690
We just had our community meeting and I’m targeting making a release of 0.3.0 by March 15th with the actual snapshot. Only detail is that the Windows MKL+GPU platform won’t be available for that release (at least not for this date), all other platforms will.

[2021-03-13 08:53] RussiaVk opened #744 "how to do same things in djl ?"
Following is numpy code ,how to do same things in djl ?

`depth_image[depth_image>250]=0`

[2021-03-14 09:03] RussiaVk opened #745 "How to convert NDArray into opencv Mat Type ?"
[code]

Hi there,
Above is some python code ,numpy array can be direct put in cvtColor  as arg.
But in java ,"cvtColor"  function need "Mat" as arg.
I tryed bellow java code,But it gave me exception "Invalid number of channels in input image".
So How to convert NDArray into opencv Mat Type ?

[code]

[2021-03-14 09:07] lanking520 commented on #744
array.set(array.gte(250), 0);

[2021-03-14 09:49] RussiaVk commented on #744
It give me error:
The method set(NDIndex, NDArray) in the type NDArray is not applicable for the arguments (NDArray, int)

[2021-03-15 01:23] frankfliu commented on #745
@RussiaVk
By default, DJL Image class read the data as RGB, and Imgcodecs.imread() as BGR.

See the following example:
[code]

[2021-03-15 04:43] RussiaVk commented on #745
Thank you for your reply

Thank you for your reply，But I just need convert a "UINT8" type of NDArray into Mat Type 。Is any example about that? thinks again !

[2021-03-15 14:37] karllessard commented on #690
Hi, just to let you know that 0.3.0 is now available on Maven Central. Please let us know how it goes with your experiments on this issue, thank you

[2021-03-15 16:36] frankfliu commented on #745
@RussiaVk
[code]

[2021-03-15 20:52] goswamig commented on #2
@shilan did you get a chance to try out latest code ?

[2021-03-15 21:13] goswamig commented on #132
@lanking520  do we have any update?

[2021-03-16 03:59] frankfliu commented on #591
@ebamberg
Github requires you to comments the issue first. Otherwise we are not able to assign it to you. So please comment on the issue if you are interested, then we can assign it to you.

[2021-03-16 09:42] RussiaVk commented on #745
Reall appreciate for your help

[2021-03-16 09:42] #745 closed

[2021-03-16 10:40] ebamberg commented on #591
I commented this issue 4 days ago. Or somewhere else where I have to drop a comment ?

[2021-03-16 16:07] frankfliu commented on #591
@ebamberg This issue is currently assigned to you, you should be able to move the status from "to do" to "In progress". You can find "Projects" section in the right side of this issue.

[2021-03-16 23:42] ThomasZiegenhein commented on #740
@stu1130 thanks for your reply and sorry for my late response.

I try to reproduce it in a minimal example in the next hours/days.

When I use everywhere _Device.cpu()_ (DefaultTrainingConfig, Model,RandomAccessDataset), I get the following error message when I call the _backward()_ method from the GradientCollector ( _Engine.getInstance().newGradientCollector()_ or over the trainer _trainer.newGr

[2021-03-19 02:25] #720 closed

[2021-03-19 08:10] stu1130 commented on #740
That sounds like a bug. Do you have complete error stacktrace for
_MXNet engine call failed: MXNetError: Check failed: !AGInfo: :IsNone(*i)_

[2021-03-19 09:16] eix128 opened #759 "What about IOS support with RoboVM Java ?"
Is this framework runs on pure java or any JNI stuff wrapper ?
We all know with MobiDevelop RoboVM with Libgdx we can run
Java apps.

But will this framework works accross these platforms ?
And what about mxnet , tensorflow models ? Are they wrapper by jni ? will they work on RoboVM IOS like frameworks ?

And microej is also framework on java for microcontrollers.
Will this framework on microej ?

[2021-03-19 11:59] DjToMeK27 opened #760 "Running mxnet demo on arm64, unsatisfied link"
Hello

I have tried running
https://github.com/aws-samples/djl-demo/tree/master/android/mxnet-android
demo .

I have a problem on arm64 devices.  I tried running it on my Pixel 3a and Samsung Galaxy
I have downloaded arm64-v8a_native.zip file an copied it into
jniLibs/arm64-v8a

https://i.imgur.com/qSKOrGX.png

but I get an error
Native library (android-aarch64/libmxnet.so) not found in resource p

[2021-03-19 16:17] frankfliu commented on #759
@eix128
DJL sits on top of those three engines' native library:
1. We use JNA to invoke MXNet C API
2. We wrote JNI to invoke PyTorch C++ API
3. We use JavaCPP to invoke Tensorflow C API.

Currently DJL doesn't support iOS out of the box. In order to run on iOS, you need first build the engine and their JNI code for iOS.

I'm not sure about RoboVM since it's no longer maintained, It looks like Gra

[2021-03-19 21:49] stu1130 commented on #760
Hi @DjToMeK27 I think 4 common ABIs are [`x86`, `x86_64`, `armeabi-v7a` and `arm64-v8a`](https://developer.android.com/ndk/guides/abis). It should cover 95% coverage. You don't need android-aarch64/libmxnet.so and just use `arm64-v8a` for 64 bit arch

[2021-03-20 02:37] skirdey commented on #690
We tried it out and the memory still leaks, very fast when nopointergc=true and it takes 5 hours to halt when nopointergc=false
@karllessard @saudet

[2021-03-20 02:50] stu1130 commented on #690
Like @skirdey mentioned
Here is my setting.
c5.2xlarge instance with jvmArgs -Xmx256m (make it easier to be OOM)
command:
[code]
`-Dorg.bytedeco.javacpp.nopointergc=true` took 2m 31s
`-Dorg.bytedeco.javacpp.nopointergc=false` took 5h 11m 6s

[2021-03-20 07:28] saudet commented on #690
@stu1130 Can you point us to the code in DJL for that benchmark?

[2021-03-20 07:33] stu1130 commented on #690
https://github.com/awslabs/djl/blob/master/examples/src/main/java/ai/djl/examples/inference/benchmark/MultithreadedBenchmark.java

[2021-03-20 08:04] saudet commented on #690
I mean, what does it end up calling in TF Java? For example, @roywei says that

It sounds like there are dangling references to "constant operands" that are not closed with their sessions. Why is that? How do you make sure they get deallocated?

[2021-03-21 00:50] saudet commented on #690
Another thing you need to be careful about is that, currently, all output Tensor objects are not closed when a Session is closed, but you need to make sure that all output tensors are closed before the Session is closed. If you do not close all output Tensor before closing their Session, even if they are closed later on, that may still result in memory leaks. It's a bit weird, and I hope the peopl

[2021-03-21 02:35] breandan opened #763 "TrainBertOnCode demo does not work"
## Description

Running the [`TrainBertOnCode`](https://github.com/awslabs/djl/blob/master/examples/src/main/java/ai/djl/examples/training/TrainBertOnCode.java) demo fails with an error.

### Expected Behavior

`TrainBertOnCode` should not fail.

### Error Message

[code]

## How to Reproduce?

Run the `TrainBertOnCode` demo.

### Steps to reproduce
(Paste the commands you ran that produced the er

[2021-03-21 08:34] MaleicAcid opened #765 "How to use djl for time series forecasting (如何使用djl进行时间序列预测)"
Hello, I want to use djl for time series forecasting. I have trained a pytorch model(Transformer) and converted it to torchscript format
I have consulted the official documents and examples, but I still don’t know how to write Translator and use DJl to call the pt model for time series forecasting.

The input of my model is four tensors, and the shape is as follows:
torch.Size([32, 96, 6])
torch.S

[2021-03-21 22:40] stu1130 commented on #765
Here is the sample translator
[code]

[2021-03-22 00:20] stu1130 commented on #690
When TfNDArray.close(), the operand is set to null.

My understanding is that when we create Tensor from EagerSession or Session, the pointer to Tensor is attached to EagerSession/Session. Now with new fix, the Tensor is hold with WeakReference and therefore could be released by GC. How does it result in memory leaks? When we close the EagerSession/Session, shouldn't it free all attached Tensors?

[2021-03-22 06:34] DjToMeK27 commented on #760
@stu1130  hello.
Yes I have arm64-v8a also added to my project but it does not seem to work. As said I have only problems with this type of ABI, others work ok. Will check if I misses something, but it does look like the library is looking in the wrong directory

[2021-03-22 07:11] frankfliu commented on #760
@DjToMeK27
On Android, DJL relay on android system to set to proper java.library.path.
com.sun.jna.Native.load() function underneath is calling System.loadLibrary(), It must be some mismatch at android layer.

[2021-03-22 07:26] stu1130 commented on #760
What error did you get? If it is `not found`, it should be config problem on android layer as @frankfliu mentioned. If it is UnsatisfiedLink error in native library, it probably due to broken native library. We can try to rebuild it from source

[2021-03-22 08:02] DjToMeK27 commented on #760
As said, native library not found

This is whole message

`2021-03-22 08:58:32.086 19596-19660/? E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #1
    Process: ai.djl.examples.mxnet_android_template, PID: 19596
    java.lang.RuntimeException: An error occurred while executing doInBackground()
        at android.os.AsyncTask$4.done(AsyncTask.java:415)
        at java.util.concurrent.FutureTask.finish

[2021-03-22 08:04] stu1130 commented on #760
@DjToMeK27 Thanks will try to rebuild libmxnet.so

[2021-03-22 09:17] stu1130 commented on #760
@DjToMeK27 please try again. I re-uploaded the new arm64-v8a libmxnet

[2021-03-22 10:28] eix128 commented on #759
No RoboVM is actively maintained by team named MobiDevelop
https://github.com/MobiVM/robovm

Also don't forget that RoboVM is using LLVM and LLVM is always alive project.

So , it will be good to support RoboVM.
So that DJL can run on IOS.

RoboVM is using Bro binder.That is similar to JNI or you can use JavaCPP , it has Bro Binding capability automatically.

[2021-03-22 12:04] DjToMeK27 commented on #760
@stu1130 it works now! Thank you! <3

[2021-03-22 12:22] #760 closed

[2021-03-22 15:07] karllessard commented on #690
The behavior is not the same in eager or graph mode.

In eager mode, it is true that the lifetime of a `Tensor` is attached to an eager session and closing this session will release all tensors it has implicitly allocated (e.g. when converting operations results to [a tensor](https://github.com/tensorflow/java/blob/5ca958d855307b19f420288f90cbe6dea164411c/tensorflow-core/tensorflow-core-api/src/ma

[2021-03-22 23:52] stu1130 commented on #690
Thanks @karllessard for those pointers. We will try to close tensors for both EagerSession/Session ASAP.

[2021-03-23 00:57] saudet commented on #690
The current implementation is incorrect, but they are not concerned about this issue. Please make sure TF Java knows that you would like this to be fixed.

That's not true. I've explained this many times already, so I won't try to reexplain this here, but with the way you've "fixed" this, leaks will still happen, unless of course everything is done manually.

[2021-03-23 08:32] MaleicAcid commented on #765
Thank you very much for the sample code, I tried it,
When I use ctx.getNDManager() to create a manager in processInput(TranslatorContext ctx, NDList input) like the sample, I get the following error:
[code]

Then I tried to create a manager in the main() function, and the model can successfully predict
[code]
Run output:
[code]
Why can't I use ctx.getNDManager() to create a manager in processInput

[2021-03-23 10:35] stu1130 commented on #765
Hi @MaleicAcid, we don't support cuda 11.1 for pytorch 1.7.1. You need to downgrade to cuda 11.0. We will release latest pytorch 1.8.0 with cuda 11.1 support on 0.11.0. Stay tuned!

[2021-03-24 04:06] karllessard commented on #690
Hi @stu1130 ,

I was experimenting with DJL's benchmark this evening and while I cannot draw conclusions yet on the TF side, I've noticed that the benchmark is collecting multiple metrics on each inference, which are being piled up in a list for the whole duration of the test and reaching the millions in number after a few hours. While instances of `Metric` seem quite small in size, it could be in

[2021-03-24 10:57] saudet commented on #690
To clarify what I wrote above, the "issue" I'm referring to isn't the one in this thread about memory leaks in DJL, but another one concerning the incorrect use of WeakReference that @stu1130 inquired about. I think everyone is on the same page about fixing memory leaks in general, and right now we can avoid them by making sure that everything gets deallocated manually. Even if we started using We

[2021-03-24 14:20] Craigacp commented on #690
When running the benchmark above I get a bunch of warnings out of JavaCPP. @saudet any idea what's causing that?
[code]

[2021-03-24 21:28] lanking520 commented on #744
https://numpy.org/doc/stable/reference/generated/numpy.where.html, DJL has this method as `NDArray.where`. It can solve your issue for now. In 0.11.0 we will add a new set method allow you to throw booleanMask

[2021-03-25 13:45] karllessard commented on #690
So here's some interesting results to share on my side. As I've suggested in my previous [post](https://github.com/awslabs/djl/issues/690#issuecomment-805471267), I've explicitly disabled the collection of DJL metrics inside the benchmark and I was able to complete successfully the task in 18 hours on my Ubuntu laptop with only 128Mb of JVM memory, without OOM (GC was enabled).

Now that does not

[2021-03-25 17:53] KonevDmitry opened #793 "How to "return offset mappings" like in hugging face tokenizers?"
Good time of day!

How to "return offset mappings" like in hugging face tokenizers for BERT model?
Or, to be more exact, how to return position in original untokenized sequence (text) along with tokens?

Example what I want:

Input sequence:
[code]

 Output:
[code]

I already implemented needed tokenizer and now I have only tokens from output. How can I find indexes of this tokens? (I hope, there

[2021-03-25 22:45] stu1130 commented on #690
@karllessard Thanks for the experiment. Yeah we did add lots of metrics objects so that could be one of root cause of OOM. But our goal is long-running inference with disabled GC to get best performance. I am doing a large refactoring on our TF engine and try to close the native resource ASAP.

[2021-03-25 23:58] Craigacp commented on #690
I ran the benchmark a few times on a lightly loaded server (using Broadwell Xeons), using 10 threads for 500 iterations (as any more made the nopointergc version go pop). I ran each one three times to see if the scores were consistent which they were (around 1 point either side for the throughput number) and I've pasted the middle run for each version below. There doesn't seem to be much differenc

[2021-03-26 00:15] skirdey commented on #690
./gradlew benchmark -Dorg.bytedeco.javacpp.nopointergc=true
-Dai.djl.default_engine=TensorFlow -Dai.djl.repository.zoo.location="
https://storage.googleapis.com/tfhub-modules/tensorflow/resnet_50/classification/1.tar.gz?artifact_id=tf_resnet"
--args='-n tf_resnet -t 10 -c 1000000 -s 1,224,224,3'

OOMs for me in a few minutes on my laptop

On Thu, Mar 25, 2021 at 4:59 PM Adam Pocock ***@***.***>
wr

[2021-03-26 00:18] Craigacp commented on #690
I think we'd recommend you leave the GC on unless it noticeably slows things down. I was wondering if there is a benchmark which shows a slowdown with the GC on.

[2021-03-26 00:20] karllessard commented on #690
@skirdey, `nopointergc` must not be set to true. Also, you might need to comment out [this line](https://github.com/awslabs/djl/blob/215226750783d15a06e492e4ea96c429f8d2f103/examples/src/main/java/ai/djl/examples/inference/benchmark/MultithreadedBenchmark.java#L136) in the benchmark as I did, since metrics collected by DJL during the benchmark ends up taking a lot of space, please read my [previou

[2021-03-26 00:40] skirdey commented on #690
For my use-case, I can not really have a blocking thread listening for GC -
I run Scala / Akka on my end and it somehow affects entire ecosystem
performance.

On Thu, Mar 25, 2021 at 5:20 PM Karl Lessard ***@***.***>
wrote:

[2021-03-26 00:52] Craigacp commented on #690
Do you have this problem with Java 9 cleaners too? They are increasingly used inside the JVM to deal with resource cleanup and it's basically the same idiom.

[2021-03-26 00:53] skirdey commented on #690
Still on Java 8 :/

On Thursday, 25 March 2021, Adam Pocock ***@***.***> wrote:

[2021-03-26 06:08] skirdey commented on #690
I'll try out the new fix with nopointergc=false and report back.

On Thu, Mar 25, 2021 at 5:53 PM Stan Kirdey ***@***.***> wrote:

[2021-03-26 13:18] karllessard commented on #690
Thanks @skirdey , if you are running the benchmark please don't forget to disable DJL's metrics since they are leaking.

[2021-03-26 15:53] ThomasZiegenhein commented on #740
Sorry for the delay, I prepared a minimum example here:

https://github.com/ThomasZiegenhein/MinExGPUCPUdjl

It seems that the gradient collector is not attached to the model. I don't really see from the API how I can check if it is attached or the gradients are recorded -  I used the EasyTrain.java from the djl/example repo to make it more general. The error stack trace is:

Exception in thread "

[2021-03-26 21:07] lanking520 commented on #744
Now you should be able to do the above operation in 0.11.0-SNAPSHOT :). Close this issue for now. please feel free to reopen if you are still facing the same issue.

[2021-03-26 21:07] #744 closed

[2021-03-27 14:48] ThomasZiegenhein commented on #740
The problem was, that the gradients of the Parameter.array (NDArray) are not attached when I load an MXNet Model from outside in.
since the Parameter.array is private, I cannot really call `array.attachGradient(gradientFormat)` from outside with the standard Gradle releases. The workaround is to call initialize on the parameters - since the parameters are initialized/loaded, the Parameter.array is

[2021-03-28 08:51] lanking520 commented on #793
Hi @KonevDmitry Can you point me to the Python code and examples? Basically there is a dictionary (vocabulary) provided by the model, most of the BERT model has a single standard for it. You can just map token into indices.

[2021-03-28 09:58] KonevDmitry commented on #793
@lanking520 Hi!
If I understood correctly, mapped indices from tokens will return token position inside vocabulary while I need position in input sequence.

Here are details what I need:
Firstly, here is the documentation from [hugging face](https://huggingface.co/transformers/main_classes/tokenizer.html). Parameter is called "return_offsets_mapping". To be brief, text needed to be mentioned is: `

[2021-03-29 07:34] stu1130 commented on #690
@saudet I am testing against mine new refactoring that purely depends on Javacpp layer. What we do now is to disable GC, track every native resource and close them as soon as we don't need it. But I found there is a small incremental leak on native memory. Is there a way to find it out? I tried the command you showed in another issue. Does it only work on Pointer attached to a PointerScope? Or it

[2021-03-29 08:28] saudet commented on #690
@Craigacp It just means that the `jnijavacpp` library itself is missing, but same as https://github.com/tensorflow/java/issues/189#issuecomment-760594392, we can ignore those warnings, unless we get some other loading error that is...
<br>

When "org.bytedeco.javacpp.nopointergc" is true, JavaCPP won't be trying to use GC, so we're not going to get any "Collecting ..." lines in the debug log. You'

[2021-03-29 14:43] stu1130 commented on #690
I did another same test (GC is enabled && setMetric is commented out && jvmArgs = ["-Xmx128", "-Xmx128m"]) but unfortunate got
[code]
Maybe I am using a more powful CPU machine (c5.2xlarge) so small objects like Pointer got accumulated faster to reach OOM

[2021-03-29 19:49] lanking520 commented on #793
From my understanding, this is just some python logics to build the output. DJL current did not offer similar options generate offset_mapping. In fact, all currently avaiable tokenizer are purely implemented in Java referring to the HuggingFace python logic.

It should be straightforward for you to implment these in Java. Just some regex and space removal operations. The offset mapping is just add

[2021-03-29 20:19] KonevDmitry commented on #793
Ok, thank you!

[2021-03-29 20:19] #793 closed

[2021-03-29 22:00] karllessard commented on #690
This is strange, indeed, and not easy to debug if I cannot reproduce it on my side. @Craigacp , do you still have access to these fast machines so we can run the same test on them?

BTW, TF Java 0.3.1 has been released this morning which not only fixes a leak with the new string tensor but also potentially another leak (never observed so far) that could happened when closing multiple graph session

[2021-03-30 01:02] saudet commented on #690
@stu1130 128 MB is not a lot of memory for the JVM itself + a couple of things from TF and DJL.
Make sure to try with something a bit larger like at least 256 or 512 MB as well.

[2021-03-30 15:36] stu1130 commented on #690
@saudet I tested mine new refactoring(1G jvm size && nopointergc=true) and it went OOM after 2 hours. I used the jconsole and found native memory is pretty stable but old gen kept growing until OOM exception with several old gen GC attempts. will share my experiment witth nopointergc=false (GC enabled)

[2021-03-30 21:07] markbookk opened #802 "sequenceMask method throws error when NDArray dimension is 2 but `use_sequence_length` is True"
## Description
Currently sequenceMask in MxNDArray.java throws an error if the dimensions is 2 and `use_sequence_length` is set True (which currently is always the case).

### Expected Behavior
Only throw error when dimensions of NDArray is less than 3 and `use_sequence_length` is False. If `use_sequence_length` then throw error if less than 2.

### Error Message
`sequenceMask is not supported for

[2021-03-30 21:08] markbookk commented on #802
@frankfliu @stu1130 @zachgk

[2021-03-31 07:47] stu1130 commented on #690
@saudet
Experiment:
* -Xmx512m -Xms512m G1GC
* -Dorg.bytedeco.javacpp.nopointergc=true
* OOM within 1 hour

Here is JVM dump 3,4 mins before OOM. I tried to hit the perform GC button looks like `DeallocatorReference` and `NativeDeallocator`, and `AtomicInteger` are root cause of the leak.
<img width="823" alt="Screen Shot 2021-03-31 at 3 44 37 PM" src="https://user-images.githubusercontent.com/679

[2021-03-31 17:30] jonathanfostercannon opened #803 "sklearn onnx TFIDF"
## Description

I found this onnx sklearn implementation https://docs.djl.ai/jupyter/onnxruntime/machine_learning_with_ONNXRuntime.html, and am exploring DJL Onnx as a solution to implement tfidf vectorization as found here: http://onnx.ai/sklearn-onnx/auto_examples/plot_tfidfvectorizer.html#sphx-glr-auto-examples-plot-tfidfvectorizer-py

The conversion from python happens here--

[code]

and the

[2021-03-31 17:55] frankfliu commented on #803
@jonathanfostercannon We added String tensor support in 0.11.0-SNAPSHOT version, you should be able to create String type NDArray: https://github.com/awslabs/djl/blob/master/api/src/main/java/ai/djl/ndarray/NDManager.java#L261
[code]

[2021-03-31 18:31] frankfliu commented on #803
@jonathanfostercannon You need add snapshot maven repo:
[code]

[2021-03-31 19:39] jonathanfostercannon commented on #803
@frankfliu sorry, I'm still getting the type error:

[code]

Which was the previous error.

my gradle build:

[code]

I'm a bit confused, the signature of the method you posted is `create(String[] data)`, but when I remove the Shape from the call above-- `create(stringQuery.query, new Shape(1, 1))` -- I get a null error.

[2021-03-31 20:08] frankfliu commented on #803
`NDManager` only expose `create(String[] str)` API, if you want to call `create(String[] str, Shape shape)`, you have to use `OrtNDManager`:

[code]

And you have to change your dependency:
[code]

If you include pytorch engine with onnxruntime engine, you may not be able to OrtNDManager.

[2021-04-01 08:39] saudet commented on #690
Yes, I've noticed as well. I fixed this in commit https://github.com/bytedeco/javacpp/commit/7f27899578dfa18e22738a3dd49701e1806b464a along with proper testing for that case. Sorry about that. In practice though, there is little to be gained by disabling GC entirely. As long as we make sure to deallocate explicitly everything we're not going to lose any performance.

Incidentally, this gives us a

[2021-04-01 09:04] stu1130 commented on #690
@saudet awesome! I was testing my new code with explicit deallocator call when I am done with that pointer. Looks like I don't need to create that PR! So I can now totally rely on PointerScope without any explicit deallocate() call right? Or do you still recommend to add deallocate call at the end of PointerScope? The reason why we would like nopointergc=true is not only about GC but we don't want

[2021-04-01 09:37] saudet commented on #690
PointerScope.close() ends up calling Pointer.deallocate() under the hood, so it's the same as calling it directly. In other words, it's explicit deallocation that doesn't rely on GC. About System.gc(), another way to prevent calls to that is by setting maxBytes to 0, but that's already being done in DJL by default:
https://github.com/frankfliu/djl/blob/master/tensorflow/tensorflow-engine/src/main/

[2021-04-01 10:15] stu1130 commented on #690
That's all I need. Thanks. I checked javacpp 1.6.0-SNAPSHOT but found the fix https://github.com/bytedeco/javacpp/commit/7f27899578dfa18e22738a3dd49701e1806b464a is not included yet. Let me know when it is available. I would like to try it out!

[2021-04-01 10:43] saudet commented on #690
It's in 1.5.6-SNAPSHOT: https://github.com/bytedeco/javacpp/blob/7f27899578dfa18e22738a3dd49701e1806b464a/pom.xml#L7

1.6.0-SNAPSHOT is something else that's probably not going to happen.

[2021-04-01 15:16] stu1130 commented on #690
@saudet So far I didn't find accumulating DeallocatorReference & NativeReference any more with new the fix!
One more question, what is the life cycle of the "Pointer" returned by TF_TensorData(TF_Tensor)? Should we call close() or deallactor()? I found it doesn't call setNull() so isNull() is always false even if I close the TF_Tensor.

[2021-04-01 17:37] skirdey commented on #690
accumulating DeallocatorReference & NativeReference is what I also saw in the root of the thread, so it is awesome that it is fixed! I don't think that there were any other issues when running DJL / TF / nopointergc=true in prod, but need to try run inference again at scale.

[2021-04-01 19:25] aksrajvanshi commented on #740
@ThomasZiegenhein I tried running your code with the given changes. Did you make any other changes since I get the gradient values are all zeros error.

[2021-04-01 19:37] ThomasZiegenhein commented on #740
@aksrajvanshi yes the gradients are zeros (labels = 0 equals predictions = 0) - the error was that the gradient collector didn't have any NDArrays attached. So when the gradients are zero - the collector has them attached and everything works as it should. For me, the gradients were attached when the MXNet model was loaded on the GPU, but were not attached when the model was loaded on the CPU. Cal

[2021-04-01 19:43] aksrajvanshi commented on #740
Ok. The reason I asked was I made the changes you did and still getting the gradient zero error. I see the parameters are getting initialized.

[2021-04-01 19:52] ThomasZiegenhein commented on #740
The gradient zero is not the problem, when you don't initialize the MXModel by hand, you get `MXNet engine call failed: MXNetError: Check failed: !AGInfo: :IsNone(*i)` , which was the problem.

[2021-04-01 20:06] aksrajvanshi commented on #740
I understand :) The reason I'm asking about it is even after the fix you suggest, the code is throwing errors.

[2021-04-01 20:21] ThomasZiegenhein commented on #740
Ouh, yeah I am sorry :) The example case might be too simple, I created the example to show the original error. I think my example MXModel which is loaded in might produce no non-zero-gradients, with an MLP created with djl it was actually training when I remember correctly.

[2021-04-02 00:24] saudet commented on #690
`TF_TensorData()` is just a C function that returns a pointer and doesn't allocate anything. The `Pointer` object it returns is merely a wrapper around a `long` value, so we don't need to worry about it. `Pointer.close()` doesn't do anything when a deallocator hasn't been registered, that's normal.

There should be no discernible difference in speed between JavaCPP 1.5.5 with maxBytes = 0 and Java

[2021-04-02 01:46] doctorbean opened #807 "How to use djl to transform image Base64 to NDArray or Tensor"
## Description

(A clear and concise description of what the feature is.)

Will this change the current api? How?
maybe
Who will benefit from this enhancement?
CV developer
## References
- list reference and related literature
- list known implementations

[2021-04-02 01:47] lanking520 opened #808 "Model does not check for equality"
## Description

Currently DJL does not support check if two zipped model are the same or not. If two zip files contains same name, DJL will trying to reload the old model and ignore the new one.

To reproduce:

Create a MXNet zipped model and load it. Then create a PyTorch zipped model with the same name. You will find PyTorch is trying to load the MXNet model.

[2021-04-02 03:14] frankfliu commented on #807
@doctorbean
You can use java built-in Base64 encoder to decode the base64 string to byte[] and use ImageFactory to convert to NDArray:
[code]

[2021-04-02 03:30] doctorbean commented on #807
thanks

---Original---
From: "Frank ***@***.***&gt;
Date: Fri, Apr 2, 2021 11:15 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [awslabs/djl] How to use djl to transform image Base64 to NDArray or Tensor (#807)

@doctorbean
 You can use java built-in Base64 encoder to decode the base64 string to byte[] and use ImageFactory to convert to NDArray:
 byte[] buf = Base64.getDecode

[2021-04-02 21:27] #637 closed

[2021-04-03 06:38] enpasos opened #813 "MuZero on DJL - need advice on stability"
I have implemented MuZero with DJL  ([source code](https://github.com/enpasos/muzero)) following closely DeepMind's paper. I have tested it on the trivial game TicTacToe on a single GPU (NVIDIA GeForce RTX 3090). Starting from scratch it learns perfect play within 100.000 training steps and 4.000.000 game plays in a little less than a day.

However, likely due to my lack of deep DJL knowledge, som

[2021-04-03 12:12] nikkisingh111333 opened #815 "Just A Question?regarding gpu"
hey can anybody tell me is djl jupyter kernel provide online GPU training cos i dont have gpu in my machine.please do tell me

[2021-04-03 17:22] frankfliu commented on #815
@nikkisingh111333
You can run DJL jupyter notebook on the machine which has GPU. We are working on a blogpost about running DJL jupyter notebook on AWS SageMaker.

You can also run DJL jupyter notebook on Google Colab. But you need install IJava kernel manually.

[2021-04-03 19:27] nikkisingh111333 commented on #815
So sir please can you provide me guide of how can I setup dJL on Google
colab I m almost a begginer due to My java environment I just stopped using
deeplearning4j cause it's something broken library ...Please send me some
guide on how to setup djl on colab for faster GPU online training..Glad

On Sat 3 Apr, 2021, 10:53 PM Frank Liu, ***@***.***> wrote:

[2021-04-05 07:47] anandvsr opened #818 "Unknown builtin op: torchvision::nms"
### build.gradle
[code]
### Predict.java
[code]

[2021-04-05 10:12] stu1130 commented on #818
@anandvsr nms is TorchVision operator that we don't support. It is still blocked by https://github.com/pytorch/vision/issues/2692.

[2021-04-05 17:28] #815 closed

[2021-04-05 17:42] nikkisingh111333 opened #824 "MXNET GPU CUDA missmatch Problem?"
hey i m  new here ,today i have successfully install ijava kernel in google colab and java is running successfully BUT when i train i got this ERROR :
`ai.djl.engine.EngineException: MXNet engine call failed: MXNetError: Compile with USE_CUDA=1 to enable GPU usage
Stack trace:
 File "src/storage/storage.cc", line 119
 at ai.djl.mxnet.jna.JnaUtils.checkCall(JnaUtils.java:1909)
at ai.djl.mxnet.jna.J

[2021-04-05 17:50] zachgk commented on #824
What are you maven/gradle dependencies? It looks like you are using the CPU MXNet (ai.djl.mxnet:mxnet-native-mkl:1.7.0-backport:linux-x86_64). It doesn't include support for GPU. You should switch to either the GPU version or auto (ai.djl.mxnet:mxnet-native-auto). See the [MXNet Engine docs](http://docs.djl.ai/mxnet/mxnet-engine/index.html) for more details

[2021-04-05 17:55] nikkisingh111333 commented on #824
heres my dependency check it out:
`%maven ai.djl:api:0.10.0
%maven ai.djl:basicdataset:0.10.0
%maven ai.djl.mxnet:mxnet-engine:0.10.0
%maven ai.djl.mxnet:mxnet-model-zoo:0.10.0
%maven org.slf4j:slf4j-api:1.7.26
%maven org.slf4j:slf4j-simple:1.7.26
%maven net.java.dev.jna:jna:5.3.0
// See https://github.com/awslabs/djl/blob/master/mxnet/mxnet-engine/README.md
// for more MXNet library selection opt

[2021-04-05 18:02] aksrajvanshi commented on #824
Depending on your OS, you should be using `ai.djl.mxnet:mxnet-native-auto:1.7.0-backport` for windows, `ai.djl.mxnet:mxnet-native-cu102mkl:1.7.0-backport:linux-x86_64` - CUDA 10.2
`ai.djl.mxnet:mxnet-native-cu101mkl:1.7.0-backport:linux-x86_64 `- CUDA 10.1 for linux and the corresponding CUDA version.

[2021-04-05 18:12] nikkisingh111333 commented on #824
i understand but what about mxnet whats the current MXnet Version and Which cuda version should i use ?

[2021-04-05 19:08] nikkisingh111333 commented on #824
when im running your code i m getting runtime exception here:
`java.lang.RuntimeException: Exception occurred while running line magic 'maven': Error resolving 'ai.djl.mxnet:mxnet-native-cu101mkl:1.7.0-backport:linux-x86_64-CUDA-10.1'. [unresolved dependency: ai.djl.mxnet#mxnet-native-cu101mkl;linux-x86_64-CUDA-10.1: not found, unresolved dependency: ai.djl.mxnet#mxnet-native-cu101mkl;linux-x86_64

[2021-04-05 19:26] aksrajvanshi commented on #824
Before loading the libraries, try running this command

`!curl -O https://raw.githubusercontent.com/aws-samples/d2l-java/master/tools/colab_build.sh && bash colab_build.sh`

Once you run this, switch the run time to java and using GPU in Colab.

It's the same example as this -> https://colab.research.google.com/github/aws-samples/d2l-java/blob/colab/chapter_multilayer-perceptrons/mlp-scratch.ipynb

[2021-04-05 19:52] nikkisingh111333 commented on #824
maven error has been gone BUT the main issue still here:
`ai.djl.engine.EngineException: MXNet engine call failed: MXNetError: Compile with USE_CUDA=1 to enable GPU usage
Stack trace:
File "src/storage/storage.cc", line 119
`
Now what ????

[2021-04-05 20:30] aksrajvanshi commented on #824
Now the Cuda 10.1 or 10.2 should work. Try import these through maven like this:

`%maven ai.djl.mxnet:mxnet-native-cu101mkl:1.7.0-backport` or

`%maven ai.djl.mxnet:mxnet-native-cu102mkl:1.7.0-backport`

[2021-04-06 10:02] nikkisingh111333 commented on #824
issue not resolving ..still getting the same error ....i dont know what to
do now ?

On Tue, 6 Apr 2021 at 02:00, aksrajvanshi ***@***.***> wrote:

[2021-04-06 15:55] aksrajvanshi commented on #824
Try `pip install mxnet-cu102` ?

[2021-04-06 17:09] nikkisingh111333 commented on #824
i have tried it but not working ..  i have checked *!nvidia-smi* cmd and
its showing CUDA version 11.2 running..now how to match cuda with mxnet
version...and one more thing..is this error will also occur in Tensorflow
DJL engine or anyother if i will try my hand on it..if this does'not
resolve..please guide me through ?

On Tue, 6 Apr 2021 at 21:25, aksrajvanshi ***@***.***> wrote:

[2021-04-06 17:13] aksrajvanshi commented on #824
I think you need to update your CUDA version to 10.2 from the CUDA website. https://developer.nvidia.com/cuda-downloads

@frankfliu @zachgk Could you help me in resolving this problem ?

[2021-04-06 17:13] lanking520 commented on #813
Do you have more detailed log of your program? Or code I can take a look?

[2021-04-06 17:24] nikkisingh111333 commented on #824
How do I do that? Does google colab by default 11.2 cuda enabled ....How
can I update it..

On Tue 6 Apr, 2021, 10:43 PM aksrajvanshi, ***@***.***> wrote:

[2021-04-06 17:48] enpasos commented on #813
Hi @lanking520, thank you for looking at the problem. At the moment I can not provide more logging information. If you have something in mind I could switch on, just tell me. You find the source code that I run at https://github.com/enpasos/muzero. Any hint, like "known problem due to typical misusage" or "likely a stability problem in ... that is fixed with version ..." would help.

[2021-04-06 18:24] nikkisingh111333 commented on #824
Hey when I see in depth I see when I m executing criteria api for. Model
building I m also getting this ..

No matching cuda flavour for linux found:cu100mkl/sm_75.

Now what does it mean?

On Tue 6 Apr, 2021, 10:53 PM Nikki Singh, ***@***.***> wrote:

[2021-04-06 20:33] lanking520 commented on #813
If there is a warning message about the Model is not closed. It usually caused by the Resource not closed before the process ends. So if you see the warning there, probably the process itself already killed itself. You can try to track the memory consumption of your application and make sure there is no memory leak during the training process.

[2021-04-06 20:33] #807 closed

[2021-04-06 20:55] zachgk commented on #824
Did you figure out how to get the right CUDA? DJL MXNet only supports CUDA 10.1 and 10.2, so you need to install either of those versions on colab. DJL auto engine is using CPU because it could not find a compatible CUDA version on your machine (and 11.2 is not currently compatible).

To install CUDA, I think you can just treat the Colab as a linux machine and install it directly.

[2021-04-07 05:30] enpasos commented on #813
@lanking520 Thank you for your hints. I will investigate in this direction.

[2021-04-07 06:33] anandvsr commented on #818
Thank you!

[2021-04-07 06:33] #818 closed

[2021-04-07 09:28] nikkisingh111333 commented on #824
i m a window guy so i dont know how to install....specially on colab which
is a cloud platform...can you please guide me or give any reference where i
can download CUDA 10.2 ?

On Wed, 7 Apr 2021 at 02:25, Zach Kimberg ***@***.***> wrote:

[2021-04-07 16:17] aksrajvanshi commented on #824
https://www.geeksforgeeks.org/how-to-run-cuda-c-c-on-jupyter-notebook-in-google-colaboratory/

Try the steps in the link and get the CUDA version fixed to 10.1/10.2 and try again.

[2021-04-07 17:53] #802 closed

[2021-04-07 18:29] nikkisingh111333 commented on #824
okk i ll check it out

On Wed, 7 Apr 2021 at 21:48, aksrajvanshi ***@***.***> wrote:

[2021-04-07 21:56] #763 closed

[2021-04-08 04:50] meteorlin opened #830 "How to train model on Android?"
I implemented this [tutorial](https://github.com/awslabs/djl/blob/6ec9256c8deb104dff71250cec91aad5e0d968d7/jupyter/tutorial/02_train_your_first_model.ipynb) in Android Studio, but the program runs to `trainer.initialize(new Shape(1, 28 * 28));` error occurred. The error log is as follows:
[code]
The dependencies of this project:
[code]
Is there any solution? Thanks in advance.

[2021-04-08 04:54] stu1130 commented on #830
Hi @meteorlin PyTorch doesn't support training on Android.

[2021-04-08 04:58] meteorlin commented on #830
Thanks for your quick answer. Are there other frameworks to replace?

[2021-04-08 12:00] nikkisingh111333 commented on #824
problem is not resolving i ve tried all commands :
FOR REMOVING CUDA VERSION
`!apt-get --purge remove cuda nvidia* libnvidia-*
!dpkg -l | grep cuda- | awk '{print $2}' | xargs -n1 dpkg --purge
!apt-get remove cuda-*
!apt autoremove
!apt-get update`

FOR INSTALLING CUDA 10.1:

`!wget  --no-clobber https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64/cuda-repo-ubuntu1804_10.1.1

[2021-04-08 13:21] nikkisingh111333 commented on #824
UPDATE:i ve again re run everything from scatch ..
1.install mx-cu101 succesfully
2.remove cuda 11 succesfully
3.install cuda 10.1 succesfully
4.rerun java dependencies mx-101
now i m getting this error while executing Criteria api;
**`WARN ai.djl.engine.Engine - Failed to load engine from: ai.djl.mxnet.engine.MxEngineProvider
ai.djl.engine.EngineException: Failed to load MXNet native library`**
b

[2021-04-08 16:26] lanking520 commented on #830
Maybe you can take a look at here: https://github.com/alibaba/MNN. MNN support training on device

[2021-04-08 16:38] meteorlin commented on #830
Thanks a lot!

[2021-04-08 16:38] #830 closed

[2021-04-08 17:25] lanking520 commented on #824
@nikkisingh111333 can you provide me the project files (in a zip?) and I can take a look from there. By the way, which OS you are using here?

[2021-04-08 17:30] nikkisingh111333 commented on #824
i m using ubuntu 18-04 ...but i m window guy ..by default colab is using ubuntu 18-04...can i send you my ipynb file so that you can open it in your colab and check it out ..just after doing some cleaning ....should i ?

[2021-04-08 18:16] nikkisingh111333 commented on #824
heres my ipynb file in Zip  :

[Cifar10_New(2)(3)(1)(1)(1).zip](https://github.com/awslabs/djl/files/6280659/Cifar10_New.2.3.1.1.1.zip)

[2021-04-08 21:57] aksrajvanshi commented on #824
@nikkisingh111333
Thanks for the code! So, you can do the following things. It's not the best workaround but it works!

Stay in the Python runtime and run this command:

`!curl -O https://raw.githubusercontent.com/aws-samples/d2l-java/master/tools/colab_build.sh && bash colab_build.sh`

Refresh the page and stay at the Python runtime on GPU. Run the following commands then:

[code]

You should see

[2021-04-09 09:14] hackedbyxx opened #838 "PaddlePaddle ocr example crashed"
## Description
(A clear and concise description of what the bug is.)
PaddlePaddle ocr example crashed when i ocr another picture
![20181230_c2222f5782a5420e8b42d89e585a11e8](https://user-images.githubusercontent.com/19482737/114158134-f2856e00-9956-11eb-8ddc-97a46d32ce6c.jpeg)
### Expected Behavior
(what's the expected behavior?)
JVM crashed
### Error Message
(Paste the complete error message, inc

[2021-04-09 09:53] nikkisingh111333 commented on #824
its running smooth as ice....thanks brother....you are great..can you please share me what i was doing wrong so that i can avoid making this mistake..? again thank you so much

[2021-04-09 15:26] aksrajvanshi commented on #824
@nikkisingh111333 Great! So this wasn't exactly your problem. This is more of a colab problem. First of all, MXNet needed Cuda 10.1 or 10.2 to work.

Secondly, DJL needs the libcudart file at the $LD_LIBRARY_PATH environment variable which wasn't there. Initially LD_LIBRARY_PATH was pointing to /usr/lib64-nvidia. We created a symbolic link that allowed DJL to locate the libcudart file.

We can try

[2021-04-09 16:23] nikkisingh111333 commented on #824
Awesome, thanks! Please just let me update if you change or Do anything
special with colab so that I can adapt quickly .....I m gladly looking
forward to see it.

On Fri 9 Apr, 2021, 8:57 PM aksrajvanshi, ***@***.***> wrote:

[2021-04-09 16:28] #824 closed

[2021-04-09 16:38] lanking520 commented on #838
Hi @hackedbyxx thanks for reporting the issue.

It should have fixed in the 0.11.0-SNAPSHOT.

You can try with this jar through adding the https://github.com/awslabs/djl/blob/master/examples/pom.xml#L17-L22 SNAPSHOT repo.

You can use the nightly snapshot to fix that.

Or otherwise, simply patch the code change in here: https://github.com/awslabs/djl/pull/775 to your PaddleOCR translator and it sh

[2021-04-09 16:54] lanking520 commented on #824
@aksrajvanshi as a further action, can you update the colab instruction in D2L book so we can automate this process next time?

[2021-04-09 17:26] hackedbyxx commented on #838
Ok,thanks

[2021-04-10 05:56] enpasos commented on #813
@lanking520 Thanks for you directive. My picture is clearing up. I have a fix candidate and I am testing. Looks like DJL code works like a sharm and the "bug" was on my side using the DJL code.

I can imagine that google/deepmind's muzero is of broader interest due to its proven power to perform, its generallity and its simplicity. Therefore it deserves a better interfacing to DJL than my current

[2021-04-10 15:34] matheso opened #843 "BufferedImageUtils import not found"
All of the DJL docs and examples online include `import ai.djl.modality.cv.util.BufferedImageUtils` but this import is not found.

I cloned the git repo, built the project, successfully ran `ObjectDetection.java` example , but now I'm trying [this example ](https://towardsdatascience.com/deep-java-library-djl-a-deep-learning-toolkit-for-java-developers-55d5a45bca7e) which uses `MyTranslator`.

How

[2021-04-10 16:51] lanking520 commented on #843
Can you show me your pom file configuration? Apart from that, you should try to use `Image` and `ImageFactory` instead to achieve Image related transtormation tasks.Apart from that, there is no `BuffereImageUtils` in DJL.

Looks like the way you load the image is wrong, try to use ImageFactory.load() instead.

[2021-04-10 17:02] frankfliu commented on #843
@matheso
BuffereImageUtils has been replaced by ImageFactory. It looks like you are using a old version. The Blog was using DJL 0.2.0, you can find the updated example in our demo github: https://github.com/aws-samples/djl-demo/tree/master/footwear_classification

[2021-04-10 17:49] matheso commented on #843
Thank you both, `ImageFactory `solved it.

I was relying on examples at [https://github.com/awslabs/djl/tree/master/examples](https://github.com/awslabs/djl/tree/master/examples)

I've started over using the `footwear_classification` example and am currently training the model.

Thanks for the quick replies.

[2021-04-10 18:10] #843 closed

[2021-04-12 13:27] nikkisingh111333 opened #846 "Tensorflow Docs not working?"
hey ,i want to train a object detector and want to do it in tensorflow..rather than MxNet...heres what i m doing following the docs provided on djl website :
**MY SETUP**
`!curl -O https://raw.githubusercontent.com/aws-samples/d2l-java/master/tools/colab_build.sh && bash colab_build.sh
!sudo rm /usr/local/cuda
!ln -s /usr/local/cuda-10.1 /usr/local/cuda
!ln -s /usr/local/cuda/lib64/libcudart.so /u

[2021-04-12 14:29] stu1130 commented on #846
@nikkisingh111333 we don't support TensorFlow training. Currently only MXNet engine is fully supported for training capability. PyTorch is still working in progress and has not yet well-tested.

[2021-04-12 16:14] enpasos commented on #813
@lanking520  My tests are ok now. With my fix and the latest DJL snapshot build I do not see the issue anymore. Therefore I can move on with the project. Thanks a lot ... and sure I would be very happy about more advice about how to do a better interfacing to DJL in the area described in my previous comment. However, it would not be fair to keep this issue open for it.
**Problem Solved :-)  Thank

[2021-04-12 16:14] #813 closed

[2021-04-12 16:25] enpasos opened #847 "PyTorch 1.8.1 - CUDA 11.1 - Windows 10 - unsatisfied link"
I am running into a Problem on a MS Windows 10 OS.

With  djl.version=0.11.0-SNAPSHOT and

[code]
on CUDA 11.1 I get a java.lang.UnsatisfiedLinkError. I see links to the following libraries that are not found
![dll_missing](https://user-images.githubusercontent.com/9622808/114427652-9707ea00-9bbb-11eb-8212-a2ba5ba34549.PNG)

on CUDA 10.2 (on a Turing GPU) everything works fine.

[2021-04-12 17:05] lanking520 commented on #847
@goswamig Please check the CUDA dependencies missing issue.

[2021-04-12 17:11] nikkisingh111333 commented on #846
okk so it means i cannot import tensorflow model which i hve trained on
teachable machine into djl...please i want to ask few things:
1.how can i train ssd model oer any other object detector in djl..i mean
fine tune it..all example i m seeing are just using pre trained model
instead of training them on out own dataset
2.when will be TF for djl
please i want to create some awesome projects which i

[2021-04-12 21:24] zachgk commented on #846
You can find examples of training in https://github.com/awslabs/djl/tree/master/examples/src/main/java/ai/djl/examples/training

[2021-04-12 21:31] lanking520 commented on #847
Looks like we are missing packages around here. Do you find any other packages that are missing? @enpasos

[2021-04-13 03:09] lanking520 commented on #847
We tried to fix it with : #850 and #852. Please try again once the nightly build is passed: https://github.com/awslabs/djl/actions/runs/743340536

[2021-04-13 05:25] enpasos commented on #847
Thanks.
Nightly build says past.
I still get the unsatisfied link exception on
![grafik](https://user-images.githubusercontent.com/9622808/114500952-5646ba00-9c29-11eb-968e-92f8e2e9914e.png)

In dependency analyser I see
![grafik](https://user-images.githubusercontent.com/9622808/114500738-f6e8aa00-9c28-11eb-81aa-28cf9d28050a.png)
and in my filesystem
![grafik](https://user-images.githubuserconten

[2021-04-13 05:45] lanking520 commented on #847
@enpasos you can clean up cache, like delete .djl.ai and try again.

[2021-04-13 05:56] enpasos commented on #847
@lanking520 deleted .djl.ai and .m2 ... tried again ... same picture as reported above

[2021-04-13 05:59] lanking520 commented on #847
@enpasos can you try with auto package? This change is not on Maven snapshot yet

[2021-04-13 06:02] enpasos commented on #847
@lanking520 What do I have to do for "auto package"?

[2021-04-13 06:04] enpasos commented on #847
Is it more than
![grafik](https://user-images.githubusercontent.com/9622808/114504270-e804f600-9c2e-11eb-9677-2fb593625214.png)

[2021-04-13 06:19] lanking520 commented on #847
@enpasos Nope, let me clean up the cloud front cache and help you out。 Now please try again

[2021-04-13 06:53] enpasos commented on #847
@lanking520 Thank you. Now the two missing dependencies are there. Java still complains but my dependency analyser says ok. I will investigate ... will take some time.

[2021-04-13 07:50] lanking520 commented on #847
@enpasos try to set a break point here: https://github.com/awslabs/djl/blob/master/pytorch/pytorch-engine/src/main/java/ai/djl/pytorch/jni/LibUtils.java#L120 and debug line by line. Let me know which line you hit the unsatisfied link issue

[2021-04-13 09:14] hackedbyxx commented on #838
I've tried to change to the 0.11.0-SNAPSHOT,but it cant't  import package in the repository https://oss.sonatype.org/content/repositories/snapshots/

[2021-04-13 19:05] enpasos commented on #847
@lanking520

I debugged LibUtils ... it was not reaching the code you added ... but after adding the libraries to the "load later set" it worked and the "unsatisfied link" problem diappeared

![grafik](https://user-images.githubusercontent.com/9622808/114606682-dd347a80-9c9b-11eb-9f75-559bb020ba27.png)

[2021-04-13 19:26] lanking520 commented on #847
@enpasos nice catch! I will apply this change accordingly

[2021-04-13 19:32] lanking520 commented on #838
So
[code]
This doesn't work? @frankfliu do we have any spare repos?

[2021-04-13 20:37] enpasos commented on #847
I checked out the lates code with #854, compiled it, tested -> **problem solved**

[2021-04-13 20:37] #847 closed

[2021-04-14 09:26] hackedbyxx commented on #838
![image](https://user-images.githubusercontent.com/19482737/114687514-6dc79500-9d46-11eb-9039-ae3434ff75fe.png)
Yes,it seems doesn't work

[2021-04-14 09:37] hackedbyxx commented on #838
Yes,it seems doesn't work

[2021-04-14 23:07] lanking520 commented on #838
@hackedbyxx can you share your pom.xml here? I can help to take alook

[2021-04-15 01:02] hackedbyxx commented on #838
@lanking520
<?xml version="1.0"?>
<project xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
         xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <modelVersion>4.0.0</modelVersion>
    <parent>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-starter

[2021-04-15 03:16] hackedbyxx commented on #838
@lanking520 I've solved this problems by remove all the mirrors in maven setting,thanks

[2021-04-15 12:33] nikkisingh111333 opened #858 "NullPointerException on trainer initializing"
hey why i m getting error while setting shape with trainer and initializing it heres my code:

**_`_ Model model = Model.newInstance("pikachu-ssd");
            float detectionThreshold = 0.6f;
            // load parameters back to original training block
            model.setBlock(ssd);
             // append prediction logic at end of training block with parameter loaded
            Block ssdTr

[2021-04-15 17:02] zachgk commented on #858
It looks like you are using a Jupyter notebook. If you want to use a debugger to help figure it out, it may be easier to switch to an IDE. What block are you using? Are you working based on the [TrainPikachu](https://github.com/awslabs/djl/blob/master/examples/src/main/java/ai/djl/examples/training/TrainPikachu.java) example?

[2021-04-15 17:25] nikkisingh111333 commented on #858
yes i m just getting started to play with detection problems...and trainPickachu example itself messy ..i mean i just did most of the part...i m using sequential block as ...evrything is copied from example...what i m doing wrong ..?

[2021-04-16 02:34] jiasu-hezhip opened #859 "Provide fast adaptation between Maven and springboot"
When I deployed a pytorch project, I didn't learn how to build a server with Python, and I was very familiar with Java, so I want that a java project can directly use the trained pytorch model. Djl is a good project, but i hope to provide Maven support and project management integrated in SpringCloud.

[2021-04-16 03:21] hackedbyxx opened #860 "Raspberry Pi 4B Failed to load MXNet native library"
When I first  run,it shows dowload info,it looks like has download  the library, but even I can't see the path /root/.djl.ai/ from the error message `Native library (root/.djl.ai/mxnet/1.7.0-backport-mkl-linux-x86_64/libmxnet.so) not found in resource path`,
I tried to read the issue  #375 , and download mxnet on Raspberry ,but i don't know how to be used on DJL

[2021-04-16 03:23] #838 closed

[2021-04-16 04:35] frankfliu commented on #860
DJL doesn't provide native library for Rassberry PI by default. You have to build MXNet from source and copy libmxnet.so file manually to your machine.
then you need to set MXNET_LIBRARY_PATH environment variable:

[code]

See: http://docs.djl.ai/docs/development/troubleshooting.html#4-how-to-run-djl-using-other-versions-of-apache-mxnet

[2021-04-16 04:40] frankfliu commented on #859
DJL package is published to maven central, you can use maven to create your project.

DJL examples uses both gradle and maven build script, you can find the pom.xml: https://github.com/awslabs/djl/blob/master/examples/pom.xml

DJL also support Srpingboot starter: https://github.com/frankfliu/djl-spring-boot-starter
And you can find demo for using springbootstarter: https://github.com/frankfliu/djl

[2021-04-16 04:58] frankfliu commented on #48
We already have YOLO model, we can close thise now.

[2021-04-16 04:59] #63 closed

[2021-04-16 05:01] aksrajvanshi commented on #740
@ThomasZiegenhein So the problem seems to be from the model loading. The model loaded needs to have a layer that has params with attached gradients. In your case, if we look into the `lossValue`, the property `hasGradient()` evaluates to false. That is because the model you imported doesn't have params with gradients attached and nothing to do learning from.

@frankfliu can add more to it if you f

[2021-04-16 05:01] frankfliu commented on #93
Now have an example of face feature extraction: https://github.com/awslabs/djl/blob/master/examples/src/main/java/ai/djl/examples/inference/face/FeatureExtraction.java

[2021-04-16 05:01] #93 closed

[2021-04-16 05:04] frankfliu commented on #587
Now we have brew installation support:
[code]

[2021-04-16 09:42] nikkisingh111333 commented on #858
hey i m waiting for reply please suggest me something kindly...

[2021-04-16 11:43] #846 closed

[2021-04-16 16:39] zachgk commented on #48
This is for a Yolo imperative model (as we only have SSD). We only have a symbolic one

[2021-04-16 16:48] zachgk commented on #858
Looking at your code again, you are setting the model to use ssdPredictBlock, but it should be ssdTrainBlock. The SingleShotDetectionLoss is expecting the output you would get from a train block

[2021-04-16 17:58] nikkisingh111333 commented on #858
i dont understand what it is...predict block inheriting ssdtrain box then adding output to it makes it fully connected network thats what i m assuming should be done....would you please like to send me the code with a little bit of modification that you are talking about..please ?

[2021-04-16 19:03] aksrajvanshi commented on #858
[code]

In your code, the line `model.setBlock(ssdPredict); ` should be `model.setBlock(ssdTrain); ` since you had your Block named as ssdTrain just the line before. Your model comprises of Block structure.

[2021-04-17 18:53] nikkisingh111333 commented on #858
It worked. training is happening now ....

On Sat, 17 Apr 2021 at 00:33, aksrajvanshi ***@***.***> wrote:

[2021-04-18 13:12] nikkisingh111333 commented on #858
hey after doing training on testing phase i m getting this result :
![Screenshot (52)](https://user-images.githubusercontent.com/49682940/115146760-88b34580-a075-11eb-89e6-b206288025b6.png)

my questions are:
is Non-Maximum Suppression happening bydefault or i need to make one and how ?
how to get bounding box covering all region ?
sugest me please

[2021-04-19 19:09] zachgk commented on #858
There doesn't seem to be non-maximum suppression, so you would have to implement it yourself. You can use http://d2l.ai/chapter_computer-vision/anchor.html as a reference.

You shouldn't need to get a bounding box covering all regions, as the model should give you one. Note that the pikachu dataset is a simple example and I believe it uses the same image of pikachu as well. I don't think it would

[2021-04-19 19:11] nikkisingh111333 commented on #858
Thanks for the tip! But what should I do? Now from here...And how will I
implement this model on my own dataset ...Please suggest me

On Tue 20 Apr, 2021, 12:39 AM Zach Kimberg, ***@***.***>
wrote:

[2021-04-20 09:50] nikkisingh111333 commented on #858
anchor parts seems too much complicated ...how can i simply get bounding
box of size of an object....please suggest something .?

On Tue, 20 Apr 2021 at 00:41, Nikki Singh ***@***.***> wrote:

[2021-04-20 17:40] zachgk commented on #858
That is how. The model is not working right here. It should look like a single bounding box surrounding the entire pikachu. Because the model is not working well, it is seeing this single pikachu and thinking that it is many pikachus

If the model were working well, it should look like this: https://github.com/deepjavalibrary/djl/blob/master/examples/docs/object_detection.md where single bounding

[2021-04-20 19:54] nikkisingh111333 commented on #858
OKK so what should i suppose to do now...???? ....should try yolo ..and train again....???

[2021-04-20 20:11] zachgk commented on #858
I think the problem you are having here is just that the image is too big. The dataset is really stupid and only has the same exact pikachu image in the same exact size. That reason all of the bounding boxes the model is guessing are the same size is because it learned that there is only 1 correct pikachu size. But, your image has a bigger pikachu which is different from what it learned. You would

[2021-04-22 03:11] codeMan2018 opened #887 "ai.djl 0.10.0 & pytorch-native-auto 1.8.1 may conflict"
When I ran this case (https://docs.djl.ai/jupyter/load_pytorch_model.html), the following problems occurred：
`If you have recently updated the caffe2.proto file to add a new device type, did you forget to update the DeviceTypeName() function to reflect such recent changes?`

If I change ‘pytorch-native-auto’ version to 1.7.1, its all right, So is there a conflict between  ai.djl 0.10.0 and pytorch

[2021-04-22 03:15] frankfliu commented on #887
@codeMan2018 Thanks for reporting this issue.

pytorch 1.8.1 can only work with DJL 0.11.0-SNAPSHOT. You have to use pytorch 1.7.1 if you are using DJL 0.10.0.

Will update the document to make it clear.

[2021-04-22 10:28] yanchaoguo commented on #93
这种方式提取的特征长度是固定的吗

[2021-04-22 11:52] nikkisingh111333 commented on #858
hey can you tell me where i can find this new BoundingBox(----) class all i
m seeing is just interface not actuall class ..
heres my code :
`
DetectedObjects detectedObjects = predictor.predict(image);
                image.drawBoundingBoxes(detectedObjects);

                // return number of pikachu detected
                 detectedObjects.getNumberOfObjects();
                  Map<String, L

[2021-04-22 15:55] frankfliu commented on #93
For this model the output length is fixed.

[2021-04-22 15:59] frankfliu commented on #858
BoundingBox is an interface, there are three built-in implementations:
1. ai.djl.modality.cv.output.Rectangle
2. ai.djl.modality.cv.output.Mask
3. ai.djl.modality.cv.output.Landmark

In your cases, you can directly use Rectangle

[2021-04-22 16:03] nikkisingh111333 commented on #858
Thanks, I'll check it out. But I can't find Landmark class..Rectangle and
point mark are already there but where landmark..I m implementing face
detection translator where landmark is used..But cannot find symbol error
is popping...???

On Thu 22 Apr, 2021, 9:30 PM Frank Liu, ***@***.***> wrote:

[2021-04-22 17:49] frankfliu commented on #858
Landmark class in in the master branch: https://github.com/deepjavalibrary/djl/blob/master/api/src/main/java/ai/djl/modality/cv/output/Landmark.java

It's only available in 0.11.0-SNAPSHOT version.

[2021-04-22 23:19] yanchaoguo opened #891 "About recommender system"
请问有没有推荐系统中召回或排序的例子以及文本分类的例子

[2021-04-23 00:41] yanchaoguo commented on #93
可惜该模型只能提取人脸特征

[2021-04-23 04:38] yanchaoguo commented on #93
模型文件和一些dll文件 国内无法访问

[2021-04-23 06:02] frankfliu commented on #93
There are a lot of feature vector models on TF hub: https://tfhub.dev/s?module-type=image-feature-vector

It should be very straightforward to load with DJL.

[2021-04-23 10:25] nikkisingh111333 commented on #858
so it means i need to change it to cuda 11 and pytorch 11..

On Thu, 22 Apr 2021 at 23:19, Frank Liu ***@***.***> wrote:

[2021-04-23 15:57] frankfliu commented on #858
pytorch 1.8.1 still have cuda102 package: http://docs.djl.ai/pytorch/pytorch-engine/index.html#linux-gpu

[2021-04-24 10:36] nikkisingh111333 commented on #858
okk but how can i install cuda 10.2 for pytorch i currently have 10.1 ..i m googling for an hour but not getting it...i m getting this error always when i m loading pytorch model ..i m guessing this error is related to cuda version incompatibility..

`java.lang.NoClassDefFoundError: Could not initialize class ai.djl.repository.zoo.DefaultModelZoo
at ai.djl.repository.zoo.Criteria$Builder.optModelU

[2021-04-25 07:40] yanchaoguo opened #897 "get error when run FeatureExtraction"
本地已下载，但无法加载dll库，错误如下：

Exception in thread "main" ai.djl.engine.EngineException: Failed to load PyTorch native library
	at ai.djl.pytorch.engine.PtEngine.newInstance(PtEngine.java:58)
	at ai.djl.pytorch.engine.PtEngineProvider.getEngine(PtEngineProvider.java:40)
	at ai.djl.engine.Engine.getEngine(Engine.java:152)
	at ai.djl.engine.Engine.getInstance(Engine.java:117)
	at ai.djl.examples.inference.f

[2021-04-25 16:43] frankfliu commented on #897
@yanchaoguo
DJL use JNI load pytorch native library, each version of DJL can only work with one specific PyTorch version.
DJL 0.11.0-SNAPSHOT can only work with pytorch 1.8.1,
DJL 0.10.0 can only work with pytorch 1.7.1

We need make it clear in our document. Working on a documentation improvement.

[2021-04-26 08:33] qshian opened #899 "PredictorContex 在线预测中表现太差了"
![image](https://user-images.githubusercontent.com/7300976/116052631-642a1f80-a6ac-11eb-8248-412829706d82.png)

我们用DJL 0.11.0-SNAPSHOT和tensorflow-core-platform 0.3.1分别测试。
都是通过 jni的方式调用，发现 djl的性能比tensorflow-core-platform差的太多了。

![image](https://user-images.githubusercontent.com/7300976/116053313-1feb4f00-a6ad-11eb-9a68-9fcd44b12554.png)

[2021-04-26 12:16] nikkisingh111333 opened #900 "Pytorch Error On ModelLoading"
hey i cannot get over from pytorch error i m struggling from 2 days.. heres what i want MY CODE below:

**GETTING CUDA 10.2 READY**

[code]

**IMPORTING PAKAGES**

[code]

[code]

**MY CODE**

[code]

I Ignore Translator code because its too long and i m guessing its unneccesary too ..i just wanted to keep this issue clean and simple..

**HERES THE ERROR POPING UP**
`java.lang.NoClassDefFoundError

[2021-04-26 16:11] frankfliu commented on #899
@qshian
We benchmarked 0.10.0 with tf-java, we didn't see any difference. We made significant changes in 0.11.0-SNAPSHOT due to tf-java memory leak issue, and we still work on it.

Would you please share you benchmark script so we can try to reproduce your test?

[2021-04-26 16:33] lanking520 commented on #900
@nikkisingh111333 0.10.0 only works with PyTorch 1.7.1, so that means you need to make the folloowing changes:

[code]

to

[code]

Apart from that, please remove the following packages to avoid modelzoo initialization conflict:

[code]

[2021-04-26 16:45] frankfliu commented on #897
@yanchaoguo I updated pytorch document: https://github.com/deepjavalibrary/djl/pull/898

[2021-04-26 16:45] #897 closed

[2021-04-26 16:46] frankfliu commented on #887
@codeMan2018 I updated pytorch document: https://github.com/deepjavalibrary/djl/pull/898

Feel free to reopen this issue if you have further questions.

[2021-04-26 16:46] #887 closed

[2021-04-26 16:48] frankfliu commented on #900
I updated pytorch document, see: https://github.com/deepjavalibrary/djl/tree/master/pytorch/pytorch-engine#installation

[2021-04-26 17:09] nikkisingh111333 commented on #900
Thanks! i m goona check it out then i ll report you immediately..

On Mon, 26 Apr 2021 at 22:18, Frank Liu ***@***.***> wrote:

[2021-04-26 20:17] frankfliu commented on #891
You may want to take a look this example: https://github.com/deepjavalibrary/djl-demo/tree/master/apache-beam/ctr-prediction

You should be able to find many regression model for XGBoost, DJL support XGBoost now, you can use XGBoost train your model and use DJL to run XGBoost model

We also support fastText/blazingText, you can find text classification example here: https://github.com/deepjavalibr

[2021-04-26 22:29] hodovo opened #901 "PyTorch inference freezing for 5-7 seconds on new batch size for GPU."
## Description
When using an object detector with PyTorch Engine, for each model there is a required "warmup" period that occurs. This only happens on GPU devices and not CPU. This warmup period is usually the 1st prediction of any newly submitted batch size that isn't the very 1st prediction. So the 1st prediction made will always take slightly longer (400-500ms vs. 10-300ms) and then the 2nd pre

[2021-04-27 04:38] lanking520 commented on #901
I do saw similar issue before. It is fairly common to see the warm up time for all general GPU applications. The first inference usually requires more data preallocation on CUDA and also CPU-GPU memory copying time.

I haven't test on models with random batch sizes. But based on my past experience working on DL framework, changing batch size will require reallocation on GPU memory, it will cause a

[2021-04-27 04:40] lanking520 commented on #899
@qshian 可以加我微信帮你看看benchmark的部分：lankingsonic

[2021-04-27 04:45] #808 closed

[2021-04-27 05:38] hodovo commented on #901
I can currently circumvent this issue by performing this warmup process on the predetermined batch sizes I want to support, however this slows down the startup of the application incredibly so. If I want to load 15 models, each of them I want to support different batch sizes for dynamic batching support like TorchServe and Triton Inference Server, that will require a startup time of (6000*N)*M whe

[2021-04-27 05:52] lanking520 commented on #901
@hodovo That's a really good catch. We can enable this setting through a flag in JNI. What you can do is, add a new function in JNI:

https://github.com/deepjavalibrary/djl/blob/master/pytorch/pytorch-native/src/main/native/ai_djl_pytorch_jni_PyTorchLibrary_inference.cc

After that, you can do:

[code]

I would suggest to use an IDE like CLion to write since it can do all indexing for you.

This s

[2021-04-27 06:04] frankfliu commented on #901
I think we can turn it off in Model.load(path, options) instead of using System property.
User can set the option:
[code]

[2021-04-27 06:07] hodovo commented on #901
I do not have much experience in this but I am going to give it my best shot. I will provide updates as I go :)

[2021-04-27 06:09] frankfliu commented on #901
@hodovo
I noticed you creating Predictor in the loop, means your Predictor only used once per batch. We recommend to reuse Predictor per thread.

[2021-04-27 06:10] hodovo commented on #901
That is just for the test code. In my library, I have a predictor queue where it uses a fixed amount of predictors equal to the amount of workers for a given detector.

[2021-04-27 06:15] hodovo commented on #901
It is working! No warmup required. I will now begin integrating it with JNI to allow for usage as @frankfliu mentioned with the Criteria/Model loading.

[2021-04-27 06:34] hodovo commented on #901
@frankfliu I don't believe it will work per model as that seems to be an engine wide configuration. I can implement it as a system property instead as @lanking520 suggested.

[2021-04-27 06:56] hodovo commented on #901
I just finished the implementation. Should I create a pull request for review?

[2021-04-27 07:01] frankfliu commented on #901
@hodovo Yes, please.

[2021-04-27 07:26] hodovo commented on #901
I just made the pull request @frankfliu. Thank you all very much for the help so far.

[2021-04-27 12:58] yanchaoguo commented on #891
Ctr这个例子里说是deepfm   可在inference阶段 没看到modelzoo通过Criteria加载deepfm模型啊  莫非默认就是吗

[2021-04-27 15:27] frankfliu commented on #891
In the example, you need specify system properties: `-Dai.djl.repository.zoo.location=./deepfm`

This will tell DJL to scan `./deepfm` folder to find models.

[2021-04-27 22:07] lanking520 commented on #901
Just merged this PR, @hodovo if you don't mind, please also include your finding and this option in the https://github.com/deepjavalibrary/djl/blob/master/docs/development/inference_performance_optimization.md#pytorch document.

[2021-04-27 22:08] hodovo commented on #901
Awesome. I will go ahead and add that later tonight and submit another pull request. Thank you again for all the help. I look forward to contributing more in the future :)

[2021-04-27 23:21] yanchaoguo commented on #891
通过Criteria设置modelpath也可以加载本地的模型吧

[2021-04-27 23:32] yanchaoguo commented on #891
通过Criteria设置modelpath也可以加载这个模型吧，还有拿到模型网络结构后如何使用djl处理自己的数据集 得到一个不错的模型呢

[2021-04-28 17:35] lanking520 opened #913 "Update PyTorch document to include the setOptimizer option"
## Description
Needs to update the
https://github.com/deepjavalibrary/djl/blob/master/docs/development/inference_performance_optimization.md#pytorch document.

Findings: https://github.com/deepjavalibrary/djl/issues/901

[2021-04-28 21:22] hodovo commented on #913
I just made the pull request. Sorry for the delay. @lanking520

[2021-04-29 00:08] #913 closed

[2021-04-29 00:08] lanking520 commented on #901
@hodovo Thanks for your findings and contribution. Close this issue for now, please feel free to reopen if you are still observing similar ones.

[2021-04-29 00:08] #901 closed

[2021-04-29 00:10] lanking520 commented on #899
We identified a recent change that causing the performance issue, already raised the PR to revert that change:

https://github.com/deepjavalibrary/djl/pull/909

Will keep monitoring on the newer change to avoid similar issues.

[2021-04-29 11:59] nikkisingh111333 commented on #900
thanks   it workedd.......??????

[2021-04-29 11:59] #900 closed

[2021-04-29 12:44] nikkisingh111333 opened #918 "SSD Custom DataSet Error ??"
Hey ...i m making HandGesuture Detection ....heres my data Pipeline...Correct Me If im doing anything wrong...

**Builder builder = ImageFolder.builder();
    builder.setRepositoryPath(Paths.get("//content//drive//MyDrive//Colab Notebooks//train_gesture//"));
    builder.optPipeline(
        new Pipeline()
            .add(new Resize(416,416))
            .add(new ToTensor()));
    builder.setSamp

[2021-04-29 18:08] zachgk commented on #918
I think your problem is that you are using the ImageFolderDataset which is a dataset for image classification (see CV applications at https://javadoc.io/doc/ai.djl/api/latest/ai/djl/Application.CV.html). But, your model is a model for object detection. Both your model and dataset need to be for the same application.

[2021-04-30 09:53] nikkisingh111333 commented on #918
how can i create ObjectDetectionDataset....i cant find any clue....please share some info ?

[2021-04-30 16:04] frankfliu commented on #918
I think you have to create your own dataset.
1. You need a metadata file for your label, similar to index.file for [PikachuDetection](https://github.com/deepjavalibrary/djl/blob/master/basicdataset/src/main/java/ai/djl/basicdataset/cv/PikachuDetection.java#L98)
2. You can leverage some of ImageFolder code to scan the files
3. You need a way to link the and label by it's filename.

[2021-04-30 16:14] nikkisingh111333 commented on #918
Can you please me refer to some code for dataset.creation....I m unable to
find any help from docs..

On Fri 30 Apr, 2021, 9:34 PM Frank Liu, ***@***.***> wrote:

[2021-04-30 17:18] nikkisingh111333 commented on #918
thanks but this is for csv dataset...i already work with that ...i want to create object detector databaase...i have two folders of 1000 images each..two folders represent two classes...how can i make it one...can you send some code pieaces if available..please..?

[2021-04-30 17:32] frankfliu commented on #918
Here is the code in PikachuDetection the extract the boundbox label from Json file:
https://github.com/deepjavalibrary/djl/blob/master/basicdataset/src/main/java/ai/djl/basicdataset/cv/PikachuDetection.java#L97-L111

And CocoDetection is using a more complicated label data structure:
https://github.com/deepjavalibrary/djl/blob/master/basicdataset/src/main/java/ai/djl/basicdataset/cv/CocoDetection.

[2021-04-30 17:42] nikkisingh111333 commented on #918
thanks i m gonna check it out then i'll report you ...

[2021-05-01 06:42] hodovo opened #922 "Add support for Float16 to PyTorch Engine."
## Description

Add Float16 support to pytorch engine.

Will this change the current api? How?

This will allow the user to run more performant inference using fp16 models rather than fp32. Java does not have 2 byte float support natively, however, we can use a short (2 bytes) to store the bytes of the fp16 and then parse it with some bitwise operations.

Who will benefit from this enhancement?

U

[2021-05-01 19:05] frankfliu commented on #922
@hodovo This is great initiative.
Java doesn't natively support float16/uint8, this makes API a bit complicated.
You changes definitely improved user experience when using float16. Please go ahead and submit a PR.

On the other hand, we also need to consider what the best way for java user to create a float16 NDArray from java data type.
It's not clear to me what's the preferred way to create floa

[2021-05-01 19:57] frankfliu commented on #899
@qshian
I did benchmark test between tf-java and DJL, and I got completely opposite result as your test.

### Test configuration
- Model: mobilenet v2 from DJL model zoo, you should be able to benchmark your local mode (only support float32, need change benchmark script to support other datatype). see: http://docs.djl.ai/docs/development/benchmark_with_djl.html#local-directory
- Machine: AWS EC2 c

[2021-05-02 02:41] hodovo commented on #922
I just made a pull request #924. The goal of the design was to avoid making major changes across the code base to improve support of dataType. I look forward to any and all feedback :)

[2021-05-03 13:31] nikkisingh111333 opened #928 "Not A Bug ..BoundingBox creation?"
Hey i m using retinaFaceDetector and i m getting bounding box array like this:
`[x=0.338, y=0.286, width=0.364, height=0.466]`
i m searching for drawBoundingBox implementation so that i can get some info regarding how to make bounding boxes..but all i m seeing is just interface of name Image but no class that implemented it in docs..how can i navigate to Image interface implemented class..for boun

[2021-05-03 21:00] zachgk commented on #928
If you are looking to ask questions, you can put them in the [Q&A section of the discussion forum](https://github.com/deepjavalibrary/djl/discussions/categories/q-a) instead of titling your issue "Not a bug".

You can create an `Image` object by using:

[code]

[2021-05-04 00:45] wangtieqiao opened #932 "Djl Mxnet Engine train performance 6x+ slower than Python tensorflow 2.4.1"
## Description
Not sure why Djl/Mxnet training is so much slower than Tensorflow, from what I read online, it should be other way around. I did a test with random data set, and result are:
Dataset:
- X (1_500_000, 500)
- y(1_500_000,1)
- batch size 1024x32
- Train on CPU for 10 epochs, with MLP hidden layers (1024, 128, 32)

Python tensorflow: elapsed **123** seconds
while Djl/Mxnet elapsed **831*

[2021-05-04 07:01] nikkisingh111333 commented on #928
Okk I will take care of it next time....Actually that's not my problem ..I have already created bounding box on image..But I want to extract x y w h coordinated and use them with opencv..I m creating facial key point detection and adding some features using key points for that I first need to extract facial part ..Which I m guessing I can do it with opencv for that I need coordinated .. I m using

[2021-05-04 12:34] hmf opened #937 "Remove final from EasyTrain so that we can extend it"
## Description

I am working on data with labels but do not use those labels for learning and inference - unsupervised learning with auto-encoders. I do need the labels later for validation though, so creating a `DataSet` that sets the `labels` to be the same as the `data` and loosing the label information, won't solve my problem. To get this working, I changed  [EasyTrain.java](https://github.com

[2021-05-04 17:35] zachgk commented on #928
They are a a percentage of the image size. Just multiply x and width by imageWidth (600). Multiply y and height by imageHeight (600).

[2021-05-04 17:40] zachgk commented on #937
This seems reasonable. Would you like to open a PR?

You will probably have to add a "@SuppressWarnings" annotation to the EasyTrain as well because one of our checkers thinks utility classes should be final.

[2021-05-04 18:11] nikkisingh111333 commented on #928
okk i get it ....i watched deeplearning4j tinyyolo example recently 5 min ago..thanks for your confirmation .....

[2021-05-04 18:11] #928 closed

[2021-05-05 13:20] macster110 opened #940 "TensorFlow engine not found when exported to a runnable jar file"
## Description
We have a large project in which we use djl to allow users to load acoustic deep learning models. The djl library is packaged within a single dependency (jdl4pam) generated from a[ seperate project](https://github.com/macster110/jpam). During development everything was working great, however, when we packaged the project into a jar file, the TensorFlow based classifiers stopped work

[2021-05-05 17:14] cho-m opened #941 "[Homebrew] Checking into uploaded djl-serving v0.11.0 SHA difference"
At Homebrew, we are seeing a SHA mismatch described here: Homebrew/homebrew-core#76668
This is for the file: https://djl-ai.s3.amazonaws.com/publish/djl-serving/serving-0.11.0.tar

Due to security reasons, we would like to confirm the reason for retagging / SHA difference.

I see that the `djl-serving` formula was added back in March to download v0.11.0, while this GitHub repo shows that v0.11.0 r

[2021-05-05 17:14] frankfliu commented on #940
@macster110 You also need include `tensorflow-native-auto` as dependency. See: http://docs.djl.ai/tensorflow/tensorflow-engine/index.html#installation

[2021-05-05 17:24] aksrajvanshi commented on #941
@frankfliu did we make any changes to the djl-serving tar file recently ?

[2021-05-05 17:38] macster110 commented on #940
All the required dependencies are in the jdl4pam library. I only have the tensorflow-engine dependency as an example to show how you can resolve this issue. But, this is not an ideal solution because it should just work when all enquired djl dependencies are bundled with jdl4pam.

[2021-05-05 17:56] frankfliu commented on #941
Yes this is a bug:
1. When we publish djl-serving brew package, it was based on 0.11.0-SNAPSHOT on March 23
2. On May, we updated djl-serving binary to 0.11.0 release version, but we didn't update brew package

What we can do is release a version 0.11.0-post1 in brew to address this issue.

[2021-05-05 18:04] cho-m commented on #941
@frankfliu
On Homebrew side, it is possible to just update SHA in linked PR once we have confirmation that this was an intended modification.

For future updates, it would be best to make sure the filename changes once published, otherwise the Formula will break.
This is especially the case for unbottled formulas like this.

[2021-05-05 19:05] wangtieqiao commented on #932
Looks might related to MxNet settings.

I saw tensorflow run with full cpu cores, while MxNet only use few of cores.
So believe might has nothing to do with the djl implementation.

[2021-05-05 19:05] #932 closed

[2021-05-06 08:17] hmf commented on #937
On my to-do list.
Thanks.

[2021-05-06 17:06] frankfliu commented on #940
@macster110
I cloned your project: git@github.com:macster110/jpam.git, but I'm not able to build the project. The dependency isn't configured properly.

Based on your description, it looks like your are trying to create a fat jar and include everything in the fat jar.
I noticed you include both pytorch and tensorflow eingine, both the jar file contains a file named:
[code]

When you merge the two

[2021-05-06 17:14] frankfliu commented on #937
@hmf
EasyTrain is a utility class. It doesn't make sense to have a class inherit to it. Even you have a subclass and you changed `trainSplit`, it's a completely independent class.

If you want to customize some of the behavior, the right way to do is add a new parameter to the training options, and EasyTrain will do different thing based on the option.

[2021-05-06 17:48] hmf commented on #937
@frankfliu How would one parametrize the requirements I described above? I don't think I can come up with a set of parameters that are generic enough to be useful for other users.  Also I only have this use case that seems very specific. Do you have any other functionality in mind that could/should be parametrized.

TIA

[2021-05-06 17:48] macster110 commented on #940
Thanks @frankfliu. I'll check out what's going on with jpam.

Does this mean that there is no easy way to bundle two engines in one jar using  djl? If this is the case, what is the recommended way to structure and then export a project using multiple engines and djl?

[2021-05-06 18:28] zachgk commented on #940
The Java service loader is a common pattern and there seem to be other solutions existing. A quick search turned up:
- https://stackoverflow.com/questions/42540485/how-to-stop-maven-shade-plugin-from-blocking-java-util-serviceloader-initializat
- https://stackoverflow.com/questions/47310215/merging-meta-inf-services-files-with-maven-assembly-plugin
- https://maven.apache.org/plugins/maven-shade-pl

[2021-05-07 00:51] saudet commented on #690
FYI, I've just updated JavaCPP to skip over all synchronized code when GC fallback is disabled, see https://github.com/bytedeco/javacpp/commit/d788390dc8ff02100006b14a53a847395ec63626. That may be able to help further with latency, but I'm not seeing any difference in my tests.

[2021-05-07 06:35] macster110 commented on #940
Thanks @zachgk . After the diagnosis of the issue from @frankfliu I managed to get the test project working by exporting in Eclipse and selecting _"package required libraries into generated jar"_ instead of _"extract packaged libraries into generated jar"._

The MAVEN shade plugin should be able to deal with this but I have been unsuccessful so far in getting it to work. I will post the solution h

[2021-05-07 11:40] nikkisingh111333 opened #945 "Segmentation Model Downloading Time error?"
hey ...i m using instance segmentation heres my code :
`Criteria<Image, DetectedObjects> criteria =
                Criteria.builder()
                        .optApplication(Application.CV.INSTANCE_SEGMENTATION)
                        .setTypes(Image.class, DetectedObjects.class)
                        .optFilter("backbone", "resnet18")
                        .optFilter("flavor", "v1b")